#!/bin/bash

set -euo pipefail

# https://docs.brew.sh/Installation#unattended-installation
export NONINTERACTIVE=1

set -x

brew update --quiet

{{- if .upgrade }}
brew upgrade --quiet
{{- end }}

{{- $brews := includeTemplate "package-list.tmpl" (merge (dict "packages" .packages.darwin.brews) .) | fromJson }}
{{- $casks := includeTemplate "package-list.tmpl" (merge (dict "packages" .packages.darwin.casks) .) | fromJson }}

brew bundle --file=/dev/stdin <<EOF
{{ range $brews | sortAlpha -}}
brew {{ . | quote }}
{{ end -}}
{{ range $casks | sortAlpha -}}
cask {{ . | quote }}
{{ end -}}
EOF
