#!/bin/sh

set -eu

# https://docs.brew.sh/Installation#unattended-installation
export NONINTERACTIVE=1

set -x

brew update --quiet

{{- if .upgrade }}
brew upgrade --quiet
{{- end }}

{{- $brews := includeTemplate "packages.tmpl" (mergeOverwrite . (dict "key" "brews") .) | fromJson }}
{{- $casks := includeTemplate "packages.tmpl" (mergeOverwrite . (dict "key" "casks") .) | fromJson }}

brew bundle --file=/dev/stdin <<EOF
{{ range $brews | sortAlpha -}}
brew {{ . | quote }}
{{ end -}}
{{ range $casks | sortAlpha -}}
cask {{ . | quote }}
{{ end -}}
EOF
