#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

if command -v nu; then
  echo "Already installed" >&2
  run nu --version
  exit
fi

echo "Installing nushell" >&2
{{- if eq .osIDLike "debian" }}
export DEBIAN_FRONTEND=noninteractive
if [ ! -f /etc/apt/trusted.gpg.d/fury-nushell.gpg ]; then
  run curl -fsSL https://apt.fury.io/nushell/gpg.key | sudo gpg --dearmor -o /etc/apt/trusted.gpg.d/fury-nushell.gpg
fi
if [ ! -f /etc/apt/sources.list.d/fury.list ]; then
  echo "deb https://apt.fury.io/nushell/ /" | run sudo tee /etc/apt/sources.list.d/fury.list
  run sudo apt-get update --quiet >/dev/null
fi
run sudo -E apt-get install --quiet --yes nushell >/dev/null
# if [ -d "$HOME/.config/nushell" ]; then
#   run sudo chown -R "$USER:$USER" "$HOME/.config/nushell"
# fi
{{- else if eq .osID "fedora" }}
if [ ! -f /etc/yum.repos.d/fury-nushell.repo ]; then
  echo "[gemfury-nushell]
name=Gemfury Nushell Repo
baseurl=https://yum.fury.io/nushell/
enabled=1
gpgcheck=0
gpgkey=https://yum.fury.io/nushell/gpg.key" | run sudo tee /etc/yum.repos.d/fury-nushell.repo
fi
if command -v dnf >/dev/null; then
  sudo dnf install --assumeyes --quiet nushell
else
  run rpm-ostree install --allow-inactive --assumeyes --idempotent nushell
fi
{{- end }}
echo "Installed nushell" >&2

# # https://github.com/idanarye/nu_plugin_skim
# cargo install --locked nu_plugin_skim
# plugin add ~/.local/share/cargo/bin/nu_plugin_skim
