/* TODO: arc theme */
/* https://github.com/ghostty-org/ghostty/discussions/3185#discussioncomment-11673514 */
popover.menu contents {
  /* base02 */
  /* background-color: #252936; */
  /* base01 */
  /* border: 1px solid #1f222d; */
  border-radius: {{ .i3.borderRadius }};
  box-shadow: none;
}

/* .thunar { font-size: FIXME } */
