# https://github.com/twpayne/dotfiles/blob/master/home/dot_config/git/config.tmpl

[alias]
	a = add
	b = branch
	ca = !git add -A && git commit -av
	co = checkout
	cp = cherry-pick
	d = diff
	p = push
	r = restore
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive
	s = status --branch --short

[pull]
	rebase = true

[include]
	path = "~/.gitconfig.local"

{{- if lookPath "difft" }}

[diff]
	external = difft
{{- else if lookPath "delta" }}

[include]
	path = delta.ini
{{- end }}

[includeIf "gitdir:~/src/github.com/"]
	path = github.ini
[includeIf "hasconfig:remote.*.url:git@github.com:*/**"]
	path = github.ini
[includeIf "hasconfig:remote.*.url:https://github.com/*/**"]
	path = github.ini

[includeIf "gitdir:~/src/gitlab.com/"]
	path = gitlab.ini
[includeIf "hasconfig:remote.*.url:git@gitlab.com:*/**"]
	path = gitlab.ini
[includeIf "hasconfig:remote.*.url:https://gitlab.com/*/**"]
	path = gitlab.ini

{{- if (get . "personal") }}

[includeIf "gitdir:~/src/{{ .personal.git_host }}/"]
	path = personal.ini
[includeIf "hasconfig:remote.*.url:git@{{ .personal.git_host }}:*/**"]
	path = personal.ini
[includeIf "hasconfig:remote.*.url:https://{{ .personal.git_host }}/*/**"]
	path = personal.ini
{{- end }}

{{- if (get . "work") }}

[includeIf "gitdir:~/src/{{ .work.git_host }}/"]
	path = work.ini
[includeIf "hasconfig:remote.*.url:git@{{ .work.git_host }}:*/**"]
	path = work.ini
[includeIf "hasconfig:remote.*.url:https://{{ .work.git_host }}/*/**"]
	path = work.ini
{{- end }}

[ghq]
	root = ~/src
