# https://github.com/twpayne/dotfiles/blob/master/home/dot_config/git/config.tmpl

[alias]
	a = add
	b = branch
	ca = !git add -A && git commit -av
	co = checkout
	cp = cherry-pick
	d = diff
	p = push
	r = restore
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive
	s = status --branch --short

[pull]
	rebase = true

[include]
	path = "~/.gitconfig.local"

{{- if lookPath "difft" }}

[diff]
	external = difft
{{- else if lookPath "delta" }}

[include]
	path = delta.ini
{{- end }}

# [url "git@github.com:"]
# 	insteadOf = "gh:"
# 	pushInsteadOf = "github:"
# 	pushInsteadOf = "git://github.com/"

# [url "git://github.com/"]
# 	insteadOf = "github:"

# [url "git@gist.github.com:"]
# 	insteadOf = "gst:"
# 	pushInsteadOf = "gist:"
# 	pushInsteadOf = "git://gist.github.com/"

# [url "git://gist.github.com/"]
# 	insteadOf = "gist:"

{{- range $name, $account := .git }}

[includeIf "gitdir:~/src/{{ $account.host }}/"]
	path = {{ $name }}.ini
[includeIf "hasconfig:remote.*.url:git@{{ $account.host }}:*/**"]
	path = {{ $name }}.ini
[includeIf "hasconfig:remote.*.url:https://{{ $account.host }}/*/**"]
	path = {{ $name }}.ini
{{- end }}

[ghq]
	root = ~/src

{{- if and (get .git "github") (get .git.github "user") }}

[github]
	user = {{ .git.github.user | quote }}
	token = {{ keyring "github" .git.github.user | quote }}
{{- end }}
