{{- if get .git "github" }}
{{- includeTemplate "git-config.tmpl" (mergeOverwrite .git.github (dict "name" .name "sh" .sh)) -}}
{{- end }}

{{- if and (get .git "github") (get .git.github "user") }}

[github]
	user = {{ .git.github.user | quote }}
	token = {{ keyring "github" .git.github.user | quote }}
{{- end }}

# [hub]
# 	protocol = https
