{{- if (get . "personal") }}
{{- $signingKey := includeTemplate "gpg-signing-key.tmpl" (dict "email" .personal.email "sh" .sh) -}}
[user]
	name = {{ get .personal "name" | default .name | quote }}
	email = {{ .personal.email | quote }}
	signingkey = {{ $signingKey | quote }}

[commit]
	gpgsign = {{ $signingKey | not | not }}
{{- end }}
