{{ if (get . "gitlab") -}}
[user]
	name = {{ get .gitlab "name" | default .name | quote }}
	email = {{ .gitlab.email | quote }}
	signingkey = {{ includeTemplate "gpg-signing-key.tmpl" (dict "email" .gitlab.email "sh" .sh) | quote }}

[commit]
	gpgsign = true
{{- end }}
