{{- if (get . "gitlab") }}
{{- $signingKey := includeTemplate "gpg-signing-key.tmpl" (dict "email" .gitlab.email "sh" .sh) -}}
[user]
	name = {{ get .gitlab "name" | default .name | quote }}
	email = {{ .gitlab.email | quote }}
	signingkey = {{ $signingKey | quote }}

[commit]
	gpgsign = {{ $signingKey | not | not }}
{{- end }}
