{{- if lookPath "glab" | isExecutable -}}
#!/bin/sh

set -eu

lib_dir="$CHEZMOI_WORKING_TREE/home/dot_local/lib"
# shellcheck source=home/dot_local/lib/sh/log.sh
. "$lib_dir/sh/log.sh"
# shellcheck source=home/dot_local/lib/sh/run.sh
. "$lib_dir/sh/run.sh"

if ! command -v glab >/dev/null; then
  exit
fi

# run glab check-update

# run glab auth status

# hostname="$(hostname)"
# if ! run glab ssh-key list | tr '\t' ' ' | cut -d' ' -f1 | grep -q "$hostname"; then
#   echo "No SSH key found for: $hostname" >&2
# fi

{{- if and (hasKey . "git") (hasKey .git "gitlab") (hasKey .git.gitlab "email") }}

gitlab_email="{{ .git.gitlab.email }}"
{{- end }}
{{ end -}}
