{{- if lookPath "glab" -}}
#!/bin/sh

set -eu

if ! command -v glab >/dev/null; then
  exit
fi

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

# cmd glab check-update

# cmd glab auth status

hostname="$(hostname)"
if ! cmd glab ssh-key list | tr '\t' ' ' | cut -d' ' -f1 | grep "$hostname"; then
  echo >&2 "No SSH key found for: $hostname"
fi

{{ if get . "gitlab" -}}
gitlab_email="{{ .gitlab.email }}"
{{- end }}
{{- end -}}
