#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

if command -v tmux >/dev/null && tmux -V; then
  echo >&2 "Already installed" # {{ output "sh" "-c" "command -v tmux || true" }}
  exit
fi

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

echo >&2 "Installing tmux"

{{- if eq .chezmoi.os "darwin" }}
export NONINTERACTIVE=1
cmd brew install --quiet tmux
{{- else if eq .osid "alpine" }}
cmd sudo apk add --quiet tmux
{{- else if eq .osid "arch" }}
cmd sudo pacman --sync --needed --noconfirm --quiet tmux
{{- else if eq (get .chezmoi.osRelease "id") "debian" }}
export DEBIAN_FRONTEND=noninteractive
cmd sudo -E apt-get install --quiet --yes tmux >/dev/null
{{- else if eq (get .chezmoi.osRelease "id") "ubuntu" }}
export DEBIAN_FRONTEND=noninteractive
cmd sudo -E apt-get install --quiet --yes tmux >/dev/null
{{- else if eq .osid "android" }}
cmd apt-get install --quiet --yes tmux >/dev/null
{{- else }}
err "Unknown OS: $CHEZMOI_OS $CHEZMOI_OS_RELEASE_ID"
{{- end }}

echo >&2 "Installed tmux"
