{{- $key := .features.mlx | ternary "mlx-lm" "ollama" -}}
{{- $provider := get .ai.providers $key -}}
{{- $fastModel := get (get .ai.models (get .ai.profiles.local "fast")) $key -}}
{
  "host": "localhost:{{ $provider.port }}",
  "model": {{ $fastModel | quote }},
  "shortcut": "mod+shift+o",
  "custom_prompt_block": "Translate in French : ",
  "disabled": false
}
{{- /* No newline at end of file */ -}}
