---
# https://git.meli-email.org/meli/meli/src/branch/master/meli/docs/samples/sample-config.toml
accounts:
{{- range $name, $account := .meli.accounts }}
{{- if eq (substr 0 3 $name) "out" }}
{{-   continue }}
{{- end }}
  {{ $name }}:
{{- $defaults := (dict
  "format" "imap"
  "identity" ($account.send_mail.auth.username | default $account.server_username)
  "root_mailbox" "INBOX"
  "use_oauth2" (get $account "use_oauth2" | default false)
  "use_starttls" (get $account "use_starttls" | default false)
  "use_tls" (get $account "use_tls" | default true)
) }}
{{ mergeOverwrite $defaults $account | toYaml | indent 4 }}
    # server_password_command: "get password {} | base64"

    listing:
      index_style: threaded # compact, conversations, threaded, plain

    # Show only specific mailboxes, overriding the server's subscribed status.
    # subscribed_mailboxes: ["INBOX", "INBOX/Sent", "INBOX/Drafts", "INBOX/Junk"]
    subscribed_mailboxes: ["*"]

    mailboxes:
      INBOX:
        autoload: {{ get $account "autoload" | default false }}
        subscribe: {{ get $account "subscribe" | default false }}
      # INBOX/DRAFT:
      #   alias: Drafts
      #   usage: Drafts
      # INBOX/OUTBOX:
      #   alias: Sent
      #   usage: Sent
      # INBOX/QUARANTAINE:
      #   alias: Spam
      #   usage: Junk
      # INBOX/TRASH:
      #   alias: Trash
      #   usage: Trash
{{- end }}

# pager:
#   filter: "COLUMNS=72 /usr/local/bin/pygmentize -l email"
#   html_filter: "w3m -I utf-8 -T text/html"

# notifications:
#   script: "notify-send"

composing:
  # Required for sending e-mail
  # send_mail: msmtp --read-recipients --read-envelope-from
  # send_mail: { hostname: "smtp.example.com", port: 587, auth: { type: "auto", username: "user", password: { type: "command_eval", value: "gpg2 --no-tty -q -d ~/.passwords/user.gpg" } }, security: { type: "STARTTLS" } }
  # editor_command: "vim +/^$"
  # embedded_pty: true
  insert_user_agent: false
  store_sent_mail: true

shortcuts:
  # composing:
  #   edit: e
  listing:
    # new_mail: m
    # set_seen: n
    next_account: L
    prev_account: H

terminal:
  progress_spinner_sequence: 3
  theme: dark
