root = true

[*]
indent_style = space
indent_size = 2

root = true

[*.json{,5,c}]
indent_style = space
indent_size = 2

[*.lua{,.tmpl}]
indent_style = space
indent_size = 2
quote_type = single

[*.{sh,bash,bats}]
indent_style = space
indent_size = 2

[{script/*,*/.local/bin/*}]
indent_style = space
indent_size = 2
