[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vim/bundle/plug"]
	path = vim/bundle/plug
	url = https://github.com/vim-scripts/vim-plug
