[defaults]
inventory = hosts

# Additional paths to search for roles in, colon separated
roles_path = roles:roles.os:roles.galaxy

# Set plugin path directories
filter_plugins = /usr/share/ansible/plugins/filter:plugins/filters
# callback_plugins = plugins/callbacks

# Enable a list of additional callbacks
# callback_whitelist = profile_tasks

# Replace output callback
# stdout_callback = human_log

# By default, a .retry file will be created in ~/ when a playbook fails
retry_files_enabled = false
# retry_files_save_path = ~/.ansible-retry

# Format of string {{ ansible_managed }} available within Jinja2
# templates indicates to users editing templates files will be replaced
# Replacing {file}, {host} and {uid} and strftime codes with proper values
#ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
# This short version is better used in templates as it won't flag the file as changed every run
ansible_managed = Ansible managed: {file} on {host}

# 2.1.0
# display_args_to_stdout = true
# display_skipped_host = false
