[defaults]
hostfile = inventory
roles_path = roles.galaxy:roles.core:roles
retry_files_enabled = false
filter_plugins = plugins/filters
# callback_plugins = plugins/callbacks
callback_whitelist = profile_tasks
# stdout_callback = human_log
