---
networks:
  test:
services:
  alpine-latest:
    # container_name: "alpine-latest"
    hostname: "alpine-latest"
    # image: "alpine:latest"
    build:
      context: .
      # no_cache: true
      dockerfile_inline: |
        FROM alpine:latest
        RUN apk update --quiet && apk add bash chezmoi curl sudo unzip
        COPY script/create-test-user /opt/create-test-user
        RUN USER=test /opt/create-test-user
        USER test
        ENV HOME=/home/test
        WORKDIR /home/test/.local/share/chezmoi
        RUN ls -la
        # COPY . .
    environment:
      - USER=test
    # entrypoint: ["/bin/sh", "-ceiux"]
    # command:
    #   - sh
    #   - -ceiux
    #   - |
    #     ./script/container bootstrap
    volumes:
      # - /var/home/lei/.local/share/chezmoi:/root/.local/share/chezmoi
      - /var/home/lei/.local/share/chezmoi:/home/test/.local/share/chezmoi
    networks:
      - test
    stdin_open: true
    tty: true
    # user: "root"
    # working_dir: /root/.local/share/chezmoi
