" Vim Plug
" {{ ansible_managed }}

function! YCMInstall(info)
  " The variable a:info is a dictionary with 3 fields:
  " - name: name of the plugin
  " - status: 'installed', 'updated', or 'unchanged'
  " - force: set on PlugInstall! or PlugUpdate!
  if a:info.status == 'installed' || a:info.force
    " The following additional language support options are available
    " - C# support: add --omnisharp-completer to ./install.py
    " - Go support: ensure go is installed and add --gocode-completer
    " - TypeScript support: install nodejs and npm then install the TypeScript SDK with npm install -g typescript.
    " - JavaScript support: install nodejs and npm and add --tern-completer when calling ./install.py
    " - Rust support: install rustc and cargo and add --racer-completer when calling ./install.py
    !./install.py --tern-completer
  endif
endfunction

{% if vim_extras | bool %}
let g:vim_config = '{{ vim_extra_config }}'
{% endif %}

call plug#begin('{{ vim_plugins_path }}')

{% macro plug(plugin) -%}
Plug '{{ plugin.repo | default(plugin) }}'{{ ', ' + (plugin.opts | to_json | regex_replace('"', '\'') | regex_replace('\'(function)(.*)\'(,|})', '\\1\\2\\3')) if plugin.opts is defined else '' }}
{%- endmacro %}
{% if vim_extras | bool %}{% set vim_plugins = vim_plugins + vim_extra_plugins %}{% endif %}
{% for plugin in vim_plugins %}
{# if not vim_ignore_plugins | select('match', plugin.repo | default(plugin)) | list #}
{% if plugin.repo | default(plugin) in vim_ignore_plugins %}" {% endif %}
{{ plug(plugin) }}{% if plugin.plug is defined %}{% for p in plugin.plug %} | {{ plug(p) }}{% endfor %}{% endif %}

{% endfor %}

" Add plugins to &runtimepath
call plug#end()

" autocmd! User YouCompleteMe if !has('vim_starting') | call youcompleteme#Enable() | endif
" command! YCM call YCMEnable()
function! YCMEnable()
  if !exists('g:loaded_youcompleteme')
    call plug#load('YouCompleteMe')
  endif
  if exists('g:loaded_youcompleteme')
    call youcompleteme#Enable()
  endif
endfunction

function! SyntasticEnable()
  if !exists('g:loaded_syntastic_plugin')
    call plug#load('syntastic')
  endif
endfunction

function! s:VimPlug()
  if &ft != 'gitcommit'
    call YCMEnable()
  endif
  call SyntasticEnable()
endfunction

augroup VimPlug
  autocmd!
  autocmd VimEnter * redrawstatus | call s:VimPlug() | autocmd! VimPlug
augroup END
