{{- $data := dict -}}
{{- $mcp := includeTemplate "mcp.jsonc" . | fromJsonc -}}
{{- $_ := $data | setValueAtPath "mcpServers" $mcp.servers }}
{{- $_ := $data | setValueAtPath "inputs" $mcp.inputs }}
{{- $data | toPrettyJson -}}
