{{- $settings := includeTemplate "dot_config/Code/User/.settings.json" | fromJson -}}
{{- /* $mcp := includeTemplate "mcp.jsonc" . | fromJsonc */ -}}
{{- /* $_ := $settings | setValueAtPath "mcp" $mcp.servers */ -}}
{{- /* $_ := $settings | setValueAtPath "inputs" $mcp.inputs */ -}}
{{- $settings | toPrettyJson }}
