[ "${BENCH:-}" = true ] && echo >&2 "Loaded .profile ($-)"

# shellcheck disable=SC1090
[ -f ~/.sh_profile ] && . ~/.sh_profile

{{- if .features.i3 }}

{{- range $key, $value := .i3.environment }}
export {{ $key }}={{ $value | quote }}
{{- end }}
{{- end }}
