{{- if .features.node }}
{{- if lookPath "neovim-node-host" | isExecutable -}}
" By default, Nvim searches for "neovim-node-host" using "npm root -g"
let g:node_host_prog = '{{ lookPath "neovim-node-host" }}'
{{- end }}
{{- else }}
" Disable Node.js support
let g:loaded_node_provider = 0
{{- end }}

" let g:db_ui_dotenv_variable_prefix = 'MYPREFIX_'

" let g:db_ui_env_variable_name = 'DATABASE_NAME'
" let g:db_ui_env_variable_url = 'DATABASE_URL'

" function s:resolve_production_url()
"   let url = system('get-prod-url')
"   return url
" end

" let g:dbs = [
" \ { 'name': 'postgres', 'url': 'postgres://postgres:postgres@localhost:5432/postgres' }
" \ { 'name': 'production', 'url': function('s:resolve_production_url') },
" \ ]
