{{- if hasKey . "ai" -}}
{{- $localProvider := .features.mlx | ternary "mlx-lm" "ollama" -}}
{{- $localEnabled := or (get (get .ai.providers "mlx-lm") "enabled") (get (get .ai.providers "ollama") "enabled") -}}
{{- $_ := set .ai "localProvider" $localProvider -}}
{{- $_ := set (get .ai.providers $localProvider) "enabled" $localEnabled -}}
{{- range $name, $p := .ai.providers -}}
{{- if or (not (hasKey $p "requires")) (index $.features (get $p "requires")) }}{{ continue }}{{ end -}}
{{- $_ := set $p "enabled" false -}}
{{- end -}}
{{- end -}}
