{{- $suffix := printf "%s/%s" (.chezmoi.sourceDir | replace .chezmoi.homeDir "~") .chezmoi.sourceFile -}}
{{- $commentString := . | get "commentString" | default "#" }}
{{- $prefix := printf "%[1]s%[1]s%[1]s" $commentString }}
{{- .chezmoi.stdin | replaceAllRegex (printf "(?s)\r?\n?%[1]s START.*?\r?\n(.*)%[1]s END.*?\r?\n" $prefix) "" }}
{{ $prefix }} START {{ $suffix }}

{{ .contents }}
{{ $prefix }} END {{ $suffix }}
