{{- $contents := get . "contents" -}}
{{- $stdin := get .chezmoi "stdin" -}}
{{- $suffix := printf "%s/%s" (.chezmoi.sourceDir | replace .chezmoi.homeDir "~") .chezmoi.sourceFile -}}
{{- $commentString := get . "commentString" | default "#" -}}
{{- $prefix := printf "%[1]s%[1]s%[1]s" $commentString -}}
{{- $before := $stdin | replaceAllRegex (printf "(?s)(\r?\n?)%[1]s START .*%[1]s END .*" $prefix) "${1}" -}}
{{- $after := $stdin | replaceAllRegex (printf "(?s).*%[1]s START .*%[1]s END .*?\r?\n" $prefix) "" -}}
{{- $hadBlock := ne $stdin $after -}}
{{- $before = trim $before -}}
{{- $after = trim $after -}}
{{- if $before }}{{ $before }}

{{ end -}}
{{ $prefix }} START {{ $suffix }}

{{- if not (empty $contents) }}

{{ $contents | trim }}
{{- end }}

{{ $prefix }} END {{ $suffix }}
{{- if and $after $hadBlock }}

{{ $after }}
{{- end }}
