---
{{ $baseURL := . | get "baseURL" | default "https://github.com" -}}
{{ $entries := . | get "entries" | default dict -}}

{{- if empty $entries }}
{{-   warnf "missing entries: %s" .chezmoi.sourceFile }}
{{- end }}

{{ range $name, $entry := $entries -}}
{{ if ne ($entry | get "tag") "" -}}
{{ $base := $entry | get "url" | default (printf "%s/%s" $baseURL $entry.repo) -}}
{{ $url := printf "%s/archive/refs/tags/%s.tar.gz" $base $entry.tag -}}
{{ $.baseDir }}/{{ $name }}:
  type: archive
  url: {{ $url | quote }}
  exact: {{ $entry | get "exact" | default true }}
  stripComponents: {{ $entry | get "stripComponents" | default 1 }}
  refreshPeriod: {{ $entry | get "refreshPeriod" | default 0 }}
{{ else -}}
{{ $base := $entry | get "url" | default (printf "%s/%s" $baseURL $entry.repo) -}}
{{ $url := printf "%s.git" $base -}}
{{ $.baseDir }}/{{ $name }}:
  type: git-repo
  url: {{ $url | quote }}
  refreshPeriod: {{ $entry | get "refreshPeriod" | default "168h" }}
  clone:
    args:
      {{ if ne ($entry | get "branch") "" -}}
      - --branch={{ $entry.branch }}
      {{ end -}}
      - --depth=1
  pull:
    args:
      - --depth=1
      # - --tags=
{{ end -}}
{{ end -}}
