{{- $stateHome := env "XDG_STATE_HOME" | default (joinPath .chezmoi.homeDir ".local" "state") -}}
{{- $stateDir := env "CLAUDE_STATE_DIR" | default (joinPath $stateHome "claude") -}}
{
  "preferences": {
    "chillingSlothLocation": {
      "customPath": {{ joinPath $stateDir "worktrees" | quote }}
    },
    "launchPreviewPersistSession": false,
    "launchPreviewPersistedWorkspaces": [],
    "dispatchCodeTasksPermissionMode": "default",
    "coworkScheduledTasksEnabled": true,
    "ccdScheduledTasksEnabled": true,
    "sidebarMode": "epitaxy",
    "coworkWebSearchEnabled": true,
    "keepAwakeEnabled": false,
    "dockBounceEnabled": true,
    {{- if eq .os "darwin" }}
    "quickEntryShortcut": {
      "accelerator": "Alt+Space"
    },
    {{- else if eq .osIDLike "fedora" }}
    "localAgentModeTrustedFolders": [
      "/usr/lib/claude-desktop/node_modules/electron/dist/resources/app.asar"
    ]
    {{- end }}
  }
}{{- /* No newline at end of file */ -}}
