---
{{ $baseURL := get . "baseURL" | default "https://github.com" -}}
{{ range $name, $package := .packages -}}
{{ if ne (get $package "tag") "" -}}
{{ $base := get $package "url" | default (printf "%s/%s" $baseURL $package.repo) -}}
{{ $url := printf "%s/archive/refs/tags/%s.tar.gz" $base $package.tag -}}
{{ $.baseDir }}/{{ $name }}:
  type: archive
  url: {{ $url | quote }}
  exact: {{ get $package "exact" | default true }}
  stripComponents: {{ get $package "stripComponents" | default 1 }}
  refreshPeriod: {{ get $package "refreshPeriod" | default 0 }}
{{ else -}}
{{ $base := get $package "url" | default (printf "%s/%s" $baseURL $package.repo) -}}
{{ $url := printf "%s.git" $base -}}
{{ $.baseDir }}/{{ $name }}:
  type: git-repo
  url: {{ $url | quote }}
  refreshPeriod: {{ get $package "refreshPeriod" | default "168h" }}
  clone:
    args:
      {{ if ne (get $package "branch") "" -}}
      - --branch={{ $package.branch }}
      {{ end -}}
      - --depth=1
  pull:
    args:
      - --depth=1
      # - --tags=
{{ end -}}
{{ end -}}
