{{- $data := includeTemplate ".chezmoidata/features.yaml" | fromYaml -}}
{{- $features := $data.features -}}

{{- if eq .osid "alpine" }}

{{- /* Alpine */ -}}
{{- $features = mergeOverwrite $features (dict
  "go" false
  "neovim" false
  "node" false
  "rust" false
  "tmux" false
  "vim" false
  "zellij" false
) -}}

{{- else if eq .osid "android" }}

{{- /* Termux */ -}}
{{- $features = mergeOverwrite $features (dict
  "neovim" true
  "tmux" true
  "vim" true
  "zellij" true
) -}}

{{- else if eq .osid "arch" }}

{{- /* Archlinux/Manjaro */ -}}
{{- $features = mergeOverwrite $features (dict
  "ai" true
  "docker" true
  "ghostty" true
  "go" true
  "kube" true
  "neovim" true
  "node" true
  "php" true
  "rust" true
  "sql" true
  "tmux" true
  "vim" true
  "zellij" true
  "zsh" true
) -}}

{{- else if eq .osid "debian" }}

{{- /* Debian/Ubuntu */ -}}
{{- $features = mergeOverwrite $features (dict
  "docker" false
  "ghostty" true
  "go" true
  "kube" true
  "neovim" true
  "node" true
  "php" true
  "rust" true
  "sql" true
  "tmux" true
  "vim" true
  "zellij" true
) -}}

{{- else if eq .chezmoi.os "darwin" }}

{{- /* macOS */ -}}
{{- $features = mergeOverwrite $features (dict
  "ai" true
  "bash" false
  "docker" true
  "ghostty" true
  "git" false
  "go" true
  "kube" true
  "neovim" true
  "node" true
  "php" true
  "rust" true
  "sql" true
  "tmux" true
  "vim" true
  "zellij" true
  "zsh" false
) -}}

{{- else if eq .chezmoi.os "windows" }}

{{- /* Windows */ -}}
{{- $features = mergeOverwrite $features (dict
) -}}

{{- end }}

{{- if or .codespaces .devContainer .ephemeral .headless }}
{{- $features = mergeOverwrite $features (dict
  "ghostty" false
  "go" false
  "helix" false
  "kube" false
  "neovim" false
  "node" false
  "rust" false
  "vim" false
) -}}
{{- end }}

{{- $features | toJson -}}
