{{- $ai := and
    (eq .osIDLike "arch" "darwin" "fedora")
    (ne .profile "minimal")
    (or (hasPrefix "fr" .hostname) (hasPrefix "mb" .hostname))
-}}
{{- $docker := and (eq .osIDLike "arch" "darwin" "fedora") .gui -}}
{{- $podman := and (eq .osIDLike "arch" "darwin" "fedora") .gui -}}
{{- $features := (dict
  "ai" $ai
  "atuin" (and
    (not (or
      (and (eq .osID "debian") (le (int .osVersion) 12))
      (and (eq .osID "ubuntu") (le (float64 .osVersion) 24.04))
      (eq .os "windows")))
    (ne .profile "minimal"))
  "bash" (or .ci (ne .profile "minimal"))
  "bat" (ne .profile "minimal")
  "bottom" .gui
  "brew" (not (eq .osIDLike "alpine" "android" "windows"))
  "carapace" true
  "direnv" true
  "docker" $docker
  "eza" (ne .profile "minimal")
  "ghostty" (and
    (gt .glibc 2.31)
    (not (and (eq .osID "ubuntu") (le (float64 .osVersion) 22.04)))
    (not (eq .os "android" "windows"))
    .gui)
  "git" .gui
  "go" false
  "goss" (and (ne .profile "minimal"))
  "gpg" false
  "helix" (and
    (not (and (eq .osIDLike "debian") (gt .glibc 2.31)))
    (not (or .ephemeral .headless)))
  "i3" (and (eq .osIDLike "arch") .gui)
  "kube" false
  "lla" false
  "logseq" false
  "mail" (and (eq .osIDLike "arch") (not (empty .accessToken)))
  "mise" true
  "neovim" (and
    (not (eq .osIDLike "alpine"))
    (not (or .ephemeral .headless)))
  "node" (and
    (not (eq .osIDLike "alpine"))
    (not (or .ephemeral .headless)))
  "nushell" .gui
  "oage" (and $ai (or $docker $podman))
  "otel" (or $docker $podman)
  "php" false
  "podman" $podman
  "python" .gui
  "rest" false
  "ripgrep" true
  "ruby" false
  "rust" false
  "sheldon" (ne .os "windows")
  "shpool" false
  "sql" (and (eq .osIDLike "arch" "darwin" "debian" "fedora") (not (or .ephemeral .headless)))
  "ssh" false
  "steam" (and (eq .osIDLike "arch" "fedora" "windows") (eq .profile "personal"))
  "sway" false
  "tmux" (eq .osIDLike "alpine" "android" "arch" "darwin" "debian" "fedora")
  "tofu" false
  "topgrade" (and .gui (gt .glibc 2.31))
  "vim" (and
    (not (eq .osIDLike "alpine"))
    (not (or .ephemeral .headless)))
  "void" (and (eq .osIDLike "arch") .gui)
  "vscode" (and (eq .osIDLike "arch" "fedora" "darwin") .gui)
  "vscodium" (and (eq .osIDLike "arch" "fedora") .gui)
  "zellij" (eq .osIDLike "alpine" "android" "arch" "darwin" "debian" "fedora")
  "zoxide" true
  "zsh" false
) -}}
{{- /* "node" (eq .osIDLike "android" "arch" "darwin" "debian" "fedora" "windows")*/ -}}

{{- if ne .profile "minimal" }}
{{- $features = mergeOverwrite $features (dict
  "go" (and (eq .osIDLike "alpine" "arch" "darwin" "debian" "fedora") (not (or .ephemeral .headless)))
  "gpg" (eq .osIDLike "arch" "darwin")
  "kube" (and (eq .osIDLike "arch" "darwin" "debian" "fedora") (not (or .ephemeral .headless)))
  "logseq" (and (eq .osIDLike "arch" "darwin") (not (or .ephemeral .headless)))
  "python" (not (or .ephemeral .headless))
  "ruby" (and (not (eq .os "windows")) (not (or .ephemeral .headless)))
  "rust" (and (eq .osIDLike "arch" "darwin" "debian" "fedora") (not (or .ephemeral .headless)))
  "tofu" (eq .osIDLike "arch" "darwin")
  "zsh" true
) -}}
{{- /* "lla" (eq .osID "arch" "darwin") */ -}}
{{- end }}

{{- if eq .osID "alpine" }}
{{- $features = mergeOverwrite $features (dict
) -}}
{{- else if eq .osID "android" }}
{{- $features = mergeOverwrite $features (dict
) -}}
{{- else if eq .osIDLike "arch" }}
{{- $features = mergeOverwrite $features (dict
  "php" true
  "ssh" true
) -}}
{{- else if eq .os "darwin" }}
{{- $features = mergeOverwrite $features (dict
  "php" true
  "ssh" true
) -}}
{{- else if eq .osIDLike "debian" }}
{{- $features = mergeOverwrite $features (dict
  "php" true
  "ssh" true
) -}}
{{- else if eq .osIDLike "fedora" }}
{{- $features = mergeOverwrite $features (dict
  "ssh" true
) -}}
{{- else if eq .os "windows" }}
{{- $features = mergeOverwrite $features (dict
) -}}
{{- end }}

{{- if or .ephemeral .headless }}
{{- $features = mergeOverwrite $features (dict
  "go" false
  "tmux" false
  "zellij" false
) -}}
{{- end }}

{{- range $name, $default := $features }}
{{- $key := upper (printf "FEATURE_%s" $name) -}}
{{- $value := env $key -}}
{{- if empty $value -}}
{{-   $value = $default -}}
{{- end -}}
{{- $_ := set $features $name $value -}}
{{- end -}}

{{- $features | toJson -}}
