{{- $data := includeTemplate ".chezmoidata/features.yaml" | fromYaml -}}
{{- $features := $data.features -}}

{{- if ne .profile "minimal" }}
{{- $features = mergeOverwrite $features (dict
  "atuin" true
  "bash" true
  "git" true
  "kube" true
  "helix" true
  "nushell" true
  "topgrade" true
) -}}
{{- end }}

{{- if or (hasPrefix "fr" .hostname) (hasPrefix "mb" .hostname) -}}
{{- $features = mergeOverwrite $features (dict
  "ai" true
) -}}
{{- end }}

{{- if eq .osID "alpine" }}
{{- $features = mergeOverwrite $features (dict
  "go" false
  "neovim" false
  "node" false
  "rust" false
  "tmux" false
  "vim" false
  "zellij" false
) -}}
{{- else if eq .osID "android" }}
{{- $features = mergeOverwrite $features (dict
  "docker" false
  "kube" false
  "neovim" true
  "tmux" true
  "vim" true
  "zellij" true
) -}}
{{- else if eq .osIDLike "arch" }}
{{- $features = mergeOverwrite $features (dict
  "docker" true
  "ghostty" true
  "go" true
  "kube" true
  "neovim" true
  "node" true
  "php" true
  "rust" true
  "sql" true
  "tmux" true
  "vim" true
  "void" true
  "vscode" true
  "vscodium" true
  "zellij" true
  "zsh" true
) -}}
{{- else if eq .osIDLike "debian" }}
{{- $glibc231 := (or
  (and (eq .osID "debian") (le (int .osVersion) 11))
  (and (eq .osID "ubuntu") (le (float64 .osVersion) 20.04))
) -}}
{{- $features = mergeOverwrite $features (dict
  "atuin" (not $glibc231)
  "docker" false
  "ghostty" (not $glibc231)
  "go" true
  "helix" (not $glibc231)
  "kube" false
  "neovim" true
  "node" true
  "php" true
  "rust" true
  "sql" true
  "tmux" true
  "topgrade" (not $glibc231)
  "vim" true
  "zellij" true
) -}}
{{- else if eq .chezmoi.os "darwin" }}
{{- $features = mergeOverwrite $features (dict
  "bash" false
  "docker" true
  "ghostty" true
  "git" false
  "go" true
  "kube" true
  "neovim" true
  "node" true
  "php" true
  "rust" true
  "sql" true
  "tmux" true
  "vim" true
  "zellij" true
  "zsh" false
) -}}
{{- else if eq .chezmoi.os "windows" }}
{{- $features = mergeOverwrite $features (dict
) -}}
{{- end }}

{{- if or .codespaces .devContainer .ephemeral .headless }}
{{- $features = mergeOverwrite $features (dict
  "ghostty" false
  "go" false
  "helix" false
  "neovim" false
  "node" false
  "rust" false
  "vim" false
) -}}
{{- end }}

{{- $features | toJson -}}
