{{- /* TODO(init): gpg --list-keys --with-colons | jc --gpg */ -}}
{{- $cmd := printf "gpg --list-keys | grep %s -B1 | head -n1 | tr -s ' ' | cut -d' ' -f11-14 | tr -d ' \n'" (.email | quote) -}}
{{- output "sh" "-c" $cmd | trim -}}
