# export CHEZMOI_GITHUB_ACCESS_TOKEN=""
{{- if not (or .ephemeral .headless) }}
# export GITHUB_ACCESS_TOKEN=""
{{- end }}

{{- if .features.ai }}

# export CLAUDE_CODE_MARKETPLACES="local:/path/to/plugin,marketplace:owner/repo"
# export CLAUDE_CODE_PLUGINS="local@local,myplugin@mymarketplace"
{{- end }}

{{- if .features.oage }}

# export OPENROUTER_API_KEY=""
{{- end }}

# export SSH_PROXIES="tunnel+type://proxy/remoteHost:localPort#name"

# host() { ssh-cd host /var/www/app; }
# host-logs() { ssh-tail host /var/log 'tail -f *.log' tspin; }
