{{- $packages := list -}}
{{- range $pkg := includeTemplate "packages.tmpl" . | fromJson -}}
{{-   $name := "" -}}
{{-   if kindIs "map" $pkg -}}
{{-     $name = $pkg.name -}}
{{-   else -}}
{{-     $name = $pkg -}}
{{-   end -}}
{{-   $name = $name | replaceAllRegex "[\\w@-]+/" "" -}}
{{-   $packages = append $packages $name -}}
{{- end -}}
{{- $packages | sortAlpha | uniq | join "\n" -}}
