{{- $packageType := get . "packageType" }}
{{- $packages := list }}
{{- range $index, $pkg := .packages }}
{{-   $packageName := "" }}
{{-   if kindIs "map" $pkg }}
{{-     $packageName = get $pkg "name" }}
{{-   else if kindIs "string" $pkg }}
{{-     $packageName = $pkg }}
{{-     $pkg = dict "name" $packageName }}
{{-   end }}
{{-   $typeExpression := get $pkg "type" }}
{{-   if and $packageType $typeExpression }}
{{-     $type := output "chezmoi" "execute-template" "--refresh-externals=never" (printf "{{ %s }}" $typeExpression) | trim }}
{{-     if and $type (ne $packageType $type) }}
{{-       continue }}
{{-     end }}
{{-   else if or $packageType $typeExpression }}
{{-     continue }}
{{-   end }}
{{-   $condition := get $pkg "condition" | default nil }}
{{-   if and $condition (eq (output "chezmoi" "execute-template" "--refresh-externals=never" (printf "{{ ne (%s) true }}" $condition) | trim) "true") }}
{{-     continue }}
{{-   end }}
{{-   if and (eq $.osID "windows") (not (contains "." $packageName)) }}
{{-     $packageName = get $pkg "windows" | default (printf "%[1]s.%[1]s" $packageName) }}
{{-   end }}
{{-   $packages = append $packages $packageName }}
{{- end }}
{{- $packages | toJson -}}
