{{- $commonPackages := includeTemplate "package-list.tmpl" (dict
  "chezmoi" .chezmoi
  "features" .features
  "osid" .osid
  "packages" (.commonPackages | default list)
) | fromJson }}

{{- $osPackages := includeTemplate "package-list.tmpl" (dict
  "chezmoi" .chezmoi
  "features" .features
  "osid" .osid
  "packages" (get .packages .osid | default list)
) | fromJson }}

{{- $packages := concat (without $commonPackages "") (without $osPackages "") -}}
{{- $packages | toJson -}}
