---
# vi: ft=yaml.template
# https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/
commonPackages:
  7zip:
    nameOverwrite:
      windows: 7zip.7zip
  autossh:
    enabled: {{ and (get .features "ssh") (not (eq .osIDLike "debian" "windows")) }}
  bandwhich: # netshow, slurm
    enabled: {{ and (not (eq .osIDLike "android" "debian" "fedora" "windows")) (ne .profile "minimal") }}
  bkt:
    enabled: {{ not (eq .osIDLike "android" "arch" "alpine" "debian" "fedora" "windows") }}
    # nameOverwrite:
    #   arch: bkt-bin
    # type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  build-base: { enabled: {{ eq .osIDLike "alpine" }} }
  # below: { enabled: {{ not (eq .osIDLike "arch" "debian") }} }
  bottom:
    enabled: {{ get .features "bottom" }}
    nameOverwrite:
      windows: clement.bottom
    type: '{{ eq .osIDLike "android" "debian" "fedora" | ternary "mise" nil }}'
  ca-certificates:
    enabled: {{ eq .osIDLike "arch" "debian" }}
  cargo-binstall:
    enabled: {{ and (get .features "rust") (not (eq .osIDLike "alpine")) }}
    type: '{{ eq .osIDLike "debian" "fedora" | ternary "brew" nil }}'
  chezmoi:
    enabled: {{ eq .osIDLike "darwin" "windows" }}
    nameOverwrite:
      windows: twpayne.chezmoi
  chromium:
    enabled: {{ and (eq .osIDLike "arch" "darwin" "fedora") (not (or .ephemeral .headless)) }}
    nameOverwrite:
      darwin: ungoogled-chromium
      debian: chromium-browser
      # windows: Hibbiki.Chromium
    type: '{{ eq .osIDLike "darwin" | ternary "cask" nil }}'
  codex:
    enabled: {{ and (get .features "ai") (eq .osIDLike "arch" "darwin") }}
    nameOverwrite:
      arch: openai-codex-bin
      # npm: @openai/codex
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  coreutils: { enabled: {{ eq .os "android" "linux" }} }
  # cotp:
  #   enabled: {{ ne .profile "minimal" }}
  crush:
    enabled: {{ and (get .features "ai") (eq .osIDLike "arch" "darwin" "windows") }}
    nameOverwrite:
      arch: crush-bin
      darwin: charmbracelet/tap/crush
      # npm: @charmland/crush
      windows: charmbracelet.crush
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  dcv: # dtop
    enabled: {{ and (get .features "docker") (eq .osIDLike "darwin") }}
    nameOverwrite:
      darwin: tokuhirom/tap/dcv
  devpod:
    enabled: {{ and (eq .osIDLike "arch" "darwin") (not (or .ephemeral .headless)) }}
    nameOverwrite:
      arch: devpod-bin
    # type: '{{ eq .osIDLike "arch" | ternary "aur" (eq .osIDLike "darwin" | ternary "cask" nil) }}'
    type: '{{ get (dict "arch" "aur" "darwin" "cask") .osIDLike | default nil }}'
  difftastic:
    enabled: {{ ne .osIDLike "debian" }}
    nameOverwrite:
      windows: wilfred.difftastic
  direnv:
    enabled: {{ get .features "direnv" }}
    nameOverwrite:
      windows: direnv.direnv
    # type: mise
  dive: # sou
    enabled: {{ and (get .features "docker") (not (eq .osID "alpine" "fedora")) }}
    nameOverwrite:
      windows: wagoodman.dive # scoop: main/dive
  # dog, doggo, mtr, trippy, oryx / tshark termshark
  # dua, dug
  # duf, dysk
  dust: # deletor, diskonaut, gdu, kondo, pdu, wiper
    enabled: {{ not (eq .osIDLike "debian") }}
    nameOverwrite:
      windows: bootandy.dust
  # eget: # dra
  #   enabled: {{ eq .osIDLike "arch" "darwin" }}
  #   nameOverwrite:
  #     arch: eget-bin
  #   type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  # fancy-cat:
  #   enabled: {{ eq .osIDLike "arch" "darwin" }}
  #   type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  fd:
    # enabled: {{ ne .osIDLike "debian" }}
    nameOverwrite:
      windows: sharkdp.fd
    type: '{{ eq .osIDLike "debian" | ternary "mise" nil }}'
  # https://support.mozilla.org/en-US/kb/install-firefox-linux
  firefox:
    enabled: {{ and (eq .osIDLike "arch" "darwin" "fedora" "windows") (not (or .ephemeral .headless)) }}
    nameOverwrite:
      # darwin: firefox{,beta,developer-edition,esr,nightly}
      windows: Mozilla.Firefox # .DeveloperEdition
    type: '{{ eq .osIDLike "darwin" | ternary "cask" nil }}'
  envx:
    enabled: {{ eq .osIDLike "arch" }}
    nameOverwrite:
      arch: envx-bin
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  # foot:
  #   enabled: {{ and (get .features "sway") (not (eq .osIDLike "darwin" "debian" "windows")) (not .headless) }}
  fzf:
    nameOverwrite:
      windows: junegunn.fzf
  # gdu, ncdu
  git-delta:
    enabled: {{ and (not (eq .osIDLike "debian")) (ne .profile "minimal") }}
    nameOverwrite:
      alpine: delta
      windows: dandavison.delta
  glances: { enabled: {{ and (not (eq .osIDLike "android" "debian")) (ne .profile "minimal") }} }
  glow:
    enabled: {{ not (eq .osIDLike "alpine" "debian") }}
    nameOverwrite:
      windows: charmbracelet.glow
  # gomi, gtrash
  go:
    enabled: {{ get .features "go" }}
    nameOverwrite:
      windows: golang.go
    # TODO: install on system and with mise like node(js)
    type: mise
  google-chrome:
    enabled: {{ and (eq .osIDLike "darwin" "windows") (not .headless) }}
    nameOverwrite:
      # darwin: google-chrome{,beta,canary,dev}
      windows: Google.Chrome
    type: '{{ eq .osIDLike "darwin" | ternary "cask" nil }}'
  gpg:
    enabled: {{ and (or (get .features "git") (get .features "mail")) (eq .osIDLike "alpine" "arch" "darwin" "debian") }}
    nameOverwrite:
      android: gnupg
      arch: gnupg
      darwin: gnupg
      # debian: gnupg-agent
      windows: gnupg.gpg4win
  gpg-tui:
    enabled: {{ not (eq .osIDLike "android" "darwin" "debian" "fedora" "windows") }}
  gzip: { enabled: {{ eq .osIDLike "alpine" }} }
  # hostctl
  htop:
  httm:
    enabled: {{ eq .osIDLike "arch" "darwin" }}
    nameOverwrite:
      arch: httm-bin
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  # httpstat
  hurl:
    enabled: {{ and (not (eq .osID "alpine" "android" "arch")) (not (eq .osIDLike "debian" "fedora")) }}
    nameOverwrite:
      # alpine: hurl --repository http://dl-cdn.alpinelinux.org/alpine/edge/testing
      windows: Orange-OpenSource.Hurl
  # hwinfo-tui:
  #   enabled: {{ eq .osIDLike "arch" "windows" }}
  #   nameOverwrite:
  #     windows: JuanjoFuchs.hwinfo-tui
  #   type: '{{ eq .osIDLike "windows" | ternary "winget" "python" }}'
  hwinfo:
    enabled: {{ eq .osIDLike "arch" "windows" }}
    nameOverwrite:
      windows: REALiX.HWiNFO
  hyperfine:
    enabled: {{ eq .osIDLike "arch" "darwin" }}
  impala iwd:
    enabled: {{ and (eq .osIDLike "arch") (eq .chassisType "laptop") }}
  # incus incus-ui:
  #   enabled: {{ eq .osIDLike "arch" "darwin" }}
  ipinfo-cli:
    enabled: {{ eq .osIDLike "arch" "darwin" }}
    nameOverwrite:
      arch: ipinfo-cli-bin
      windows: ipinfo.ipinfo
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  jq: # sq
    nameOverwrite:
      windows: jqlang.jq
    # type: mise
  kmon: # systeroid:
    enabled: {{ and (eq .os "linux") (not (eq .osID "fedora")) (not (or
      (and (eq .osID "debian") (le (int .osVersion) 11))
      (and (eq .osID "ubuntu") (le (float64 .osVersion) 22.04))
    )) }}
  kubecolor:
    enabled: {{ and (get .features "kube") (not (eq .osIDLike "alpine" "debian" "fedora")) }}
    nameOverwrite:
      windows: Kubecolor.kubecolor
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  lazydocker: # dry, sen
    enabled: {{ get .features "docker" }}
    nameOverwrite:
      arch: lazydocker-bin
    type: '{{ eq .osIDLike "arch" | ternary "aur" (ne .os "darwin" | ternary "mise" nil) }}'
  lazyjournal:
    enabled: {{ and (eq .osIDLike "arch" "darwin") (ne .profile "minimal") }}
    nameOverwrite:
      arch: lazyjournal-bin
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  lazysql:
    enabled: {{ and (get .features "sql") (eq .osIDLike "arch" "darwin") }}
    nameOverwrite:
      arch: lazysql-bin
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  lazyssh:
    enabled: {{ and (get .features "ssh") (eq .osIDLike "arch" "darwin") }}
    nameOverwrite:
      arch: lazyssh-bin
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  lnav: { enabled: {{ and (ne .os "windows") (ne .profile "minimal") }} }
  logseq: # obsidian
    enabled: {{ get .features "logseq" }}
    nameOverwrite:
      arch: logseq-desktop-bin
    type: '{{ eq .osIDLike "arch" | ternary "aur" (eq .os "darwin" | ternary "cask" nil) }}'
  lua:
    enabled: {{ and (get .features "neovim") (eq .os "darwin") }}
    options:
      version: "5.1" # NOTE: brew only
  mise:
    enabled: {{ eq .osIDLike "darwin" }}
  # mitmproxy: # mitmweb tproxy
  #   enabled: {{ ne .os "windows" }}
  #   type: '{{ eq .osIDLike "darwin" | ternary "cask" (not (eq .osIDLike "arch" "debian") | ternary "python" nil) }}'
  netscanner:
    enabled: {{ and (eq .osIDLike "arch" "darwin") (ne .profile "minimal") }}
  nvtop: # nvitop, qmassa
    enabled: {{ and (eq .os "linux") (not (eq .osIDLike "alpine" "debian")) (not .headless) }}
  openssh:
    enabled: {{ and (get .features "ssh") }} # (eq .osIDLike "arch" "darwin")
    nameOverwrite:
      debian: openssh-client
  # pass: # gopass
  #   enabled: {{ not (empty .accessToken) }}
  pastel: # termpicker
    enabled: {{ not (eq .osIDLike "alpine" "debian" "fedora") }}
    nameOverwrite:
      windows: sharkdp.pastel

  # php:
  #   enabled: {{ get .features "php" }}
  #   nameOverwrite:
  #     arch: php re2c postgresql-libs libzip
  #   type: mise

  pipx:
    enabled: {{ and (get .features "python") (eq .osIDLike "alpine" "darwin" "debian") (not (and (eq .osID "debian") (le (int .osVersion) 11))) }}
  pik:
    enabled: {{ eq .osIDLike "arch" }}
    nameOverwrite:
      # fedora: copr enable rusty-jack/pik
    # repo: jacek-kurlit/pik
  # podman:
  #   enabled: {{ and (get .features "docker") (eq .os "windows") }}
  #   nameOverwrite:
  #     arch: RedHat.Podman
  # podman-desktop:
  #   enabled: {{ and (get .features "docker") (eq .os "windows") }}
  #   nameOverwrite:
  #     arch: RedHat.Podman-Desktop
  podman-tui:
    enabled: {{ and (get .features "docker") (not (eq .osIDLike "debian")) }}
    nameOverwrite:
      arch: podman-tui-bin
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  posting: # slumber
    enabled: {{ eq .osIDLike "arch" "darwin" }}
    # type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
    type: '{{ eq .osIDLike "arch" | ternary "python" nil }}'
  process-compose: # hapless, mani+sake / cmdperf, mult
    enabled: {{ eq .osIDLike "arch" "darwin" }}
    nameOverwrite:
      darwin: f1bonacc1/tap/process-compose
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  procps:
    enabled: {{ eq .os "android" "linux" }}
    nameOverwrite:
      alpine: procps-ng
      arch: procps-ng
      fedora: procps-ng
  procs:
    enabled: {{ not (or
      (and (eq .osID "debian") (le (int .osVersion) 12))
      (and (eq .osID "ubuntu") (le (float64 .osVersion) 24.04))
    ) }}
    nameOverwrite:
      windows: dalance.procs
  progress: { enabled: {{ eq .os "darwin" "linux" }} }
  pspg:
    enabled: {{ and (get .features "sql") (eq .osIDLike "arch" "darwin") }}
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  python:
    enabled: {{ and (get .features "python") (eq .osIDLike "alpine" "android" "darwin" "debian") }}
    nameOverwrite:
      alpine: python3
      # darwin: python@3.11
      debian: python3
      # windows: Python.Python.3.12
    # type: mise
  ruby:
    enabled: {{ and (get .features "ruby") (eq .osIDLike "alpine" "android" "debian" "darwin" "fedora") }}
    nameOverwrite:
      darwin: ruby ruby-build
      debian: ruby-dev
      fedora: ruby-devel
    # type: mise
  rubygems:
    enabled: {{ and (get .features "ruby") (eq .osIDLike "arch" "debian" "fedora") (not
      (and (eq .osID "ubuntu") (le (float64 .osVersion) 20.04))
    ) }}
    nameOverwrite:
      debian: ruby-rubygems
  s-tui:
    # enabled: {{ eq .osIDLike "arch" "debian" "fedora" }}
    enabled: {{ and (not (eq .osIDLike "android" "darwin" "windows")) (ne .profile "minimal") }}
  sd:
    enabled: {{ and (eq .osIDLike "alpine" "arch" "debian" "darwin" "windows") (not (or
      (and (eq .osID "debian") (le (int .osVersion) 11))
      (and (eq .osID "ubuntu") (le (float64 .osVersion) 22.04))
    )) }}
    nameOverwrite:
      windows: chmln.sd
  # FIXME(alpine): .rs syntax error (failed to install with aqua)
  shellcheck:
    enabled: {{ and (not (get .features "neovim")) (not (get .features "mise")) }}
    nameOverwrite:
      windows: koalaman.shellcheck
    type: '{{ ne .osID "alpine" | ternary "mise" nil }}'
  shfmt:
    enabled: {{ and (not (get .features "neovim")) (not (get .features "mise")) }}
    nameOverwrite:
      windows: mvdan.shfmt
    type: '{{ ne .osID "alpine" | ternary "mise" nil }}'
  shpool: # abduco, dtach
    enabled: {{ and (get .features "shpool") (not (eq .osIDLike "darwin" "windows")) }}
    type: '{{ eq .osIDLike "arch" | ternary "aur" "cargo" }}'
  # https://github.com/skim-rs/skim#shell-completions
  skim:
    enabled: {{ not (eq .osIDLike "android" "windows") }}
    nameOverwrite:
      darwin: sk
    type: '{{ eq .osIDLike "debian" | ternary "cargo" nil }}' # (get .features "rust")
  # ssh-list:
  #   enabled: {{ and (get .features "ssh") (not (eq .osIDLike "alpine" "debian" "fedora" "windows")) }}
  #   type: '{{ eq .osIDLike "arch" | ternary "aur" "cargo" }}'
  sshs: # sshclick, ssm, fast-ssh
    enabled: {{ and (get .features "ssh") (not (eq .osIDLike "alpine" "debian" "fedora" "windows")) }}
  steam:
    enabled: {{ get .features "steam" }}
    nameOverwrite:
      windows: Valve.Steam
  steamlink:
    enabled: {{ get .features "steam" }}
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
    nameOverwrite:
      windows: Valve.SteamLink
  subliminal:
    enabled: {{ and (eq .osIDLike "arch" "darwin" "windows") (eq .profile "personal") }}
    type: '{{ eq .osIDLike "arch" | ternary "aur" "python" }}'
  # swaptop
  tailspin:
    type: '{{ eq .osIDLike "android" "alpine" "debian" "fedora" | ternary "cargo" (eq .osIDLike "windows" | ternary "scoop" nil) }}'
  termscp: # aim, zrok
    enabled: {{ and (eq .osIDLike "arch" "darwin") (ne .profile "minimal") }}
  tidy:
    nameOverwrite:
      darwin: tidy-html5
      windows: HTACG.tidy
    enabled: {{ get .features "neovim" }}
  tlp:
    enabled: {{ and (eq .osIDLike "arch") (eq .chassisType "laptop") }}
  tofuref: # terraform-tui
    enabled: {{ and (get .features "tofu") (get .features "python") }}
    type: python
  tokei: # cloctui, scc
    enabled: {{ and (eq .osIDLike "arch" "darwin") (ne .profile "minimal") }}
  tracexec:
    enabled: {{ and (eq .osIDLike "arch") (ne .profile "minimal") }}
  tre-command:
    enabled: {{ and (not (eq .osIDLike "android" "alpine" "arch" "fedora")) (not (or
      (and (eq .osID "debian") (le (int .osVersion) 11))
      (and (eq .osID "ubuntu") (le (float64 .osVersion) 20.04))
    )) }}
    nameOverwrite:
      windows: duan.tre
  tree:
  tuptime:
    enabled: {{ and (eq .os "linux") (not (eq .osID "alpine" "fedora")) (not .ephemeral) (not (or
      (and (eq .osID "debian") (le (int .osVersion) 1))
      (and (eq .osID "ubuntu") (le (float64 .osVersion) 24.04))
    )) }}
    type: '{{ eq .osIDLike "arch" | ternary "aur" "python" }}'
  # tz: # tzupdate
  #   enabled: {{ and (eq .osIDLike "arch" "darwin") (ne .profile "minimal") }}
  #   # nameOverwrite:
  #   #   go: github.com/oz/tz
  #   type: '{{ eq .osIDLike "arch" | ternary "aur" (ne .os "darwin" | ternary "go" nil) }}'
  ugm:
    enabled: {{ and (not (eq .osIDLike "android" "darwin" "debian" "fedora" "windows")) (ne .profile "minimal") }}
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  unzip:
  up:
    enabled: {{ eq .osIDLike "arch" "darwin" }}
    # usage: lshw |& up
  usage:
    enabled: {{ get .features "mise" }}
    type: mise
  uv:
    enabled: {{ and (get .features "python") (eq .osIDLike "alpine" "android" "arch" "fedora" "windows") }}
    nameOverwrite:
      windows: astral-sh.uv
  util-linux: { enabled: {{ eq .os "android" "linux" }} }
  viddy: # watch
    enabled: {{ and (eq .osIDLike "alpine" "arch" "darwin") (ne .profile "minimal") }}
    nameOverwrite:
      arch: viddy-bin
    type: '{{ eq .osIDLike "arch" | ternary "aur" nil }}'
  # vlc: # mpv
  #   enabled: {{ and (not (eq .osIDLike "alpine" "darwin" "debian")) (not .headless) }}
  #   nameOverwrite:
  #     arch: vlc vlc-plugins-all
  #     windows: VideoLAN.VLC
  xdg-utils: { enabled: {{ eq .osIDLike "alpine" "arch" }} }
  xh:
    enabled: {{ and (not (eq .osIDLike "debian" "fedora")) (ne .profile "minimal") }}
    nameOverwrite:
      windows: ducaale.xh
  yazi:
    enabled: {{ not (eq .osIDLike "alpine" "debian" "fedora") }}
    nameOverwrite:
      darwin: yazi ffmpeg sevenzip poppler resvg imagemagick # font-symbols-only-nerd-font
      # debian: ffmpeg 7zip jq poppler-utils fd-find ripgrep fzf zoxide imagemagick
      # fedora: # dnf copr enable lihaohong/yazi
      windows: sxyazi.yazi Gyan.FFmpeg oschwartz10612.Poppler ImageMagick.ImageMagick
  yq:
    nameOverwrite:
      windows: mikefarah.yq
    type: >
      {{ or
        (and (eq .osID "debian") (le (int .osVersion) 11))
        (and (eq .osID "ubuntu") (le (float64 .osVersion) 22.04))
      | ternary "mise" nil }}
  zen:
    enabled: {{ and (eq .osIDLike "darwin" "arch") (not (or .ephemeral .headless)) }}
    nameOverwrite:
      arch: zen-browser-bin
    type: '{{ eq .osIDLike "arch" | ternary "aur" (eq .os "darwin" | ternary "cask" nil) }}'
  # zig:
  #   enabled: {{ eq .os "windows" }}
  #   nameOverwrite:
  #     windows: zig.zig
  zoxide:
    enabled: {{ get .features "zoxide" }}
    nameOverwrite:
      windows: ajeetdsouza.zoxide
    type: '{{ and (eq .osID "ubuntu") (le (float64 .osVersion) 20.04) | ternary "mise" nil }}'
osPackages:
  alpine:
    apk:
      mandoc:
      tar:
      xz:

      # NOTE(ble.sh): /lib/bash/{fdflags,sleep}: No such file or directory
      # builtin: fdflags: not a shell builtin
      # enable: cannot open shared object /lib/bash/sleep

      # # Build node (mise)
      # g++:
      # linux-headers:
      # make:

      # Cargo gitlab-ci-ls
      openssl-dev:
      # https://github.com/sfackler/rust-openssl/issues/2185
      openssl-libs-static:
  android:
    termux:
      less:
      proot:
      # sudo:
      which:
  arch: # Archlinux/Manjaro
    pacman:
      base-devel:
      ddgr: # servitor, so
      gnu-netcat:
        enabled: {{ eq .osID "manjaro" }}
      # iptables-nft:
      # jack2: # pipewire-jack
      mandoc:
        enabled: {{ not (lookPath "man" | isExecutable) }}
      # net-tools:
      # rust:
      #   enabled: {{ get .features "rust" }}
      #   options:
      #     # Default profile adds rust-docs, rustfmt and clippy
      #     version: latest
      #     components: rust-analyzer, rust-src,llvm-tools
      #     profile: minimal
      #   type: mise
      rustup: # rust
        # enabled: {{ and (get .features "rust") (not (lookPath "rustc" | isExecutable)) }}
        enabled: {{ get .features "rust" }}
      systemctl-tui: # systemd-manager-tui-bin
      time:
      ttf-roboto: # ttf-dejavu noto-fonts
        enabled: {{ not .headless }}
      wiki-tui: # so
      wikiman arch-wiki-docs:
      # yay: { enabled: {{ eq .osID "manjaro" }} }}' }
    aur:
      # below:
      gnu-netcat:
        enabled: {{ ne .osID "manjaro" }}
      pacseek-bin:
      tre-command-bin:
      # terraform-pug-bin: { enabled: {{ get .features "tofu" }} }
      # yay: { enabled: {{ ne .osID "manjaro" }} }
  darwin:
    brew:
      # ack:
      # aider:
      # asciinema # vhs:
      # autoconf:
      # automake:
      # bison:
      # bitwarden-cli:
      bvi:
      # bzip2:
      # caddy:
      # catimg:
      # cdrtools:
      # cheat:
      # cmake:
      # coreutils:
      # cpanminus:
      # daemonize:
      # dbus:
      # diffutils:
      # dnsmasq:
      # dotenv-linter:
      # ffmpeg:
      # findutils:
      # freetype:
      # gdb:
      # gdbm:
      # gettext:
      # ghostscript:
      # gitlab-runner:
      # gitleaks # detect-secrets:
      # glow:
      # gmp:
      gnu-sed:
      # gnuplot:
      # gnutls:
      # go-task:
      # gpgme:
      graphviz:
      # grc:
      # grep:
      # harfbuzz:
      # imagemagick ghostscript:
      # ipcalc:
      # ipinfo-cli:
      # iproute2mac:
      # ispell:
      # jemalloc:
      # jpeg:
      # k6:
      # kind:
      # kustomize:
      # git-cc: { enabled: {{ get .features "git" }} }
      # libedit: # readline, rlwrap
      # llvm:
      # logrotate:
      # luacheck:
      # luarocks:
      # lynx:
      mailpit:
        options:
          restart_service: ":changed"
      mas:
      # mercurial:
      # moreutils:
      # mosh:
      # msgpack:
      # ncdu:
      # ncurses:
      # nmap:
      # openssl: # @3
      # pango:
      # patchutils:
      # percona-toolkit:
      # pgformatter:
      pinentry-mac: # jorgelbg/tap/pinentry-touchid
      # pip-completion:
      # pkgconf:
      # procmail:
      # leg100/tap/pug: { enabled: {{ get .features "tofu" }} }
      # rsync:
      # rsyslog:
      # semgrep:
      # shunit2:
      # sops:
      supervisor:
        options:
          restart_service: ":changed"
      gromgit/brewtils/taproom:
      # tig:
      # ttyplot: # incplot, youplot
      # unibilium:
      # universal-ctags:
      owloops/tap/updo: # dstp, sntop
      # usage:
      visidata: # csvlens, sc-im, tabview, textql qsv, xan
      # watch:
      # webp:
      # wireguard-tools: # wg-cmd
      # xz:

      koekeishiya/formulae/yabai:
        start: yabai --start-service
      # jackielii/tap/skhd-zig: # koekeishiya/formulae/skhd

      # bash bash-completion
      # zsh zsh-completions:
    cask:
      # android-platform-tools:
      # bitwarden:
      # bruno: # postman
      # cyberduck:
      # dbeaver-community: # mysqlworkbench
      # docker: # docker-desktop
      # dropbox:
      # font-hack:
      # font-hack-nerd-font:
      # google-drive:
      # gpg-suite:
      # grandperspective:
      # hammerspoon:
      # inkscape:
      iterm2:
      karabiner-elements:
      # keeweb:
      # keka: # the-unarchiver
      # keycastr:
      # keystore-explorer:
      # little-snitch:
      # microsoft-excel:
      # microsoft-outlook:
      microsoft-teams: # microsoft-auto-update
      # microsoft-word: # doxx, hygg
      # ngrok:
      # onedrive:
      openvpn-connect: # tunnelblick
      pearcleaner:
      # rustdesk:
      # safari-technology-preview:
      scroll-reverser:
      # sequel-ace:
      # soapui:
      # xquartz:
    mas:
      Microsoft Excel: { options: { id: 462058435 } }
      Microsoft Outlook: { options: { id: 985367838 } }
      Microsoft Word: { options: { id: 462054704 } }
      # Tailscale: { options: { id: 1475387142 } }
      # WireGuard: { options: { id: 1451685025 } }
      Xcode: { options: { id: 497799835 } }
    # vscode:
    #   editorconfig.editorconfig: { enabled: {{ get .features "vscode" }} }
  debian: # Debian/Ubuntu
    apt:
      apt-utils:
      build-essential:
      time:
      # ufw tufw:

      # Cargo gitlab-ci-ls
      pkg-config:
      libssl-dev:

      # Debian devcontainer
  fedora:
    dnf:
      openssl-devel:
      # which:
  windows:
    scoop:
      busybox:
        enabled: {{ not (lookPath "awk" | isExecutable) }}
      # livesplit:
      # prime95:
      # scoop-search:
      sudo:
      # talosctl:
    winget:
      CPUID.CPU-Z:
      # dundee.gdu:
      jdx.mise: { enabled: {{ get .features "mise" }} }
      Microsoft.PowerShell:
      Canonical.Ubuntu:
      MartiCliment.UniGetUI:
      Microsoft.PowerToys:
      Rustlang.Rustup: { enabled: {{ get .features "rust" }} }
      # OpenTofu.Tofu:
      # Microsoft.Sysinternals.ProcessExplorer:
      # Gyan.FFmpeg:
      # Google.PlatformTools:
      # Discord.Discord:
      AutoHotkey.AutoHotkey:
      # Bitwarden.Bitwarden:
      # Resplendence.LatencyMon:
      # Mozilla.Thunderbird:
      # RustDesk.RustDesk:
      # Genymobile.scrcpy:
      # LLVM.LLVM:
      # Riseup.RiseupVPN:
      # TheDocumentFoundation.LibreOffice:
      # OpenVPNTechnologies.OpenVPN:
      # PuTTY.PuTTY:
      # BitSum.ProcessLasso:
      # Microsoft.Edge:
      # Xming.Xming:
      # Microsoft.OneDrive:
      # komorebi whkd:
