{{- $ignore := list }}
{{- range $line := includeTemplate ".chezmoiignore" . | splitList "\n" }}
{{-   if or (eq $line "") (eq ($line | trunc 1) "#") }}
{{-     continue }}
{{-   end }}
{{-   $ignore = append $ignore $line }}
{{- end }}

{{- $packageFiles := list }}
{{- range $path := glob (joinPath .chezmoi.sourceDir "**" ".packages.yaml") }}
{{-   $ignored := false }}
{{-   range $excluded := $ignore }}
{{-     $regex := $excluded
          | replaceAllRegex " #.*" ""
          | replaceAllRegex "\\." "\\."
          | replaceAllRegex "\\*\\*" "*"
          | replaceAllRegex "\\*" ".*" }}
{{-     $relative := trimPrefix (printf "%s/" $.chezmoi.sourceDir) $path
          | replaceAllRegex "dot_" "."
          | replaceAllRegex "\\w+_" "" }}
{{- /*     warnf "regex: %s" $regex -}}
{{-     warnf "file: %s" $relative */ -}}
{{-     if mustRegexMatch $regex $relative }}
{{-       if $.chezmoi.config.verbose }}
{{-         warnf "ignored: %s" $relative -}}
{{-       end }}
{{-       $ignored = true }}
{{-       continue }}
{{-     end }}
{{-   end }}
{{-   if $ignored }}
{{-     continue }}
{{-   end }}
{{-   $packageFiles = append $packageFiles $path }}
{{- end }}
{{- $_ := set . "packageFiles" $packageFiles }}

{{- if ne .os "darwin" }}
{{- $packages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" .packageManager)) | fromJson }}
{{ .packageManager }}: {{ $packages | toJson }}
{{- end }}

{{- if eq .osIDLike "arch" }}
{{- $aurPackages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "aur")) | fromJson }}
aur: {{ $aurPackages | toJson }}
{{- end }}

{{- if .features.brew }}
{{- $allBrewPackages := dict }}
{{- $brewPackages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "brew")) | fromJson }}
{{- $allBrewPackages = merge $allBrewPackages $brewPackages }}
{{- $caskPackages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "cask")) | fromJson }}
{{- $allBrewPackages = merge $allBrewPackages $caskPackages }}
{{- $masPackages := eq .os "darwin" | ternary
  (includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "mas")))
  "{}" | fromJson }}
{{- $vscodePackages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "vscode")) | fromJson }}

{{- $taps := dict }}
{{- range $name, $pkg := $allBrewPackages }}
{{-   if contains "/" $name }}
{{-     $_ := $taps | setValueAtPath ($name | replaceAllRegex "/[\\w@-]+$" "") dict }}
{{-   end }}
{{- end }}

{{- $brewfile := joinPath (env "XDG_CONFIG_HOME" | default (joinPath  .chezmoi.homeDir ".config")) "homebrew/Brewfile" -}}
{{- $lines := list }}
{{- if stat $brewfile -}}
{{-   $lines = include $brewfile | splitList "\n" }}
{{- end -}}
{{- range without $lines "" }}
{{-   if eq (substr 0 1 .) "#" -}}
{{-     continue -}}
{{-   end -}}
{{-   $type := index (. | splitList " ") 0 }}
{{-   $pattern := printf "^%s \"(.*)\",? ?(.*)$" $type }}
{{-   $name := . | replaceAllRegex $pattern "${1}" }}
{{-   $options := . | replaceAllRegex $pattern "${2}" }}
{{-   if eq $type "tap" }}
{{-     if get $taps $name -}}
{{-       warnf "Overriding %s %s (%s -> %s)" $type $name (get (get $taps $name) "options") $options -}}
{{-     end -}}
{{-     $_ := set $taps $name (dict "options" $options) }}
{{-   else if eq $type "brew" }}
{{-     if get $brewPackages $name -}}
{{-       warnf "Overriding %s %s (%s -> %s)" $type $name (get (get $brewPackages $name) "options") $options -}}
{{-     end -}}
{{-     $_ := set $brewPackages $name (dict "options" $options) }}
{{-   else if eq $type "cask" }}
{{-     if get $caskPackages $name -}}
{{-       warnf "Overriding %s %s (%s -> %s)" $type $name (get (get $caskPackages $name) "options") $options -}}
{{-     end -}}
{{-     $_ := set $caskPackages $name (dict "options" $options) }}
{{-   else if eq $type "mas" }}
{{-     if get $masPackages $name -}}
{{-       warnf "Overriding %s %s (%s -> %s)" $type $name (get (get $masPackages $name) "options") $options -}}
{{-     end -}}
{{-     $_ := set $masPackages $name (dict "options" $options) }}
{{-   else if eq $type "vscode" }}
{{-     if get $vscodePackages $name -}}
{{-       warnf "Overriding %s %s (%s -> %s)" $type $name (get (get $vscodePackages $name) "options") $options -}}
{{-     end -}}
{{-     $_ := set $vscodePackages $name (dict "options" $options) }}
{{-   end }}
{{- end }}
tap: {{ $taps | toJson }}
brew: {{ $brewPackages | toJson }}
cask: {{ $caskPackages | toJson }}
{{- if eq .os "darwin" }}
mas: {{ $masPackages | toJson }}
{{- end }}
vscode: {{ $vscodePackages | toJson }}

{{- end }}

{{- if eq .os "windows" }}
{{- $scoopPackages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "scoop")) | fromJson }}
scoop: {{ $scoopPackages | toJson }}
{{- end }}

{{- if and (eq .osIDLike "arch" "fedora") (lookPath "flatpak" | isExecutable) }}
{{- $flatpakPackages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "flatpak")) | fromJson }}
flatpak: {{ $flatpakPackages | toJson }}
{{- end }}

{{- if .features.mise }}
{{- $misePackages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "mise")) | fromJson }}
mise: {{ $misePackages | toJson }}
{{- end }}

{{- if .features.go }}
{{- $goPackages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "go")) | fromJson }}
go: {{ $goPackages | toJson }}
{{- end }}

{{- if .features.node }}
{{- $nodePackages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "npm")) | fromJson }}
npm: {{ $nodePackages | toJson }}
{{- end }}

{{- if .features.python }}
{{- $pipPackages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "pip")) | fromJson }}
pip: {{ $pipPackages | toJson }}
{{- $pipxPackages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "pipx")) | fromJson }}
pipx: {{ $pipxPackages | toJson }}
{{- $uvPackages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "uv")) | fromJson }}
uv: {{ $uvPackages | toJson }}
{{- end }}

{{- if .features.ruby }}
{{- $rubyGems := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "gem")) | fromJson }}
gem: {{ $rubyGems | toJson }}
{{- end }}

{{- if .features.rust }}
{{- $cargoPackages := includeTemplate "get-packages.json.tmpl" (mergeOverwrite . (dict "packageType" "cargo")) | fromJson }}
cargo: {{ $cargoPackages | toJson }}
{{- end }}
