{{- $list := list }}
{{- range .packages }}
{{-   $script := get . $.key | trim }}
{{-   if $script }}
{{-     $list = append $list $script }}
{{-   end }}
{{- end }}
{{- range $list | uniq | sortAlpha }}

{{ . }}
{{- end }}
