{{- $list := list }}
{{- $values := get . "values" | default list }}
{{- range $values }}
{{-   $value := get . $.key | trim }}
{{-   if $value }}
{{-     $list = append $list $value }}
{{-   end }}
{{- end }}
{{- range $list | uniq | sortAlpha }}

{{ . }}
{{- end }}
