{{- $list := list }}
{{- $values := . | get "values" | default list }}
{{- range $values }}
{{-   $value := . | get $.key | trim }}
{{-   if $value }}
{{-     $list = $list | append $value }}
{{-   end }}
{{- end }}
{{- range $list | uniq | sortAlpha }}

{{ . }}
{{- end }}
