{{- $label := get . "label" -}}
{{- $unit := get . "unit" -}}
{{- $hasPlist := get . "plist" | default false -}}
{{- $hasService := get . "service" | default false -}}
{{- $plistSuffix := get . "plistSuffix" | default ".plist.tmpl" -}}
{{- $serviceDir := get . "serviceDir" | default "dot_config/systemd/user" -}}
{{- if $hasPlist -}}
{{-   $path := printf "Library/private_LaunchAgents/%s%s" $label $plistSuffix -}}
{{-   if stat $path }}
# plist: {{ includeTemplate $path . | sha256sum }}
{{-   end }}
{{ else if $hasService -}}
{{-   $path := printf "%s/%s.service" $serviceDir $unit -}}
{{-   if stat $path }}
# service: {{ include $path | sha256sum }}
{{-   end }}
{{ end -}}
