{{- /* TODO: remove external commands */ -}}
{{- $group := get . "group" | default "prefix" }}

{{- $sed := lookPath "gsed" | isExecutable | ternary "gsed" "sed" }}
{{- $listCmd := printf "tmux list-keys -T %[1]s 2>/dev/null | %s -e 's/^bind-key \\(-r \\|\\s*\\)-T %[1]s //' || true" $group $sed }}
{{- $list := output "sh" "-c" $listCmd | trim | splitList "\n" }}
{{- $namesCmd := printf "tmux list-keys -N -T %s 2>/dev/null || true" $group }}
{{- $names := output "sh" "-c" $namesCmd | trim | splitList "\n" | sortAlpha }}

{{- if not (without $list "") }}
{{- warnf "tmux lt 3.5a: empty %s list:\n%s\n%s" $group $listCmd ($list | toJson) -}}
{{- end }}

{{- if not (without $names "") }}
{{- warnf "tmux lt 3.5a: empty %s names:\n%s\n%s" $group $namesCmd ($names | toJson) -}}
{{- end }}

{{- $map := dict }}
{{- range $list }}
  {{- $parts := . | splitList " " }}
  {{- if lt (len $parts) 2 }}{{- continue }}{{- end }}
  {{- $key := index $parts 0 }}
  {{- $command := join " " (slice $parts 1) | trim }}
  {{- $map = merge $map (dict $key $command) }}
{{- end }}

{{- dict "list" (without $list "") "names" (without $names "") "map" $map | toJson }}
