# https://github.com/b3nj5m1n/xdg-ninja/tree/main/programs
# https://github.com/twpayne/dotfiles/blob/master/home/dot_zshrc.tmpl

{{- if .features.node }}

if ! [ -d "${PNPM_HOME:-}" ]; then
  mkdir -p "$PNPM_HOME"
fi
if ! [ -d "${npm_config_prefix:-}" ]; then
  mkdir -p "$npm_config_prefix"
fi
{{- end }}
