#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

# DISPLAY: {{ env "DISPLAY" }}
if [ -z "${DISPLAY:-}" ]; then
  echo >&2 "WARN: skipping xrdb merge (no display)"
  exit 0
fi

# TODO: auto reload on change
# include (joinPath .chezmoi.homeDir ".Xresources") | sha256Sum
# include (joinPath .chezmoi.homeDir ".config/X11/xresources") | sha256Sum
# cmd xrdb -merge ~/.Xresources

# xrdb -load "$XDG_CONFIG_HOME/X11/xresources"
xrdb -merge "$XDG_CONFIG_HOME/X11/xresources"
