#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

# DISPLAY: {{ env "DISPLAY" | default "unset" }}
if [ -z "${DISPLAY:-}" ]; then
  echo "WARN: skipping xrdb merge (no display)" >&2
  exit 0
fi

# TODO: auto reload on change
# include (joinPath .chezmoi.homeDir ".Xresources") | sha256sum
# include (joinPath .chezmoi.homeDir ".config/X11/xresources") | sha256sum
# run xrdb -merge ~/.Xresources

# xrdb -load "$XDG_CONFIG_HOME/X11/xresources"
xrdb -merge "$XDG_CONFIG_HOME/X11/xresources"
