.brew-aliases
.config/chezmoi/features.json
.local/bin/chezmoi-execute
.local/bin/notify-send
.local/share/chezmoi/features.json
.local/share/features.json
.config/bash/init.sh
.config/zsh/init.sh
.config/bash/history.conf
.config/bash/options.sh
.config/carapace/specs/pc.yaml
.config/zsh/history.conf
.config/zsh/options.sh
.config/sh/lib/bench.sh
.config/sh/lib/export.sh
.config/sh/lib/pathmunge.sh
.config/sh/lib
.config/cargo/init.sh
.config/gem/init.sh
.config/go/init.sh
.config/krew/init.sh
.config/npm/init.sh
.config/sh/init.sh

# .curlrc
# .inputrc
# .npmrc

{{- if .features.sql }}
# .psqlrc
{{- end }}

{{- if .features.tmux }}
# .tmux.conf
{{- end }}

{{- if .features.vim }}
# .vimrc
{{- end }}

# .wgetrc
