.local/bin/editor
.local/share/blesh/ble.sh
# .local/share/features.json

# .curlrc
# .inputrc
# .npmrc

{{- if .features.sql }}
# .psqlrc
{{- end }}

# .ripgreprc

{{- if .features.tmux }}
# .tmux.conf
{{- end }}

{{- if .features.vim }}
# .vimrc
{{- end }}

# .wgetrc
