.brew-aliases
.config/chezmoi/features.json
.local/bin/notify-send
.local/share/chezmoi/features.json
.local/share/features.json
.config/bash/init.sh
.config/zsh/init.sh
.config/bash/options.sh
.config/carapace/specs/pc.yaml
.config/zsh/options.sh

# .curlrc
# .inputrc
# .npmrc

{{- if .features.sql }}
# .psqlrc
{{- end }}

# .ripgreprc

{{- if .features.tmux }}
# .tmux.conf
{{- end }}

{{- if .features.vim }}
# .vimrc
{{- end }}

# .wgetrc
