# ~/.macos
# https://github.com/kevinSuttle/macOS-Defaults

{{- if lookPath "scutil" | isExecutable }}
# Computer name: {{ output "scutil" "--get" "ComputerName" | trim }}
{{- end }}
# Local host name: {{ .hostname }}
{{- if lookPath "sw_vers" | isExecutable }}
# macOS build version: {{ output "sw_vers" "--buildVersion" }}
{{- end }}
# Always show hidden files
defaults write com.apple.finder AppleShowAllFiles -boolean true

defaults write org.hammerspoon.Hammerspoon MJConfigFile "~/.config/hammerspoon/init.lua"

# TODO: enable three fingers drag with trackpad
# https://support.apple.com/en-us/102341

# TODO: uncomment line to enable TouchID
# https://github.com/MikeMcQuaid/strap/blob/main/strap.sh#L174

defaults -currentHost write -globalDomain NSStatusItemSpacing -int 12
defaults -currentHost write -globalDomain NSStatusItemSelectionPadding -int 8

# TODO: use fingerprint for sudo
# sudo cp /etc/pam.d/sudo_local.template /etc/pam.d/sudo_local
# grep '^#\?auth' /etc/pam.d/sudo_local

# https://github.com/fabianishere/pam_reattach
# brew install pam-reattach

# auth optional   pam_reattach.so
# auth sufficient pam_tid.so

# WARN: path must be specified when the module is not installed in
# /usr/lib/pam or /usr/local/lib/pam (uname -m -> arm64)

# auth     optional     /opt/homebrew/lib/pam/pam_reattach.so
# auth     sufficient   pam_tid.so

# FIXME: set default text editor, to change manually:
# Right click, Get Info, Open with: Change All...
editor="com.neovide.neovide" # osascript -e 'id of app "Neovide"'
# defaults write com.apple.LaunchServices/com.apple.launchservices.secure \
#   LSHandlers -array-add \
#   "{LSHandlerContentType=public.plain-text;LSHandlerRoleAll=$editor;}"
# TODO: ~/.duti
# for ext in .bash .json .md .sh .toml .yaml public.data public.plain-text public.unix-executable; do
#   duti -s "$editor" "$ext" all
# done

# Mathias Bynens defaults, overides below
source "$HOME/.local/share/macos/defaults.sh"

# iTerm2
defaults write com.googlecode.iterm2 AllowClipboardAccess -boolean true
# defaults write com.googlecode.iterm2 PromptOnQuit -bool false
defaults write com.googlecode.iterm2 WindowPlacement -int 2 # 0=system 1=smart 2=size+position 3=position
