#!/bin/sh

set -eu

# . "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

# if command -v goss; then
#   echo >&2 "Already installed"
#   cmd goss --version
#   exit
# fi

# echo >&2 "Installing goss"

# VERSION="$(get_release goss-org/goss)"
# cmd sudo curl -LSfso /usr/local/bin/goss \
#   "https://github.com/goss-org/goss/releases/download/${VERSION}/goss-linux-amd64"
# cmd sudo chmod +rx /usr/local/bin/goss

# echo >&2 "Installed goss"
