#!/bin/sh

set -eu

# . "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

# if command -v goss; then
#   echo "Already installed" >&2
#   run goss --version
#   exit
# fi

# echo "Installing goss" >&2

# VERSION="$(get_release goss-org/goss)"
# run sudo curl -LSfso /usr/local/bin/goss \
#   "https://github.com/goss-org/goss/releases/download/${VERSION}/goss-linux-amd64"
# run sudo chmod +rx /usr/local/bin/goss

# echo "Installed goss" >&2
