#!/bin/sh

# TODO: ensure up to date
# and install tools for perl (Neovim::Ext cpan module),
# python (uv and pynvim), neovim-ruby-host (gem install neovim)

# https://github.com/helix-editor/helix/wiki/Language-Server-Configurations

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

{{- if eq (get .chezmoi.osRelease "id") "alpine" }}
# NOTE: use global node
cd /tmp

if command -v node >/dev/null && node --version; then
  echo >&2 "Already installed: node" # {{ output "sh" "-c" "command -v node || true" }}
else
  echo >&2 "Installing node"
  cmd sudo apk add --quiet nodejs npm
  echo >&2 "Installed node"
fi
{{- end }}

# if ! command -v node >/dev/null && command -v mise >/dev/null; then
#   PATH="$PATH:$HOME/.local/share/mise/shims"
# fi
if command -v mise >/dev/null; then
  if ! command -v jq >/dev/null; then
    PATH="$PATH:$HOME/.local/share/mise/shims"
  fi
  # Use global node
  INSTALL_PATH="$(mise list node --installed --json --quiet | jq --compact-output --raw-output 'last | .install_path')"
  PATH="$INSTALL_PATH/bin:$PATH"
fi

# Node: {{ output "sh" "-c" "mise list node --global --installed | awk '/^node / {print $2}'" }}
echo >&2 "node $(node --version)"

# npm config set --global audit=false fund=false

# cmd npm install --global --quiet npm@latest
