#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

{{ includeTemplate "xdg.sh.tmpl" . | trim }}

{{- if .features.ai }}

# if [ -d "$HOME/.claude" ] && [ -d "$CLAUDE_CONFIG_DIR" ]; then
#   echo >&2 "ERR: $HOME/.claude"
#   exit 1
# fi

# https://github.com/anthropics/claude-code/issues/1455
if [ -d "$HOME/.claude" ] && ! [ -d "$CLAUDE_CONFIG_DIR" ]; then
  cmd mv "$HOME/.claude" "$CLAUDE_CONFIG_DIR"
  cmd ln -s "$CLAUDE_CONFIG_DIR" "$HOME/.claude"
fi
{{- end }}

{{- if .features.docker }}

if [ -d ~/.docker ] && ! [ -d "$DOCKER_CONFIG" ]; then
  cmd mv ~/.docker "$DOCKER_CONFIG"
fi
{{- end }}

{{- if .features.go }}

if [ -d ~/go ] && ! [ -d "$GOPATH" ]; then
  cmd mv ~/go "$GOPATH"
fi
{{- end }}

{{- if .features.node }}

# if [ -d ~/.node_modules ] && ! [ -d "$npm_config_prefix" ]; then
#   cmd mv ~/.node_modules "$npm_config_prefix"
# fi

if [ -d ~/Library/pnpm ] && ! [ -d "$PNPM_HOME" ]; then
  cmd mv ~/Library/pnpm "$PNPM_HOME"
fi
{{- end }}

{{- if .features.rust }}

if [ -d "$XDG_DATA_HOME/gem" ] && ! [ -d ~/.gem ]; then
  ln -s "$XDG_DATA_HOME/gem" ~/.gem
fi
{{- end }}

{{- if .features.rust }}

if [ -d ~/.cargo ] && ! [ -d "$CARGO_HOME" ]; then
  cmd mv ~/.cargo "$CARGO_HOME"
fi

if [ -d ~/.rustup ] && ! [ -d "$RUSTUP_HOME" ]; then
  cmd mv ~/.rustup "$RUSTUP_HOME"
fi
{{- end }}

{{- if lookPath "xauth" | isExecutable }}

# https://askubuntu.com/a/961459
# if [ -d ~/.Xauthority ] && ! [ -d "$XAUTHORITY" ]; then
#   cmd mv ~/.Xauthority "$XAUTHORITY"
#   cmd ln -s "$XAUTHORITY" ~/.Xauthority
# fi
{{- end }}
