#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

{{- if ne .os "darwin" }}

# https://docs.brew.sh/Homebrew-on-Linux
if ! command -v brew >/dev/null; then
  if ! [ -x /home/linuxbrew/.linuxbrew/bin/brew ]; then
    echo >&2 "Installing homebrew"
    cmd sudo mkdir -p /home/linuxbrew/.linuxbrew
    cmd sudo chown -R "$USER:$USER" /home/linuxbrew/.linuxbrew
    cmd git config --global --add safe.directory /home/linuxbrew/.linuxbrew/Homebrew
    # SUDO_ASKPASS=1
    bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    echo >&2 "Installed homebrew"
  fi
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi
{{- end }}

# https://docs.brew.sh/Installation#unattended-installation
export NONINTERACTIVE=1

cmd brew update --quiet

{{- if .upgrade }}

cmd brew upgrade --quiet
{{- end }}

{{- $taps := dict }}
{{- range $name, $pkg := .brewPackages }}
{{-   if contains "/" $name }}
{{-     $_ := $taps | setValueAtPath ($name | replaceAllRegex "/[\\w@-]+$" "") dict }}
{{-   end }}
{{- /* Hide brew tap prefix */ -}}
{{- /* $name = $name | replaceAllRegex "[\\w@-]+/" "" */ -}}
{{- /* $_ := set .brewPackages $name $pkg */ -}}
{{- end }}

{{- $brewfile := output .sh "-c" "if test -f ~/.config/homebrew/Brewfile; then grep -v '^#' ~/.config/homebrew/Brewfile; fi" | splitList "\n" -}}
{{- range without $brewfile "" }}
{{-   $type := index (. | splitList " ") 0 }}
{{-   $pattern := printf "^%s \"(.*)\",? ?(.*)$" $type }}
{{-   $name := . | replaceAllRegex $pattern "${1}" }}
{{-   $options := . | replaceAllRegex $pattern "${2}" }}
{{-   if eq $type "tap" }}
{{-     if get $taps $name -}}
{{-       warnf "Overriding %s %s (%s -> %s)" $type $name (get (get $taps $name) "options") $options -}}
{{-     end -}}
{{-     $_ := set $taps $name (dict "options" $options) }}
{{-   else if eq $type "brew" }}
{{-     if get $.brewPackages $name -}}
{{-       warnf "Overriding %s %s (%s -> %s)" $type $name (get (get $.brewPackages $name) "options") $options -}}
{{-     end -}}
{{-     $_ := set $.brewPackages $name (dict "options" $options) }}
{{-   else if eq $type "cask" }}
{{-     if get $.caskPackages $name -}}
{{-       warnf "Overriding %s %s (%s -> %s)" $type $name (get (get $.caskPackages $name) "options") $options -}}
{{-     end -}}
{{-     $_ := set $.caskPackages $name (dict "options" $options) }}
{{-   else if eq $type "mas" }}
{{-     if get $.masPackages $name -}}
{{-       warnf "Overriding %s %s (%s -> %s)" $type $name (get (get $.masPackages $name) "options") $options -}}
{{-     end -}}
{{-     $_ := set $.masPackages $name (dict "options" $options) }}
{{-   else if eq $type "vscode" }}
{{-     if get $.vscodePackages $name -}}
{{-       warnf "Overriding %s %s (%s -> %s)" $type $name (get (get $.vscodePackages $name) "options") $options -}}
{{-     end -}}
{{-     $_ := set $.vscodePackages $name (dict "options" $options) }}
{{-   end }}
{{- end }}

{{- /* TODO: in init */ -}}
{{- $packageMap := dict
  "tap" $taps
  "brew" .brewPackages
  "cask" (get . "caskPackages" | default dict)
  "mas" (get . "masPackages" | default dict)
  "vscode" .vscodePackages
}}

{{- $packages := (concat
  (values .brewPackages)
  (values (get . "caskPackages" | default dict))
  (values (get . "masPackages" | default dict))
  (values .vscodePackages)
) }}

{{ includeTemplate "packages-script.tmpl" (mergeOverwrite . (dict
  "key" "before_script"
  "packages" $packages
)) | trim }}

# if ! [ -f ~/.config/homebrew/Brewfile ]; then
#   cmd brew bundle dump --file=~/.config/homebrew/Brewfile
# fi
cmd brew bundle --file=/dev/stdin{{ if not .upgrade }} --no-upgrade{{ end }} <<EOF
{{- range $type := list "tap" "brew" "cask" "mas" "vscode" }}
{{-   range $name, $pkg := get $packageMap $type }}
{{-     if not (kindIs "map" $pkg) }}
{{-       warnf "%s is not a map: %s" $name $pkg }}
{{-       $pkg = dict }}
{{-     end }}
{{ $type }} {{ $name | quote }}
{{-     if not (kindIs "map" $pkg) }}
{{-       warnf "%s: %s: %s" $type $name $pkg }}
{{-       continue }}
{{-     end }}
{{-     range $key, $value := pick $pkg
  "args"
  "conflicts_with"
  "link"
  "restart_service"
  "version_file"

  "appdir"
  "greedy"
  "require_sha"

  "id"
-}}
{{- /* if OS.linux? or OS.mac? */ -}}
{{- /* cask "java" unless system "/usr/libexec/java_home", "--failfast" */ -}}
, {{ $key }}: {{ $value | toJson }}
{{-     end }}
{{-     if get $pkg "options" -}}
, {{ $pkg.options }}
{{-     end }}
{{-   end }}
{{- end }}
# ENV["SOME_ENV_VAR"] = "some_value"
EOF

{{ includeTemplate "packages-script.tmpl" (mergeOverwrite . (dict
  "key" "after_script"
  "packages" $packages
)) | trim }}
