#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

{{- if eq .osID "android" }}
{{- includeTemplate "dot_config/sh/plugins/mise.sh.tmpl" (dict "osID" .osID) }}
{{- end }}

# Mise: {{ output .sh "-c" "mise --version || true" | replace "\n" " " | trim }}
# config.toml tools hash: {{ get (includeTemplate "dot_config/mise/config.toml.tmpl" . | fromToml) "tools" | toJson | sha256sum }}

# cmd mise self-update --quiet --yes

log "Installing tools"

{{- if has .osID (list "alpine") }}
# mise settings set disable_backends ubi
{{- end }}

cmd timeout 5m mise install --quiet --yes || cmd timeout 5m mise install --verbose --yes

log "Installed tools"

# cmd mise ls

tools=""
{{- if .features.ruby }}
# default-gems: {{ includeTemplate "dot_config/mise/default-gems.tmpl" . | sha256sum }}
# tools="$tools ruby@latest"
{{- end }}
{{- if .features.go }}
# default-go-packages: {{ includeTemplate "dot_config/mise/default-go-packages.tmpl" . | sha256sum }}
tools="$tools go@latest"
{{- end }}
{{- if .features.node }}
# default-npm-packages: {{ includeTemplate "dot_config/mise/default-npm-packages.tmpl" . | sha256sum }}
tools="$tools node@latest"
{{- end }}
{{- if .features.python }}
# default-python-packages: {{ includeTemplate "dot_config/mise/default-python-packages.tmpl" . | sha256sum }}
# tools="$tools python@latest"
{{- end }}
if [ -n "$tools" ]; then
  cmd mise use --global --quiet $tools
fi

# cmd mise prune # --tools
