#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

if command -v nvim >/dev/null && nvim --version | head -n1; then
  echo >&2 "Already installed: nvim" # {{ output "sh" "-c" "command -v nvim || true" }}
else
  echo >&2 "Installing neovim"
  # {{- if eq .chezmoi.os "darwin" }}
  export NONINTERACTIVE=1
  cmd brew install --quiet neovim
  # {{- else if eq .osid "alpine" }}
  cmd sudo apk add --quiet neovim
  # {{- else if eq .osid "arch" }}
  cmd sudo pacman --sync --needed --noconfirm --quiet neovim
  # {{- else if eq .osid "debian" }}
  # NOTE: Debian 12 has nvim 0.7.2
  VERSION="$(get_release neovim/neovim)" # v0.11.2
  NAME="nvim-linux-x86_64"
  URL="https://github.com/neovim/neovim/releases/download/$VERSION/$NAME.tar.gz"
  install_tar_gz "$URL" "$NAME/bin/nvim"
  NAME="nvim-linux-x86_64"
  sudo mv /tmp/$NAME/lib/* /usr/local/lib/
  sudo mv /tmp/$NAME/share/* /usr/local/share/
  # {{- else if eq .osid "android" }}
  cmd apt-get install --quiet --yes neovim >/dev/null
  # {{- else }}
  err "Unknown OS: $CHEZMOI_OS $CHEZMOI_OS_RELEASE_ID"
  # {{- end }}
  echo >&2 "Installed neovim"
fi

cmd timeout 5m nvim --headless +Update! +qa >/dev/null
