# Set-PSDebug -Trace 1

{{- $packages := includeTemplate "packages.tmpl" . | fromJson }}

echo "winget update --disable-interactivity --silent"
winget update --all --disable-interactivity --silent

{{- if .upgrade }}
echo "winget upgrade --all --disable-interactivity --silent"
winget upgrade --all --disable-interactivity --silent
{{- end }}

echo "winget install --disable-interactivity --silent {{ $packages | join " " }}"
winget install --disable-interactivity --silent {{ $packages | join " " }}
