#!/bin/sh

# NOTE: after install-packages.sh (system)

set -eu

lib_dir="$CHEZMOI_WORKING_TREE/home/dot_local/lib"
# shellcheck source=home/dot_local/lib/sh/log.sh
. "$lib_dir/sh/log.sh"
# shellcheck source=home/dot_local/lib/sh/run.sh
. "$lib_dir/sh/run.sh"

XDG_DATA_HOME="${XDG_DATA_HOME:-$HOME/.local/share}"
PATH="${MISE_DATA_DIR:-$XDG_DATA_HOME/mise}/shims:$PATH"

{{- includeTemplate "package-hooks.tmpl" (dict "key" "before_script" "values" .packages.pip "label" "pip") }}
pip_packages={{ .packages.pip | keys | sortAlpha | join " " | quote }}
if [ -n "$pip_packages" ]; then
  pip=pip
  if ! has pip >/dev/null; then
    python=python
    if ! has python >/dev/null && has python3 >/dev/null; then
      python=python3
    fi
    pip="$python -m pip"
  fi
  # shellcheck disable=SC2086
  dry_run $pip install --user --quiet $pip_packages
fi
{{- includeTemplate "package-hooks.tmpl" (dict "key" "after_script" "values" .packages.pip "label" "pip") }}
{{- includeTemplate "package-hooks.tmpl" (dict "key" "before_script" "values" .packages.pipx "label" "pipx") }}
{{- $pipxPackages := .packages.pipx | keys | sortAlpha }}
{{- if $pipxPackages }}
if has pipx; then
{{-   range $pipxPackages }}
  dry_run pipx install {{ . }}
{{-   end }}
fi
{{- end }}
{{- includeTemplate "package-hooks.tmpl" (dict "key" "after_script" "values" .packages.pipx "label" "pipx") }}

# https://github.com/astral-sh/uv/issues/13750
# run uv tool install --quiet{{ if .upgrade }} --upgrade{{ end }} $uv_packages

{{- $uvPackages := .packages.uv }}

{{- if empty $uvPackages }}
{{-   warnf "missing uv packages" }}
{{- end }}

{{- if eq (env "CACHE_BUST") "true" }}
# uv hash: {{ output "sh" (joinPath .chezmoi.sourceDir "dot_local/bin/executable_list-package") "uv" | sha256sum }}
{{- end }}

{{- includeTemplate "package-hooks.tmpl" (dict "key" "before_script" "values" $uvPackages "label" "uv") }}
{{- range $key, $value := $uvPackages }}
dry_run uv tool install --quiet{{ if $.upgrade }} --upgrade{{ end }} {{ $key | quote }}
{{- end }}
{{- includeTemplate "package-hooks.tmpl" (dict "key" "after_script" "values" $uvPackages "label" "uv") }}
