#!/bin/sh

# https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

{{- $systemPackages := get .packages .packageManager }}
{{- if or (empty $systemPackages) (not (kindIs "map" $systemPackages)) }}
{{-   warnf "invalid packages %s: %s" .packageManager $systemPackages }}
{{- end }}
{{- $packageList := $systemPackages | keys | sortAlpha }}

packages="{{ $packageList | join " " }}"

{{- if eq (env "CACHE_BUST") "true" }}
# Installed hash: {{ output "sh" (joinPath .chezmoi.sourceDir "dot_local/bin/executable_list-package") .packageManager | sha256sum }}
{{- end }}
echo >&2 "Installing {{ .packageManager }} packages: $packages"

{{- $before := includeTemplate "pluck.tmpl" (dict
  "key" "before_script"
  "values" $systemPackages
) | trim }}
{{- if $before }}

# Before script:
{{ $before }}
{{- end }}

{{- if eq .osID "alpine" }}

dry_run sudo apk update --quiet
{{- if .upgrade }}

dry_run sudo apk upgrade --quiet
{{- end }}

# shellcheck disable=SC2086
dry_run sudo apk add --quiet $packages
{{- else if eq .osIDLike "arch" }}

{{- if .container }}

if [ -f /var/lib/pacman/db.lck ]; then
  dry_run rm /var/lib/pacman/db.lck
fi
{{- end }}

{{- if .upgrade }}

dry_run sudo pacman --refresh --sync --sysupgrade --needed --noconfirm --quiet
{{- end }}

# shellcheck disable=SC2086
dry_run sudo pacman --sync --needed --noconfirm --quiet $packages

{{- else if eq .osIDLike "debian" }}

# https://manpages.ubuntu.com/manpages/trusty/en/man7/debconf.7.html#frontends
# export DEBIAN_FRONTEND=noninteractive

dry_run sudo -E apt-get update --quiet # >/dev/null

{{- if .upgrade }}

dry_run sudo -E apt-get upgrade --quiet --yes # >/dev/null
{{- end }}

# shellcheck disable=SC2086
dry_run sudo -E apt-get install --quiet --yes $packages # >/dev/null
{{- else if and (eq .osID "fedora") (eq .packageManager "dnf") }}

dry_run sudo dnf update --assumeyes --quiet
{{- if .upgrade }}

dry_run sudo dnf upgrade --assumeyes --quiet
{{- end }}

dry_run sudo dnf install --assumeyes --quiet $packages
{{- else if eq .osID "fedora" }}

dry_run rpm-ostree refresh-md # --quiet
{{- if .upgrade }}

dry_run rpm-ostree upgrade # --quiet
{{- end }}

dry_run rpm-ostree install --allow-inactive --assumeyes --idempotent $packages
# --apply-live --quiet
{{- else if eq .osID "android" }}

{{- if not .container }}

# https://github.com/termux/termux-packages/blob/master/scripts/setup-termux.sh
if [ ! -d "$HOME/storage/shared" ]; then
  dry_run termux-setup-storage
fi
{{- end }}

# if [ -z "${TERMUX_APP_PACKAGE_MANAGER:-}" ]; then
#   dry_run termux-setup-package-manager
#   TERMUX_APP_PACKAGE_MANAGER=apt
# fi

# TERM=xterm temux-change-repo # apt edit-sources

# cat /data/data/com.termux/files/usr/etc/apt/sources.list
# dry_run apt-get update --quiet >/dev/null
dry_run pkg update --quiet

{{- if .upgrade }}

# dry_run apt-get upgrade --quiet --yes # >/dev/null
dry_run pkg upgrade --quiet --yes
{{- end }}

dry_run pkg install --quiet --yes $packages # >/dev/null
{{- else if eq .os "windows" }}
{{- if .upgrade }}

dry_run winget upgrade --all --disable-interactivity --silent
{{- end }}

# NOTE: winget.json is updated after apply
# Winget packages hash: {{ includeTemplate "dot_config/winget/winget.json.tmpl" . | sha256sum }}
dry_run winget import --import-file="$HOME/.config/winget/winget.json" --disable-interactivity
{{- if not .upgrade }} --no-upgrade{{ end }}
# --accept-package-agreements --accept-source-agreements
{{- else }}

echo >&2 "Invalid OS: {{ .osID }}"
exit 1
{{- end }}

{{- $after := includeTemplate "pluck.tmpl" (dict
  "key" "after_script"
  "values" $systemPackages
) | trim }}
{{- if $after }}

# After script:
{{ $after }}
{{- end }}

{{- if and .codespaces (eq .osIDLike "debian") }}

selected_editor="$(update-alternatives --get-selections | grep editor | tr -s ' ' | cut -d' ' -f3)"
if [ "${selected_editor##*/}" = nano ]; then
  if [ -x /usr/bin/vim.basic ]; then
    dry_run sudo update-alternatives --set editor /usr/bin/vim.basic
  elif [ -x /usr/bin/vim.tiny ]; then
    dry_run sudo update-alternatives --set editor /usr/bin/vim.tiny
  fi
fi
{{- end }}

echo >&2 "Installed {{ .packageManager }} packages"
