#!/bin/bash

set -euo pipefail

export NONINTERACTIVE=1

set -x

{{- $packages := .packages.darwin }}
{{- if .features.neovim }}
{{- $packages = append $packages "neovim" }}
{{- end }}

brew bundle --file=/dev/stdin <<EOF
{{ range $packages | sortAlpha -}}
brew {{ . | quote }}
{{ end -}}
{{ range get .packages "casks" | default list | sortAlpha -}}
cask {{ . | quote }}
{{ end -}}
EOF
