{{- if or .features.bash .features.zsh -}}
{{- $dict := dict -}}
{{- $bin := glob (joinPath .chezmoi.sourceDir "dot_local" "bin" "executable_*") -}}
{{- $scripts := glob (joinPath .chezmoi.sourceDir ".." "script" "*") -}}
{{- range concat $bin $scripts -}}
{{-   $content := include . -}}
{{-   if contains "#USAGE " $content -}}
{{-     $hash := $content | sha256sum -}}
{{-     $name := . | base | trimPrefix "executable_" -}}
{{-     if get $dict $name -}}
{{-       warnf "duplicate #USAGE for %s, skipping\n" $name -}}
{{-       continue -}}
{{-     end -}}
{{-     $relative := trimPrefix (printf "%s/" $.chezmoi.sourceDir) . -}}
{{-     $dict = merge $dict (dict $name (dict
  "path" $relative
  "hash" $hash
)) -}}
{{-   end -}}
{{- end -}}
{{- if not (empty $dict) -}}
#!/bin/sh
# Generate shell completions for scripts with #USAGE directives

# hash:{{ range $dict | keys | sortAlpha }} {{ . }}{{ get (get $dict .) "hash" }}{{ end }}

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

{{ includeTemplate "dot_config/environment.d/00-xdg.conf.tmpl" . | trim }}

if ! has usage; then
  warn "usage not found, skipping completion generation"
  exit 0
fi

{{- if .features.bash }}

bash_dir="{{ .chezmoi.homeDir }}/.local/share/bash-completion/completions"
mkdir -p "$bash_dir"
{{- end }}

{{- if .features.zsh }}

zsh_dir="{{ .chezmoi.homeDir }}/.local/share/zsh/completions"
mkdir -p "$zsh_dir"
{{- end }}

rc=0
{{- range $dict | keys | sortAlpha }}
{{- $item := get $dict . }}

# TODO: use --usage
# spec=$(run grep '^#USAGE' {{ $item.path | quote }} | sed 's/^#USAGE //')
spec=$(
  cat <<'EOF'
{{ $content := include $item.path -}}
{{- range $line := $content | splitList "\n" -}}
{{-   if not (hasPrefix "#USAGE " $line) -}}
{{-     continue -}}
{{-   end -}}
{{-   printf "%s\n" (trimPrefix "#USAGE " $line) -}}
{{- end }}
EOF
)
if [ -n "$spec" ]; then
  msg "generate-completions: {{ . }}"
{{- if $.features.bash }}
  printf '%s\n' "$spec" |
    usage generate completion bash {{ . | quote }} --file - >"$bash_dir/{{ . }}"
{{- end }}
{{- if $.features.zsh }}
  printf '%s\n' "$spec" |
    usage generate completion zsh {{ . | quote }} --file - >"$zsh_dir/_{{ . }}"
{{- end }}
else
  warn "generate-completions: #USAGE not found: {{ $item.path }}"
  rc=1
fi
{{- end }}

exit $rc
{{- end }}
{{- end }}
