#!/bin/sh

# https://mise.jdx.dev/installing-mise.html

set -eu

# TODO: hash of tools
# config.toml hash: {{ include "dot_config/mise/config.toml.tmpl" | sha256sum }}

BIN_DIR="$HOME/.local/bin"
MISE_BIN="$BIN_DIR/mise"
MISE_CONFIG="$HOME/.config/mise/config.toml"

# {{- if eq .chezmoi.os "darwin" }}
OS=macos
# {{- else }}
OS=linux # "$CHEZMOI_OS"
# {{- end }}

# {{- if eq .chezmoi.arch "amd64" }}
ARCH=x64
# {{- else if eq .chezmoi.arch "arm" }}
ARCH=arm64
# {{- else }}
ARCH="{{ .chezmoi.arch }}" # armv{6,7}
# {{- end }}
if ! command -v ldd >/dev/null || grep -Fq musl "$(which ldd)"; then
  ARCH="$ARCH-musl"
fi

# TODO: reuse in script/bootstrap
if ! command -v mise >/dev/null || ! mise --version >/dev/null; then
  echo >&2 "Installing mise"
  # {{- if eq .chezmoi.os "darwin" }}
  export NONINTERACTIVE=1
  brew install --quiet mise
  # {{- else if eq (get .chezmoi.osRelease "id") "alpine" }}
  sudo apk add --quiet mise
  # {{- else }}
  if [ ! -d "$BIN_DIR" ]; then
    echo >&2 "Creating directory: $BIN_DIR"
    mkdir -p "$BIN_DIR"
  fi

  set -x
  curl -LSfs "https://mise.jdx.dev/mise-latest-$OS-$ARCH" -o "$MISE_BIN"
  chmod +x "$MISE_BIN"
  # {{- if eq .osid "android" }}
  # https://github.com/jdx/mise/issues/1969#issuecomment-2727306884
  mkdir -p "$PREFIX/etc/tls/certs"
  ln -fs "$PREFIX/etc/tls/cert.pem" "$PREFIX/etc/tls/certs.pem"
  ln -fs "$PREFIX/etc/tls/cert.pem" "$PREFIX/etc/tls/certs/ca-certificates.crt"
  # {{- end }}
  set +x
  # {{- end }}
  echo >&2 "Installed mise"
else
  echo >&2 'Already installed {{ output "sh" "-c" "command -v mise || true" }}'
  # {{- if has .osid (list "alpine" "darwin") }}
  if [ "$(which mise)" = /usr/bin/mise ]; then
    sudo mise self-update --quiet --yes
  # else
  #   # TODO: skip if mise is installed via a package manager
  #   mise self-update --quiet --yes
  fi
  # {{- end }}
fi

# {{- if eq .osid "android" }}
# {{- includeTemplate "dot_config/sh/plugins/mise.sh.tmpl" (dict "osid" .osid) }}
# {{- end }}

if [ ! -f "$MISE_CONFIG" ]; then
  if [ ! -d "$HOME/.config/mise" ]; then
    mkdir "$HOME/.config/mise"
  fi
  base64="{{ includeTemplate "dot_config/mise/config.toml.tmpl" . | b64enc }}"
  echo "$base64" | base64 -d >"$MISE_CONFIG"
fi
echo >&2 "Installing tools"
mise install --quiet || mise install --verboe
echo >&2 "Installed tools"
