#!/bin/sh
# shellcheck disable=SC2034

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

{{- if eq .osID "android" }}
{{ includeTemplate "termux.sh.tmpl" . | trim }}
alias mise="termux_prefix $MISE_BIN"
{{- end }}
{{ includeTemplate "dot_config/environment.d/00-xdg.conf.tmpl" . | trim }}
{{ includeTemplate "dot_config/environment.d/mise.conf.tmpl" . | trim }}

# require_mise_version "2026.3.4" # interactive task field

if [ "${DRY_RUN:-}" = true ]; then
  set -- "$@" --dry-run
fi
set -- "$@" --yes

{{- if .upgrade }}

# if ! run mise self-update "$@"; then
#   echo "mise self-update failed with exit code $?" >&2
# fi
{{- end }}

# TODO: check gpg-agent is running

{{- $tools := get (includeTemplate "dot_config/mise/tools.toml.tmpl" . | fromToml) "tools" }}

# config.toml tools hash: {{ $tools | toJson | sha256sum }}
msg "Installing tools"

# mise_args="--yes"
# if [ "${CHEZMOI_VERBOSE:-}" = 1 ]; then
#   mise_args="$mise_args --verbose"
# fi

dry_run timeout 5m mise {{ if .upgrade }}upgrade{{ else }}install{{ end }} "$@"

msg "Installed tools"

# run mise ls "$@"

{{- $tools := list }}

{{- $goPackages := get .packages.mise "go" | default dict -}}
{{- if $goPackages }}
# default-go-packages: includeTemplate "dot_config/mise/default-go-packages.tmpl" . | sha256sum
{{- $tools = append $tools (printf "go@%s" (get $goPackages "version" | default "latest")) }}
{{- end }}

{{- $nodePackages := get .packages.mise "node" | default dict -}}
{{- if $nodePackages }}
# default-npm-packages: includeTemplate "dot_config/mise/default-npm-packages.tmpl" . | sha256sum
{{- $tools = append $tools (printf "node@%s" (get $nodePackages "version" | default "latest")) }}
{{- end }}

{{- $pythonPackages := get .packages.mise "python" | default dict -}}
{{- if $pythonPackages }}
# default-python-packages: includeTemplate "dot_config/mise/default-python-packages.tmpl" . | sha256sum
{{- $tools = append $tools (printf "python@%s" (get $pythonPackages "version" | default "latest")) }}
{{- end }}

{{- $rubyPackages := get .packages.mise "ruby" | default dict -}}
{{- if $rubyPackages }}
# default-gems: includeTemplate "dot_config/mise/default-gems.tmpl" . | sha256sum
{{- $tools = append $tools (printf "ruby@%s" (get $rubyPackages "version" | default "latest")) }}
{{- end }}

{{- if not (empty $tools) }}

# FIXME: ensure new tools are installed and preserve order
# run mise unuse --global --no-prune "$@" {{ $tools | sortAlpha | join " " }}
# run mise use --global "$@" {{ $tools | sortAlpha | join " " }}
{{- end }}

# run mise prune "$@" # --tools
