#!/bin/sh

# https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/
# TODO: https://docs.brew.sh/Homebrew-on-Linux

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

{{- $key := "" -}}
{{- if eq .osIDLike "alpine" -}}
{{-   $key = "apk" -}}
{{- else if eq .osIDLike "android" -}}
{{-   $key = "termux" -}}
{{- else if eq .osIDLike "arch" -}}
{{-   $key = "pacman" -}}
{{- else if eq .osIDLike "debian" -}}
{{-   $key = "apt" -}}
{{- else if eq .osIDLike "fedora" -}}
{{-   $key = "dnf" -}}
{{- else -}}
{{- end -}}
{{- $packages := includeTemplate "packages.tmpl" (mergeOverwrite . (dict "key" $key) .) | fromJson -}}

{{- if .features.python }}
{{-   $pythonPackages := includeTemplate "dot_config/mise/system-python-packages.tmpl" . | splitList "\n" -}}
{{-   range $name := without $pythonPackages "" -}}
{{-     if eq (substr 0 1 $name) "#" -}}
{{-       continue -}}
{{-     end -}}
{{-     $prefix := "python" -}}
{{-     if eq $.osID "alpine" -}}
{{-       $prefix = "py3" -}}
{{-     else if eq $.osIDLike "debian" "fedora" -}}
{{-       $prefix = "python3" -}}
{{-     end -}}
{{-     $packages = append $packages (printf "%s-%s" $prefix $name) -}}
{{-   end -}}
{{- end }}

packages="{{ $packages | join " " }}"

echo >&2 "OS: $CHEZMOI_OS"
echo >&2 "OS ID: {{ .osID }}"
echo >&2 "OS ID like: {{ .osIDLike }}"
echo >&2 "OS version: {{ .osVersion }}"
echo >&2 "Installing packages: $packages"

{{- if eq .osid "alpine" }}
cmd sudo apk update --quiet
{{- if .upgrade }}
cmd sudo apk upgrade --quiet
{{- end }}
# shellcheck disable=SC2086
cmd sudo apk add --quiet $packages
{{- else if eq .osid "arch" }}
{{- if .upgrade }}
cmd sudo pacman --sync --needed --noconfirm --quiet --upgrade
{{- end }}
# shellcheck disable=SC2086
cmd sudo pacman --sync --needed --noconfirm --quiet $packages
if ! command -v yay >/dev/null && ! command -v paru >/dev/null && ! command -v pamac >/dev/null; then
  if [ ! -d /tmp/yay-bin ]; then
    cmd sudo -u "$USER" git clone https://aur.archlinux.org/yay-bin.git /tmp/yay-bin
  fi
  cmd cd /tmp/yay-bin
  cmd sudo -u "$USER" makepkg --install --noconfirm --syncdeps
fi
{{ $aurPackages := includeTemplate "packages.tmpl" (mergeOverwrite . (dict "key" "aur") .) | fromJson }}
aur_packages="{{ $aurPackages | join " " }}"
if command -v yay >/dev/null; then
  cmd sudo -u "$USER" yay --sync --needed --noconfirm --quiet $aur_packages
elif command -v paru >/dev/null && ! command -v pamac >/dev/null; then
  cmd sudo -u "$USER" paru --sync --needed --noconfirm --quiet $aur_packages
elif command -v pamac >/dev/null; then
  cmd sudo -u "$USER" pamac install --no-confirm --quiet $aur_packages
else
  echo >&2 "AUR package manager not found"
  exit 1
fi
{{- else if eq .osid "debian" }}
# https://manpages.ubuntu.com/manpages/trusty/en/man7/debconf.7.html#frontends
export DEBIAN_FRONTEND=noninteractive
cmd sudo apt-get update --quiet >/dev/null
{{- if .upgrade }}
cmd sudo -E apt-get upgrade --quiet --yes # >/dev/null
{{- end }}
# shellcheck disable=SC2086
cmd sudo -E apt-get install --quiet --yes $packages # >/dev/null
{{- else if eq .osid "fedora" }}
cmd dnf update --assumeyes --quiet
{{- if .upgrade }}
cmd dnf upgrade --assumeyes --quiet
{{- end }}
cmd dnf install --assumeyes --quiet $packages
{{- else if eq .osid "android" }}
# TODO: termux-setup-package-manager, termux-setup-storage
# TERM=xterm temux-change-repo # apt edit-sources
# cat /data/data/com.termux/files/usr/etc/apt/sources.list
# cmd apt-get update --quiet >/dev/null
cmd pkg update --quiet
{{- if .upgrade }}
# cmd apt-get upgrade --quiet --yes # >/dev/null
cmd pkg upgrade --quiet --yes
{{- end }}
# shellcheck disable=SC2086
cmd apt-get install --quiet --yes $packages >/dev/null
{{- else }}
echo >&2 "Unknown package manager"
exit 1
{{- end }}

{{- if and .codespaces (eq .osid "debian") }}
selected_editor="$(update-alternatives --get-selections | grep editor | tr -s ' ' | cut -d' ' -f3)"
if [ "${selected_editor##*/}" = nano ]; then
  if [ -x /usr/bin/vim.basic ]; then
    cmd sudo update-alternatives --set editor /usr/bin/vim.basic
  elif [ -x /usr/bin/vim.tiny ]; then
    cmd sudo update-alternatives --set editor /usr/bin/vim.tiny
  fi
fi
{{- end }}

echo >&2 "Installed packages"
