#!/bin/sh

# {{- if .features.go }}
set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

# NOTE: use global go
cd /tmp

if ! command -v go >/dev/null && command -v mise >/dev/null; then
  # mise use --global --quiet go@latest
  PATH="$PATH:$HOME/.local/share/mise/shims"
fi

# Command: {{ output "sh" "-c" "command -v go || true" | replace "\n" " " | trim }}
# echo >&2 "Version: $(go version)"
go version

# {{ output "sh" "-c" "gopls version || true" | replace "\n" " " | trim }}
# {{ output "sh" "-c" "dlv version || true" | replace "\n" " " | trim }}
# {{ output "sh" "-c" "command -v goimports || true" | replace "\n" " " | trim }}
# {{ output "sh" "-c" "command -v golangci-lint-langserver || true" | replace "\n" " " | trim }}
# {{ output "sh" "-c" "golangci-lint --version || true" | replace "\n" " " | trim }}

# {{- if .features.neovim }}
# cmd nvim --headless +MasonUpdate +qa

if ! command -v gopls >/dev/null; then
  cmd nvim --headless "+MasonInstall gopls" +qa
fi

if ! command -v dlv >/dev/null; then
  cmd nvim --headless "+MasonInstall delve" +qa
fi

if ! command -v goimports >/dev/null; then
  cmd nvim --headless "+MasonInstall goimports" +qa
fi

if ! command -v golangci-lint-langserver >/dev/null; then
  cmd nvim --headless "+MasonInstall golangci-lint-langserver" +qa
fi

if ! command -v golangci-lint >/dev/null; then
  cmd nvim --headless "+MasonInstall golangci-lint" +qa
fi
# {{- else }}
if ! command -v gopls >/dev/null; then
  cmd go install golang.org/x/tools/gopls@latest >/dev/null # LSP
fi

if ! command -v dlv >/dev/null; then
  cmd go install github.com/go-delve/delve/cmd/dlv@latest >/dev/null # Debugger
fi

if ! command -v goimports >/dev/null; then
  cmd go install golang.org/x/tools/cmd/goimports@latest >/dev/null # Formatter
fi

if ! command -v golangci-lint-langserver >/dev/null; then
  cmd go install github.com/nametake/golangci-lint-langserver@latest >/dev/null # Linter
fi

if ! command -v golangci-lint >/dev/null; then
  cmd go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest >/dev/null # Linter cli
fi
# {{- end }}
# {{- end }}
