#!/bin/bash

# https://forge.rust-lang.org/infra/other-installation-methods.html#other-ways-to-install-rustup

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

# NOTE: use global cargo
cd /tmp

if ! command -v cargo >/dev/null && [ -f ~/.cargo/env ]; then
  cmd . ~/.cargo/env
fi

if command -v cargo >/dev/null && cargo --version; then
  echo >&2 "Already installed: cargo" # {{ output .sh "-c" "command -v cargo || true" }}
else
  echo >&2 "Installing cargo"

  if [ "$CHEZMOI_ARCH" = "amd64" ]; then
    ARCH=x86_64
  else
    ARCH="$CHEZMOI_ARCH"
  fi
  if [ "$CHEZMOI_OS" = darwin ]; then
    OS=darwin
  else
    OS=unknown-linux
  fi
  NAME="$ARCH-$OS"
  if ! command -v ldd >/dev/null || grep -Fq musl "$(which ldd)" 2>/dev/null; then
    NAME="$NAME-musl"
  else
    NAME="$NAME-gnu"
  fi

  BIN_DIR="$HOME/.local/bin"
  if [ ! -d "$BIN_DIR" ]; then
    echo >&2 "Creating directory: $BIN_DIR"
    mkdir -p "$BIN_DIR"
  fi

  RUSTUP_INIT="$BIN_DIR/rustup-init"

  # curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs \
  #   | sh -s -- --component rust-analyzer --quiet -y

  cmd curl -LSfs "https://static.rust-lang.org/rustup/dist/$NAME/rustup-init" -o "$RUSTUP_INIT"
  cmd chmod +x "$RUSTUP_INIT"
  # {{- if .features.neovim }}
  RUSTUP_INIT_ARGS=""
  # {{- else }}
  RUSTUP_INIT_ARGS="--component rust-analyzer"
  # {{- end }}
  # shellcheck disable=SC2086
  cmd "$RUSTUP_INIT" $RUSTUP_INIT_ARGS --no-modify-path --quiet -y

  echo >&2 "Installed cargo"
fi

# Command: {{ output .sh "-c" "command -v rustc || true" | replace "\n" " " | trim }}
# echo >&2 "Version: $(rustc --version)"
# rustc --version

if ! command -v cargo >/dev/null && [ -f ~/.cargo/env ]; then
  cmd . ~/.cargo/env
fi

packages=()

if ! command -v cargo-update >/dev/null; then
  packages+=("cargo-update")
fi

# {{- if eq .osid "debian" }}
# TODO: https://github.com/skim-rs/skim#shell-completions
# {{ output .sh "-c" "sk --version 2>/dev/null || true" | replace "\n" " " | trim }}
if ! command -v sk >/dev/null; then
  packages+=("skim")
fi
# {{- end }}

# {{- if not .features.neovim }}
# rustup component add rust-analyzer

# Taplo: {{ output .sh "-c" "taplo --version 2>/dev/null || true" | replace "\n" " " | trim }}
if ! command -v taplo >/dev/null; then
  cmd cargo install taplo-cli --locked --features lsp --quiet
fi
# {{- end }}

cmd cargo install --quiet "${packages[@]}"
