{{- if get .features "mise" -}}
#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

{{- includeTemplate "dot_config/sh/plugins/mise.sh.tmpl" . }}

{{- $args := list "--yes" }}
{{- if .chezmoi.config.verbose }}
{{- $args = append $args "--verbose" }}
{{- end }}
{{- $miseArgs := $args | quoteList | join " " }}

{{- if .upgrade }}

if ! cmd mise self-update {{ $miseArgs }}; then
  echo >&2 "mise self-update failed with exit code $?"
fi
{{- end }}

# TODO: check gpg-agent is running

# cmd mise trust

# config.toml tools hash: {{ get (includeTemplate "dot_config/mise/config.toml.tmpl" . | fromToml) "tools" | toJson | sha256sum }}
log "Installing tools"

# mise_args="--yes"
# if [ "${CHEZMOI_VERBOSE:-}" = 1 ]; then
#   mise_args="$mise_args --verbose"
# fi

cmd timeout 5m mise install {{ $miseArgs }}

log "Installed tools"

# cmd mise ls

{{- $tools := list }}

{{- if get .packages "go" }}
# default-go-packages: {{ includeTemplate "dot_config/mise/default-go-packages.tmpl" . | sha256sum }}
{{- $tools = append $tools "go" }}
{{- end }}

{{- if get .packages "node" }}
# default-npm-packages: {{ includeTemplate "dot_config/mise/default-npm-packages.tmpl" . | sha256sum }}
{{- $tools = append $tools "node" }}
{{- end }}

{{- if get .packages "python" }}
# default-python-packages: {{ includeTemplate "dot_config/mise/default-python-packages.tmpl" . | sha256sum }}
{{- $tools = append $tools "python" }}
{{- end }}

{{- if get .packages "ruby" }}
# default-gems: {{ includeTemplate "dot_config/mise/default-gems.tmpl" . | sha256sum }}
{{- $tools = append $tools "ruby" }}
{{- end }}

{{- if not (empty $tools) }}

cmd mise use --global {{ $miseArgs }} {{ $tools | sortAlpha | join " " }}
{{- end }}

# cmd mise prune # --tools
{{- end -}}
