#!/bin/sh

# NOTE: after install-packages.sh (system)

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

XDG_DATA_HOME="${XDG_DATA_HOME:-$HOME/.local/share}"
PATH="${MISE_DATA_DIR:-$XDG_DATA_HOME/mise}/shims:$PATH"

pip_packages={{ .packages.pip | keys | sortAlpha | join " " | quote }}
if [ -n "$pip_packages" ]; then
  python=python
  if ! has python && has python3; then
    python=python3
  fi
  # shellcheck disable=SC2086
  dry_run $python -m pip install --user --quiet $pip_packages
fi

{{- $pipxPackages := .packages.pipx | keys | sortAlpha }}
{{- if $pipxPackages }}
if has pipx; then
{{-   range $pipxPackages }}
  dry_run pipx install {{ . }}
{{-   end }}
fi
{{- end }}

# https://github.com/astral-sh/uv/issues/13750
# run uv tool install --quiet{{ if .upgrade }} --upgrade{{ end }} $uv_packages

{{- $uvPackages := .packages.uv }}

{{- if empty $uvPackages }}
{{-   warnf "missing uv packages" }}
{{- end }}

{{- if eq (env "CACHE_BUST") "true" }}
# uv hash: {{ output "sh" (joinPath .chezmoi.sourceDir "dot_local/bin/executable_list-package") "uv" | sha256sum }}
{{- end }}

{{- range $key, $value := $uvPackages }}
{{-   $command := get $value "command" | default $key
  | replaceAllRegex `\[.*\]$` ""
  | replaceAllRegex `-cli$` "" }}
{{-   if and (not $.upgrade) ((lookPath $command) | isExecutable) }}
msg "Already installed: {{ $key }}"
{{-   else }}
dry_run uv tool install --quiet{{ if $.upgrade }} --upgrade{{ end }} {{ $key }}
{{-   end }}
{{- end }}
