#!/bin/bash

set -euo pipefail

# https://docs.brew.sh/Installation#unattended-installation
export NONINTERACTIVE=1

set -x

brew update --quiet

{{- if .upgrade }}
# brew upgrade --quiet
{{- end }}

{{- $brews := .packages.darwin.brews }}
{{- $casks := .packages.darwin.casks }}
{{- if .features.neovim }}
{{- $brews = append $brews "neovim" }}
packages="{{ $brews | join " " }} {{ $casks | join " " }}"
{{- end }}

{{- if .features.neovim }}
{{- $packages = append $packages "neovim" }}
{{- end }}

brew bundle --file=/dev/stdin <<EOF
{{ range $packages | sortAlpha -}}
brew {{ . | quote }}
{{ end -}}
{{ range get .packages.darwin.casks | sortAlpha -}}
cask {{ . | quote }}
{{ end -}}
EOF
