#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"
{{ if eq .osIDLike "darwin" "debian" -}}
# https://docs.astral.sh/uv/getting-started/installation/
if ! command -v uv >/dev/null; then
  # cmd curl -LsSf https://astral.sh/uv/install.sh | sh
  cmd pipx install uv
fi
{{- end }}
{{ $packages := list -}}
{{- $pythonPackages := includeTemplate "dot_config/mise/default-python-packages.tmpl" . | splitList "\n" -}}
{{- range $name := $pythonPackages -}}
{{-   $name = $name | replaceAllRegex "#.*" "" | trim -}}
{{-   if eq $name "" -}}
{{-     continue -}}
{{-   end -}}
{{-   $packages = append $packages $name -}}
{{- end -}}
packages="{{ $packages | join " " }}"

if [ -n "$packages" ]; then
  for name in $packages; do
    if ! command -v $name >/dev/null; then
      cmd uv tool install --quiet $name
    fi
  done
fi
# {{ if lookPath "uv" | not | not -}}
# {{- else if lookPath "pipx" | not | not }}
# if [ -n "$packages" ]; then
#   cmd pipx install $packages
# fi
# {{- else }}
# if [ -n "$packages" ]; then
#   cmd python -m pip install --user --quiet $packages
# fi
# {{- end }}
