{{- $sync := list
  "claude-context"
  "context7"
  "deep-wiki"
  "github"
  "gitlab"
  "grafana-app"
  "grep_app"
-}}
{{- if .features.kube -}}
{{-   $sync = concat $sync (list "flux-operator" "kubernetes") -}}
{{- end -}}
{{- $sync | sortAlpha | toJson }}
