{{- /* NOTE: this does not parse bindings from sourced files */ -}}
{{- $lines := include "dot_config/tmux/tmux.conf" | splitList "\n" }}
{{ $include := get . "keys" | default list }}
{{ range $lines }}
{{- if not (hasPrefix "bind" .) }}{{ continue }}{{ end }}
{{- $parts := . | splitList " " }}
{{- if lt (len $parts) 4 }}{{ continue }}{{ end }}
{{- if ne (index $parts 1) "-N" }}{{ continue }}{{ end }}
{{- $key := . | replaceAllRegex "bind -N '[^']+' ([^ ]+).*" "${1}" }}
{{- $include = append $include $key }}
{{- end }}
{{- includeTemplate "dot_config/tmux/plugins/tmux-which-key/.keys.yaml.tmpl" (dict "include" $include "map" (get . "map") "names" (get . "names")) }}
