{{- $keys := list }}
{{- range (get . "names") }}
{{- $parts := . | replaceAllRegex "\\s+" " " | splitList " " }}
{{- $prefix := index $parts 0 }}

{{- if or (ne $prefix "C-a") (lt (len $parts) 3) }}
# Excluded prefix: {{ . }}
{{- continue }}
{{- end }}

{{- $key := index $parts 1 }}
{{- $note := slice $parts 2 | join " " -}}

{{- if and (gt (get $ "include" | len | default 0) 0) (not (has $key $.include)) }}
# Not included: {{ . }}
{{- continue }}
{{- end }}

{{- if or (has $key (get $ "exclude" | default (list "'"))) (or (lt (len $key) (get $ "min" | default 1)) (gt (len $key) (get $ "max" | default (len $key)))) }}
# Excluded: {{ . }}
{{- continue }}
{{- end }}

{{- $command := get (get $ "map") ($key | replaceAllRegex ";" "\\;") }}
{{- if contains "'" $command }}
# FIXME(single quote breaks menu commands): {{ . }}
{{- $note = printf "-%s (%s)" $note $key }}
{{- $command = $command | replaceAllRegex "'" "" }}
{{- end }}

{{- $dict := dict
  "name" $note
  "key" $key
  "command" $command
-}}

{{- $keys = append $keys $dict }}

{{- end }}

{{- range $keys }}
- name: {{ .name | quote }}
  key: {{ .key | quote }}
  command: {{ .command | quote }}
{{- end }}
