# Generated keys (tmux list-keys -N)
{{- $keys := (dict "bind" list "ctrl" list "meta" list "shift" list "other" list) }}
{{- range output "sh" "-c" "tmux list-keys -N || true" | trim | splitList "\n" }}
{{- $parts := . | replaceAllRegex "\\s+" " " | splitList " " }}
{{- $prefix := index $parts 0 }}
{{- if and (eq $prefix "C-a") (gt (len $parts) 1) }}
{{- $key := index $parts 1 }}
{{- $note := slice $parts 2 | join " " -}}

{{- if has $key (list "'") }}
# {{ substr 0 2 $key }}
# - name: {{ $note | quote }}
#   key: {{ index $parts 1 | quote }}
#   command: ""
{{- continue }}
{{- end }}

{{- $dict := dict
  "name" $note
  "key" $key
  "command" (output "sh" "-c" (printf "tmux list-keys -T prefix '%s' | cut -d ' ' -f5-" ($key | replaceAllRegex ";" "\\;")) | trim)
-}}

{{- if eq (len $key) 1 }}
{{- $_ := set $keys "bind" (append $keys.bind $dict) }}
{{- else if eq (substr 0 2 $key) "C-" }}
{{- $_ := set $keys "ctrl" (append $keys.ctrl $dict) }}
{{- else if eq (substr 0 2 $key) "M-" }}
{{- $_ := set $keys "meta" (append $keys.meta $dict) }}
{{- else if eq (substr 0 2 $key) "S-" }}
{{- $_ := set $keys "shift" (append $keys.shift $dict) }}
{{- else }}
{{- $_ := set $keys "other" (append $keys.other $dict) }}
{{- end }}

{{- end }}
{{- end }}

{{- range $group, $items := $keys }}
{{- if eq (len $items) 0 }}
{{- continue }}
{{- end }}
- name: +{{ $group }}
  key: {{ $group }}
  menu:
    {{- range $items }}
    - name: {{ .name | quote }}
      key: {{ .key | quote }}
      command: {{ .command | quote }}
    {{- end }}
{{- end }}
