# yaml-language-server: $schema=https://raw.githubusercontent.com/alexwforsythe/tmux-which-key/refs/heads/main/config.schema.yaml
---
command_alias_start_index: 200
keybindings:
  root_table: "C-?" # C-Space
  prefix_table: "?" # Space
title:
  style: align=centre,bold
  prefix: tmux
  prefix_style: fg=green,align=centre,bold
position:
  x: R
  y: W # P
custom_variables:
  - name: log_info
    value: "#[fg=green,italics] [info]#[default]#[italics]"
macros:
  - name: reload-config
    commands:
      - display "#{log_info} Loading config... "
      - source-file $HOME/.config/tmux/tmux.conf
      - display -p "\n\n... Press ENTER to continue"
      # - send-keys C-a
      # - send-keys r
  - name: restart-pane
    commands:
      - display "#{log_info} Restarting pane"
      - "respawnp -k -c #{pane_current_path}"
  # - name: goto-session
  #   commands:
  #     - display "#{log_info} Switching session"
  #     - "send-prefix; send-keys g"
items:
  - name: Run
    key: ":" # space
    command: command-prompt
  - name: Last window
    key: a # tab
    command: last-window
  - name: Last pane
    key: space # "`"
    command: last-pane
  - name: Copy
    key: c
    menu:
      - name: Copy
        key: c
        command: copy-mode
      - name: List buffers
        key: "#"
        command: list-buffers
  - separator: true

  # - name: Goto session
  #   key: g
  #   # command: goto-session
  #   command: 'display "#{log_info} Switching session"; run-shell "$HOME/.config/tmux/plugins/tmux-sessionist/scripts/goto_session.sh"'

  # - name: Reload config
  #   key: r
  #   macro: reload-config

  # TODO: move 0-9 to Windows group
  {{- $keys := (dict "bind" list "ctrl" list "meta" list "shift" list "other" list) }}
  {{- range output "sh" "-c" "tmux list-keys -N || true" | trim | splitList "\n" }}
  {{- $parts := . | replaceAllRegex "\\s+" " " | splitList " " }}
  {{- $prefix := index $parts 0 }}
  {{- if and (eq $prefix "C-a") (gt (len $parts) 1) }}
  {{- $key := index $parts 1 }}
  {{- $note := slice $parts 2 | join " " -}}

  {{- if has $key (list "'") }}
  # {{ substr 0 2 $key }}
  # - name: {{ $note | quote }}
  #   key: {{ index $parts 1 | quote }}
  #   command: ""
  {{- continue }}
  {{- end }}

  {{- $dict := dict
    "name" $note
    "key" $key
    "command" (output "sh" "-c" (printf "tmux list-keys -T prefix '%s' | cut -d ' ' -f5-" ($key | replaceAllRegex ";" "\\;")) | trim)
  -}}

  {{- if eq (len $key) 1 }}
  {{- set $keys "bind" (append $keys.bind $dict) }}
  {{- else if eq (substr 0 2 $key) "C-" }}
  {{- set $keys "ctrl" (append $keys.ctrl $dict) }}
  {{- else if eq (substr 0 2 $key) "M-" }}
  {{- set $keys "meta" (append $keys.meta $dict) }}
  {{- else if eq (substr 0 2 $key) "S-" }}
  {{- set $keys "shift" (append $keys.shift $dict) }}
  {{- else }}
  {{- set $keys "other" (append $keys.other $dict) }}
  {{- end }}

  {{- end }}
  {{- end }}

  {{- range $group, $items := $keys }}
  {{- if eq (len $items) 0 }}
  {{- continue }}
  {{- end }}
  - name: +{{ $group }}
    key: {{ $group }}
    menu:
      {{- range $items }}
      - name: {{ .name | quote }}
        key: {{ .key | quote }}
        command: {{ .command | quote }}
      {{- end }}
  {{- end }}

  - separator: true

  - name: +Windows
    key: w
    menu:
      - name: Last
        key: tab
        command: last-window
      - name: Choose
        key: w
        command: choose-tree -Zw
      - name: Previous
        key: p
        command: previous-window
      - name: Next
        key: n
        command: next-window
      - name: New
        key: c
        command: "neww -c #{pane_current_path}"
      - separator: true
      - name: +Layout
        key: l
        menu:
          - name: Next
            key: l
            command: nextl
            transient: true
          - name: Tiled
            key: t
            command: selectnl tiled
          - name: Horizontal
            key: h
            command: selectl even-horizontal
          - name: Vertical
            key: v
            command: selectl even-vertical
          - name: Horizontal main
            key: H
            command: selectl main-horizontal
          - name: Vertical main
            key: V
            command: selectl main-vertical
      - name: Split horizontal
        key: /
        command: "splitw -h -c #{pane_current_path}"
      - name: Split vertical
        key: "-"
        command: "splitw -v -c #{pane_current_path}"
      - name: Rotate
        key: o
        command: rotatew
        transient: true
      - name: Rotate reverse
        key: O
        command: rotatew -D
        transient: true
      - separator: true
      - name: Rename
        key: R
        command: command-prompt -I "#W" "renamew -- \"%%\""
      - name: Kill
        key: X
        command: 'confirm -p "Kill window #W? (y/n)" killw'
  - name: +Panes
    key: p
    menu:
      - name: Last
        key: tab
        command: lastp
      - name: Choose
        key: p
        command: displayp -d 0
      - separator: true
      - name: Left
        key: h
        command: selectp -L
      - name: Down
        key: j
        command: selectp -D
      - name: Up
        key: k
        command: selectp -U
      - name: Right
        key: l
        command: selectp -R
      - separator: true
      - name: Zoom
        key: z
        command: resizep -Z
      - name: +Resize
        key: r
        menu:
          - name: Left
            key: h
            command: resizep -L
            transient: true
          - name: Down
            key: j
            command: resizep -D
            transient: true
          - name: Up
            key: k
            command: resizep -U
            transient: true
          - name: Right
            key: l
            command: resizep -R
            transient: true
          - name: Left more
            key: H
            command: resizep -L 10
            transient: true
          - name: Down more
            key: J
            command: resizep -D 10
            transient: true
          - name: Up more
            key: K
            command: resizep -U 10
            transient: true
          - name: Right more
            key: L
            command: resizep -R 10
            transient: true
      - name: Swap left
        key: H
        command: swapp -t "{left-of}"
      - name: Swap down
        key: J
        command: swapp -t "{down-of}"
      - name: Swap up
        key: K
        command: swapp -t "{up-of}"
      - name: Swap right
        key: L
        command: swapp -t "{right-of}"
      - name: Break
        key: "!"
        command: break-pane
      - separator: true
      - name: Mark
        key: m
        command: selectp -m
      - name: Unmark
        key: M
        command: selectp -M
      - name: Capture
        key: C
        command: capture-pane
      - name: Respawn pane
        key: R
        macro: restart-pane
      - name: Kill
        key: X
        command: 'confirm -p "Kill pane #P? (y/n)" killp'
  - name: +Buffers
    key: b
    menu:
      - name: Choose
        key: b
        command: choose-buffer -Z
      - name: List
        key: l
        command: lsb
      - name: Paste
        key: p
        command: pasteb
  - name: +Sessions
    key: s
    menu:
      - name: Choose
        key: s
        command: choose-tree -Zs
      - name: New
        key: N
        command: new
      - name: Rename
        key: r
        command: rename
  - name: +Client
    key: C
    menu:
      - name: Choose
        key: c
        command: choose-client -Z
      - name: Last
        key: l
        command: switchc -l
      - name: Previous
        key: p
        command: switchc -p
      - name: Next
        key: n
        command: switchc -n
      - separator: true
      - name: Refresh
        key: R
        command: refresh
      - name: +Plugins
        key: P
        menu:
          - name: Install
            key: i
            command: run-shell $TMUX_PLUGIN_MANAGER_PATH/tpm/bindings/install_plugins
          - name: Update
            key: u
            command: run-shell $TMUX_PLUGIN_MANAGER_PATH/tpm/bindings/update_plugins
          - name: Clean
            key: c
            command: run-shell $TMUX_PLUGIN_MANAGER_PATH/tpm/bindings/clean_plugins
      - name: Detach
        key: D
        command: detach
      - name: Suspend
        key: Z
        command: suspendc
      - separator: true
      # - name: Reload config
      #   key: r
      #   macro: reload-config
      - name: Customize
        key: ","
        command: customize-mode -Z
  - separator: true
  - name: Time
    key: T
    command: clock-mode
  - name: Show messages
    key: "~"
    command: show-messages
  - name: +Keys
    key: "?"
    command: list-keys -N
