# Set-PSDebug -Trace 1

echo "Scoop: {{ lookPath "scoop" }}"

# Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
# Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression

{{- if .upgrade }}
scoop update *
{{- end }}

{{- $scoopPackages := includeTemplate "packages.tmpl" (mergeOverwrite . (dict "packageType" "scoop")) | fromJson }}
scoop install {{ $scoopPackages | keys | sortAlpha | join " " }}

echo "Winget: {{ lookPath "winget" }}"

{{- if .upgrade }}
# echo "winget update --disable-interactivity --silent"
# winget update --disable-interactivity --silent

# Winget packages hash: {{ includeTemplate "dot_config/winget/winget.json.tmpl" . | sha256sum }}
winget upgrade --all --disable-interactivity --silent
{{- end }}

# winget install --disable-interactivity --silent --source=winget --id=$id

# winget export --output=winget.json
# '' | Out-File -FilePath winget.json -Encoding utf8
winget import --import-file=%USERPROFILE%\.config\winget\winget.json --disable-interactivity
{{- if not .upgrade }} --no-upgrade{{ end }}
# --accept-package-agreements --accept-source-agreements
# if(!$?) { Exit $LASTEXITCODE }
