# Set-PSDebug -Trace 1

{{- $scoopPackages := includeTemplate "packages.tmpl" (mergeOverwrite . (dict "key" "scoop") .) | fromJson }}
{{- $wingetPackages := includeTemplate "packages.tmpl" (mergeOverwrite . (dict "key" "winget") .) | fromJson }}

echo "Scoop: {{ lookPath "scoop" }}"

# Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
# Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression

{{- if .upgrade }}
scoop update *
{{- end }}

scoop install {{ $scoopPackages | join " " }}

echo "Winget: {{ lookPath "winget" }}"

echo "winget update --disable-interactivity --silent"
winget update --disable-interactivity --silent

{{- if .upgrade }}
echo "winget upgrade --all --disable-interactivity --silent"
winget upgrade --all --disable-interactivity --silent
{{- end }}

echo "winget install --disable-interactivity --silent {{ $wingetPackages | join " " }}"
winget install --disable-interactivity --silent {{ $wingetPackages | join " " }}
