# Set-PSDebug -Trace 1

# Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
# Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression

{{- if .upgrade }}

echo "scoop update *"
scoop update *
{{- end }}

{{- $scoopPackages := .packages.scoop | keys | sortAlpha | join " " }}

echo "scoop install {{ $scoopPackages }}"
scoop install {{ $scoopPackages }}
