{{- $mcp := includeTemplate "dot_config/Code/User/mcp.json" | fromJson -}}
{{- $servers := dict -}}
{{- range $key, $value := $mcp.servers -}}
{{- if hasKey $value "command" -}}
{{-   $_ := $value | setValueAtPath "command" (concat (list $value.command) $value.args) -}}
{{-   $_ := $value | deleteValueAtPath "args" -}}
{{- end -}}
{{- if hasKey $value "env" -}}
{{- /* TODO: replace values containing ${KEY} with {env:KEY} */ -}}
{{-   $_ := $value | setValueAtPath "environment" $value.env -}}
{{-   $_ := $value | deleteValueAtPath "env" -}}
{{- end -}}
{{- if and (hasKey $value "type") (eq $value.type "stdio") -}}
{{-   $_ := $value | setValueAtPath "type" "local" -}}
{{- else if and (hasKey $value "type") (eq $value.type "http") -}}
{{-   $_ := $value | setValueAtPath "type" "remote" -}}
{{- end -}}
{{- $_ := $servers | setValueAtPath $key $value -}}
{{- end -}}
{
  "$schema": "https://opencode.ai/config.json",
  // "theme": "opencode",
  // "model": "anthropic/claude-sonnet-4-5",
  "autoupdate": false,
  "mcp": {{ $servers | toPrettyJson | indent 2 | trim }}
}
