{{- $_ := . | setValueAtPath "client" "opencode" -}}
{{- $mcp := includeTemplate "mcp.jsonc" . | fromJsonc -}}
{{- $servers := dict -}}
{{- range $key, $value := $mcp.servers -}}
{{-   if hasKey $value "command" -}}
{{-     $_ := $value | setValueAtPath "command" (concat (list $value.command) $value.args) -}}
{{-     $_ := $value | deleteValueAtPath "args" -}}
{{-   end -}}
{{-   if hasKey $value "env" -}}
{{-     range $k, $v := $value.env -}}
{{-       $val := $v | replaceAllRegex "\\${" "{env:" -}}
{{-       if ne $v $val -}}
{{-         $_ := $value.env | setValueAtPath $k $val -}}
{{-       end -}}
{{-     end -}}
{{-     $_ := $value | setValueAtPath "environment" $value.env -}}
{{-     $_ := $value | deleteValueAtPath "env" -}}
{{-   end -}}
{{-   if hasKey $value "headers" -}}
{{-     range $k, $v := $value.headers -}}
{{-       $val := $v | replaceAllRegex "\\${" "{env:" -}}
{{-       if ne $v $val -}}
{{-         $_ := $value.headers | setValueAtPath $k $val -}}
{{-       end -}}
{{-     end -}}
{{-   end -}}
{{-   if or (not (hasKey $value "type")) (eq $value.type "stdio") -}}
{{-     $_ := $value | setValueAtPath "type" "local" -}}
{{-   else if and (hasKey $value "type") (eq $value.type "http") -}}
{{-     $_ := $value | setValueAtPath "type" "remote" -}}
{{-   end -}}
{{-   if hasKey $value "url" -}}
{{-     $_ := $value | setValueAtPath "url" ($value.url | replaceAllRegex "\\${" "{env:") -}}
{{-   end -}}
{{- /* $_ := $value | setValueAtPath "enabled" false */ -}}
{{-   $_ := $servers | setValueAtPath $key $value -}}
{{- end -}}

{{- $ohMyOC := false -}}
{{- $quotaToast := false -}}
{
  "$schema": "https://opencode.ai/config.json",
  "theme": {{ get . "theme" | default "system" | quote }},
  // "model": "anthropic/claude-sonnet-4-5",
  {{- if and (eq .osIDLike "darwin") (eq .chezmoi.arch "arm64") }}
  // "model": "mlx-community/Llama-3.2-3B-Instruct-4bit",
  {{- end }}
  "autoupdate": false,

  // https://github.com/anomalyco/opencode/pull/8562
  // "server": {
  //   "hostname": "localhost"
  // },

  // https://opencode.ai/docs/rules/#using-opencodejson
  "instructions": [
    // ".cursor/rules/*.md",
    "CONTRIBUTING.md",
    // "docs/development-standards.md",
    // "docs/guidelines.md",
    "packages/*/AGENTS.md"
    // "test/testing-guidelines.md",
  ],
  "plugin": [
    "@franlol/opencode-md-table-formatter@0.0.3",
    // "@ramtinj95/opencode-tokenscope@1.5.2",
    {{- if $quotaToast }}
    "@slkiser/opencode-quota@1.4.0",
    {{- end }}
    "opencode-pty@0.2.0",
    // "opencode-sessions@1.0.0",
    {{- if $ohMyOC }}
    // TODO: openspec init
    // bunx oh-my-opencode install --no-tui --claude=no --gemini=yes --copilot=yes
    // mv ~/.config/opencode/oh-my-opencode.json{,c}
    "oh-my-opencode@3.2.3",
    {{- else }}
    "@mohak34/opencode-notifier@0.1.15",
    {{- end }}
    "opencode-antigravity-auth@1.4.5"
  ],
  {{- if $quotaToast }}
  "experimental": {
    "quotaToast": {
      "enabledProviders": [
        "copilot"
        // "openai",
        // "google-antigravity",
      ]
    }
  },
  {{- end }}
  // https://opencode.ai/docs/permissions#defaults
  "permission": {
    "*": "ask",
    // Reading a file (matches the file path)
    "read": {
      "*": "allow",
      "*.env": "deny",
      "*.env.*": "deny",
      "*.env.example": "allow"
    },
    // All file modifications (covers edit, write, patch, multiedit)
    "edit": "ask",
    // File globbing (matches the glob pattern)
    "glob": "allow",
    // Content search (matches the regex pattern)
    "grep": "allow",
    // Listing files in a directory (matches the directory path)
    "list": "allow",
    // Running shell commands (matches parsed commands like git status --porcelain)
    "bash": {
      "*": "ask",
      "awk *": "allow",
      "cat *": "allow",
      // "cd *": "allow",
      // "curl *": "allow",
      "echo *": "allow",
      "env *": "deny",
      "find *": "allow",
      // "git *": "deny",
      // "git worktree *": "allow",
      // "git wt *": "allow",
      "grep *": "deny",
      "head *": "allow",
      "jq *": "allow",
      "ls *": "deny",
      // "mv *": "deny",
      "rg *": "allow",
      "rm *": "deny",
      "sed *": "allow",
      "sed * -I*": "ask",
      "sed * -i*": "ask",
      "sleep *": "allow",
      "tail *": "allow",
      "test *": "allow",
      "trash *": "ask",
      "wc *": "allow",
      "yq *": "allow",

      "npm run build*": "allow",
      "npm run dev*": "allow", // Requires timeout or pty_spawn
      "npm run test*": "allow",
      "npm test *": "allow",
      "npm t *": "allow",

      "npx skills check *": "allow",
      "npx skills find *": "allow",
      "npx skills list *": "allow",
      "npx skills search *": "allow",

      "sq *": "allow",
      "sq * -o*": "ask",
      "sq * --output*": "ask"
    },
    // Launching subagents (matches the subagent type)
    // "task": "ask",
    "task": {
      "*": "deny",
      // "orchestrator-*": "allow",
      // "code-reviewer": "ask"
    },
    // Loading a skill (matches the skill name)
    "skill": {
      "*": "allow",
      "find-skills": "allow",
      "flux-operator": "deny",
      "sq": "allow"
    },
    // Running LSP queries (currently non-granular)
    // OPENCODE_EXPERIMENTAL_LSP_TOOL=true or OPENCODE_EXPERIMENTAL=true
    "lsp": "allow",
    // Reading/updating the todo list
    "todoread": "deny",
    "todowrite": "deny",
    // Fetching a URL (matches the URL)
    // "webfetch": { "*" "ask" },
    // Web/code search (matches the query)
    "websearch": "allow",
    "codesearch": "allow",
    // Triggered when a tool touches paths outside the project working directory
    "external_directory": "ask",
    // Triggered when the same tool call repeats 3 times with identical input
    // "doom_loop": "ask",
    // Ask the user questions during execution
    "question": "allow",

    // Custom tools
    "notify": "allow",

    // MCP tools
    {{- range $mcp.servers | keys | sortAlpha }}
    "{{ . }}_*": "deny",
    {{- end }}

    "mcp-registry_*": "allow",
    "skills-search_*": "allow",

    // https://github.com/modelcontextprotocol/servers/tree/main/src/git
    "git_git_*": "ask",
    "git_git_branch": "allow",
    "git_git_diff*": "allow",
    "git_git_log": "allow",
    "git_git_show": "allow",
    "git_git_status": "allow",

    // Plugins
    "pty_*": "allow",
    "pty_kill": "ask",
    "pty_spawn": "ask",
    "pty_write": "ask",

    // Included in opencode
    "context7_*": "ask",
    "exa_*": "ask",
    "grep_app_*": "ask",
    "grep_app_searchGitHub": "allow"
  },
  {{ "// If no temperature is specified, OpenCode uses model-specific defaults," }}
  {{ "// typically 0 for most models, 0.55 for Qwen models" }}
  "agent": {
    // Primary: build, compaction, plan, summary, title
    "build": {
      "mode": "primary",
      // "model": "anthropic/claude-sonnet-4-20250514",
      // "model": "github-copilot/claude-sonnet-4.5",
      {{- if eq .profile "work" }}
      "model": "github-copilot/claude-opus-4.5",
      // "variant": "max",
      {{- else }}
      "model": "opencode/kimi-k2.5-free",
      "variant": "high",
      {{- end }}
      // "temperature": 0.3,
      "permission": {
        "edit": "ask", // Always allow per session
        // "bash": {
        //   "*": "ask",
        //   "git *": "allow",
        //   "git commit *": "ask",
        //   "git push *": "deny",
        //   "grep *": "allow",
        // },
        "task": {
          // Agents
          "*": "ask",
          // "explore": "ask",
          // "general": "ask",
          // "readonly": "ask",
          "review": "allow",
          // "analyze": "ask",
          // "archive": "ask",
          // "brainstorm": "ask",
          // "browser": "ask",
          // "coder": "ask",
          // "flux": "ask",
          // "flux-read-only": "ask",
          // "github": "ask",
          // "search": "ask",
          // "system": "ask",
          // "zero": "ask",
          "flux": "allow",
          "flux-read-only": "deny"
        },
        "todoread": "allow",
        "todowrite": "allow"
        // "git_git_*": "ask",
        // "git_git_branch": "allow",
        // "git_git_diff*": "allow",
        // "git_git_log": "allow",
        // "git_git_show": "allow",
        // "git_git_status": "allow",
      }
      // "prompt": "{file:./prompts/build.txt}",
    },
    "plan": {
      "mode": "primary",
      // "model": "anthropic/claude-haiku-4-20250514",
      // "model": "github-copilot/claude-haiku-3.5",
      {{- if eq .profile "work" }}
      "model": "github-copilot/claude-sonnet-4.5",
      // "variant": "max",
      {{- else }}
      "model": "opencode/gpt-5-nano",
      "variant": "minimal",
      {{- end }}
      "permission": {
        "edit": "deny",
        // "bash": "ask",
        "task": {
          // Agents
          "*": "ask",
          // "explore": "ask",
          // "general": "ask",
          // "readonly": "ask",
          // "review": "ask",
          // "analyze": "ask",
          // "archive": "ask",
          // "brainstorm": "ask",
          // "browser": "ask",
          // "coder": "ask",
          // "flux": "ask",
          // "flux-read-only": "ask",
          // "github": "ask",
          // "search": "ask",
          // "system": "ask",
          // "zero": "ask",
          "flux": "deny",
          "flux-read-only": "allow"
        },
        "todoread": "allow",
        "todowrite": "allow",
        "git_git_*": "deny",
        "git_git_branch": "allow",
        "git_git_diff*": "allow",
        "git_git_log": "allow",
        "git_git_show": "allow",
        "git_git_status": "allow"
      }
    },
    // Subagent: explore, general, readonly, review
    "analyze": {
      "disable": true,
      "temperature": 0.1,
      // "prompt": "{file:./prompts/analysis.txt}",
      "permission": {
        "*": "deny"
      }
    },
    "archive": {
      "mode": "subagent",
      "permission": {
        "*": "deny",
        "memory_*": "allow",
        "qdrant-memory_*": "allow"
      }
    },
    "brainstorm": {
      "disable": true,
      "temperature": 0.7,
      // "prompt": "{file:./prompts/creative.txt}",
      "permission": {
        "*": "deny",
        "sequential-thinking_*": "ask"
      }
    },
    "browser": {
      "description": "Chrome devtools MCP",
      "mode": "subagent",
      "permission": {
        "*": "deny",
        "chrome-devtools_*": "ask"
        // "chrome-devtools_evaluate_script": "ask",
        // "chrome-devtools_list_pages": "ask",
        // "chrome-devtools_navigate_page": "ask",
      }
    },
    "coder": {
      "description": "Code mode MCP",
      "mode": "subagent",
      "permission": {
        "*": "deny",
        "code-mode_*": "ask",
        "code-mode_list_tools": "allow"
        // "utcp_*": "ask",
        // "utcp_list_tools": "allow",
        // "utcp_tool_info": "allow",
      }
    },
    "crawl": {
      "description": "Firecrawl MCP",
      "mode": "subagent",
      "permission": {
        "*": "deny",
        "firecrawl_*": "allow"
      }
    },
    "flux": {
      "description": "Flux and k8s MCP",
      "mode": "subagent",
      "permission": {
        "*": "deny",
        "skill": {
          "*": "deny",
          "flux-operator": "allow"
        },
        // MCP servers
        "flux-operator_*": "allow",
        "kubernetes_*": "allow"
      }
    },
    "flux-read-only": {
      "description": "Read-only Flux MCP",
      "mode": "subagent",
      "permission": {
        "*": "deny",
        "skill": {
          "*": "deny",
          "flux-operator": "allow"
        },
        // MCP servers
        "flux-operator-read-only_*": "allow"
      }
    },
    "github": {
      "description": "GitHub MCP and Grep App",
      "mode": "subagent",
      "permission": {
        "*": "deny",
        "bash": {
          "gh *": "ask",
        },
        // https://github.com/github/github-mcp-server
        "github_*": "ask",
        "github_get_file_contents": "allow",
        "github_issue_read": "allow",
        "github_list_discussions": "allow",
        "github_list_gist": "allow",
        "github_list_issues": "allow",
        "github_list_pull_requests": "allow",
        "github_search_code": "allow",
        "github_search_issues": "allow",
        "github_search_pull_request_read": "allow",
        "github_search_pull_requests": "allow",
        "github_search_repositories": "allow",
        "grep_app_*": "ask",
        "grep_app_searchGitHub": "allow"
      }
    },
    "gitlab": {
      "description": "GitLab MCP",
      "mode": "subagent",
      "permission": {
        "*": "deny",
        "bash": {
          "glab *": "ask",
        },
        "gitlab_*": "ask",
      }
    },
    "system": {
      "description": "Filesystem MCP and mise-en-place MCP",
      "mode": "subagent",
      "permission": {
        "*": "deny",
        "mise_*": "ask",
        // https://github.com/modelcontextprotocol/servers/tree/main/src/filesystem
        "filesystem_*": "ask",
        "filesystem_read_text_file": "allow",
        "filesystem_read_media_file": "allow",
        "filesystem_read_multiple_files": "allow",
        "filesystem_list_directory": "allow",
        "filesystem_list_directory_with_sizes": "allow",
        "filesystem_directory_tree": "allow",
        "filesystem_search_files": "allow",
        "filesystem_get_file_info": "allow",
        "filesystem_list_allowed_directories": "allow",
        // "filesystem_create_directory": "ask",
        // "filesystem_write_file": "ask",
        // "filesystem_edit_file": "ask",
        // "filesystem_move_file": "ask",
      }
    },
    "zero": {
      "description": "Minimal context",
      "prompt": "",
      "mode": "all",
      "permission": {
        "*": "deny"
      }
    }
  },
  // "inputs": {{ $mcp.inputs | toJson | indent 2 | trim }},
  "mcp": {{ $mcp.servers | toPrettyJson | indent 2 | trim }},
  // https://opencode.ai/docs/models/#recommended-models
  "provider": {
    {{- if and (eq .osIDLike "darwin") (eq .chezmoi.arch "arm64") }}
    // https://opencode.ai/docs/providers#llamacpp
    // FIXME: Unrecognized schema: {"description":"The call template for the UTCP Manual endpoint."}
    /* "llama.cpp": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "llama-server (local)",
      "options": {
        "baseURL": "http://127.0.0.1:8080/v1",
      },
      "models": {
        // https://github.com/ggml-org/llama.cpp/discussions/15396
        // https://huggingface.co/ggml-org/gpt-oss-20b-GGUF
        // llama-server -hf ggml-org/gpt-oss-20b-GGUF --ctx-size 0 --jinja -ub 2048 -b 2048
        "ggml-org/gpt-oss-20b-GGUF": {
          "name": "gpt-oss-20b-GGUF",
          "limit": {
            "context": 128000,
            "output": 65536,
          },
        },
        "qwen3-coder:a3b": {
          "name": "Qwen3-Coder: a3b-30b (local)",
          "limit": {
            "context": 128000,
            "output": 65536,
          },
        },
      },
    }, */
    // FIXME: <|channel|>analysis<|message|>[...]
    // <|end|><|start|>assistant<|channel|>final<|message|>[...]
    "mlx-lm": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "MLX LM (local)",
      "options": {
        "baseURL": "http://127.0.0.1:8080/v1"
      },
      "models": {
        "mlx-community/Llama-3.2-3B-Instruct-4bit": {
          "name": "mlx-community/Llama-3.2-3B-Instruct-4bit"
        },
        "mlx-community/gpt-oss-20b-mxfp4-q8": {
          "name": "mlx-community/gpt-oss-20b-mxfp4-q8"
        },
        "mlx-community/Qwen3-4B-Instruct-2507-4bit": {
          "name": "Qwen3-4B-Instruct-2507-4bit"
        },
        "mlx-community/Qwen3-30B-A3B-4bit": {
          "name": "mlx-community/Qwen3-30B-A3B-4bit"
        },
        "mlx-community/whisper-large-v3-mlx": {
          "name": "mlx-community/whisper-large-v3-mlx"
        },
        "mistralai/Mistral-7B-Instruct-v0.3": {
          "name": "Mistral-7B-Instruct-v0.3"
        },
        "lmstudio-community/Qwen3-Coder-30B-A3B-Instruct-MLX-4bit": {
          "name": "lmstudio-community/Qwen3-Coder-30B-A3B-Instruct-MLX-4bit"
        }
      }
    },
    // https://opencode.ai/docs/providers#ollama
    "ollama": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "Ollama (local)",
      "options": {
        "baseURL": "http://127.0.0.1:11434/v1"
      },
      "models": {
        "deepseek-r1:8b": {
          "name": "deepseek-r1:8b"
        },
        "gpt-oss:20b": {
          "name": "gpt-oss:20b"
        },
        // If tool calls aren’t working, try increasing num_ctx in Ollama
        // Start around 16k - 32k
        "llama2": {
          "name": "Llama 2"
        },
        "qwen3": {
          "name": "qwen3"
        },
        "qwen3:4b": {
          "name": "qwen3:4b"
        },
        "qwen3:8b": {
          "name": "qwen3:8b"
        },
        "qwen3:30b": {
          "name": "qwen3:30b"
        },
        "qwen3-coder:30b": {
          "name": "qwen3-coder:30b"
        }
      }
    },
    {{- end }}
    /* "openai": {
      "models": {
        "gpt-5": {
          "variants": {
            "high": {
              "reasoningEffort": "high",
              "textVerbosity": "low",
              "reasoningSummary": "auto",
            },
            "low": {
              "reasoningEffort": "low",
              "textVerbosity": "low",
              "reasoningSummary": "auto",
            },
          },
        },
      },
    },
    "anthropic": {
      "models": {
        "claude-sonnet-4-5-20250929": {
          "options": {
            "thinking": {
              "type": "enabled",
              "budgetTokens": 16000,
            },
          },
        },
      },
    }, */
    {{- $litellmURL := env "LITELLM_API_BASE" }}
    {{- $litellmKey := env "LITELLM_API_KEY" }}
    {{- if $litellmURL }}
    "litellm": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "LiteLLM (custom)",
      "options": {
        "baseURL": {{ $litellmURL | quote }}
      },
      "models": {
        "github_copilot/*": {
          "name": "All"
        },
        // "github_copilot/claude-haiku-4.5": {
        //   "name": "Claude Haiku 4.5"
        // },
        // "github_copilot/claude-sonnet-4-5": {
        //   "name": "Claude Sonnet 4.5"
        // },
        // "github_copilot/claude-opus-4-5": {
        //   "name": "Claude Opus 4.5"
        // }
      }
    },
    {{- end }}
    "google": {
      "name": "Google",
      "models": {
        "antigravity-gemini-3-pro": {
          "name": "Gemini 3 Pro (Antigravity)",
          "limit": {
            "context": 1048576,
            "output": 65535
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "pdf"
            ],
            "output": [
              "text"
            ]
          },
          "variants": {
            "low": {
              "thinkingLevel": "low"
            },
            "high": {
              "thinkingLevel": "high"
            }
          }
        },
        "antigravity-gemini-3-flash": {
          "name": "Gemini 3 Flash (Antigravity)",
          "limit": {
            "context": 1048576,
            "output": 65536
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "pdf"
            ],
            "output": [
              "text"
            ]
          },
          "variants": {
            "minimal": {
              "thinkingLevel": "minimal"
            },
            "low": {
              "thinkingLevel": "low"
            },
            "medium": {
              "thinkingLevel": "medium"
            },
            "high": {
              "thinkingLevel": "high"
            }
          }
        },
        "antigravity-claude-sonnet-4-5": {
          "name": "Claude Sonnet 4.5 (Antigravity)",
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "pdf"
            ],
            "output": [
              "text"
            ]
          }
        },
        "antigravity-claude-sonnet-4-5-thinking": {
          "name": "Claude Sonnet 4.5 Thinking (Antigravity)",
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "pdf"
            ],
            "output": [
              "text"
            ]
          },
          "variants": {
            "low": {
              "thinkingConfig": {
                "thinkingBudget": 8192
              }
            },
            "max": {
              "thinkingConfig": {
                "thinkingBudget": 32768
              }
            }
          }
        },
        "antigravity-claude-opus-4-5-thinking": {
          "name": "Claude Opus 4.5 Thinking (Antigravity)",
          "limit": {
            "context": 200000,
            "output": 64000
          },
          "modalities": {
            "input": [
              "text",
              "image",
              "pdf"
            ],
            "output": [
              "text"
            ]
          },
          "variants": {
            "low": {
              "thinkingConfig": {
                "thinkingBudget": 8192
              }
            },
            "max": {
              "thinkingConfig": {
                "thinkingBudget": 32768
              }
            }
          }
        }
      }
    }
  }
}
