{{- if lookPath "eza" | isExecutable }}
ls() {
  if [ -t 1 ]; then
    set -- --hyperlink "$@"
  fi
  command eza "$@"
}
{{- else if lookPath "gls" | isExecutable }}
# export LS_COLORS="$(vivid generate tokyonight-storm)"
alias ls="gls --color"
{{- end }}
