{{- if eq .os "darwin" }}
if ! hash notify-send 2>/dev/null; then
  notify-send() {
    if [ $# -eq 0 ] || [ $# -gt 2 ]; then
      echo >&2 "Usage: notify-send <title> [message]"
      return 1
    fi
    title="$1"
    message="${2:-}"
    osascript -e "display notification \"${message//\"/\\\"}\" with title \"${title//\"/\\\"}\""
  }
fi
{{- end }}
