#!/bin/sh

set -eu

if command -v pueue >/dev/null && pueue --version; then
  echo >&2 "Already installed" # {{ output "sh" "-c" "command -v pueue || true" }}
  exit
fi

echo >&2 "Installing pueue"

# {{- if eq .chezmoi.os "darwin" }}
export NONINTERACTIVE=1

set -x

brew install --quiet pueue

set +x

echo >&2 "Installed pueue"
# {{- else if eq .osid "arch" }} Archlinux/Manjaro

set -x

sudo pacman --sync --needed --noconfirm --quiet pueue

set +x

echo >&2 "Installed pueue"
# {{- else }}
# cargo install --locked pueue
# TODO: install pueued and fix ubuntu release download
echo >&2 "Skipped pueue"
# https://github.com/Nukesor/pueue/releases
# ARCH='{{ if eq .chezmoi.arch "amd64" }}x86_64{{ else }}aarch64{{ end }}'
# OS=unknown-linux
# NAME="pueue-$ARCH-$OS"
# if ! command -v ldd >/dev/null || grep -Fq musl "$(which ldd)"; then
#   NAME="$NAME-musl"
# fi
# URL="https://github.com/nukesor/pueue/releases/download/v4.0.0/$NAME"

# BIN_DIR="$HOME/.local/bin"
# if [ ! -d "$BIN_DIR" ]; then
#   echo >&2 "Creating directory: $BIN_DIR"
#   mkdir -p "$BIN_DIR"
# fi

# set -x

# curl -LSfs "$URL" -o "$BIN_DIR/pueue"
# chmod +x "$BIN_DIR/pueue"
# {{- end }}

# TODO: ensure "pueued" is installed and setup daemon in ".chezmoiexternal.yaml"
# https://github.com/Nukesor/pueue/wiki/Get-started
# systemctl --user enable pueued

# .config/systemd/pueued:
#   type: file
#   url: https://github.com/Nukesor/pueue/releases/download/v4.0.0/systemd.pueued.service
#   refreshPeriod: 168h
