#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

# DISPLAY: {{ env "DISPLAY" }}
if [ -z "${DISPLAY:-}" ]; then
  echo >&2 "WARN: skipping xsettings (no display)"
  exit 0
fi

theme_name="{{ .i3.themeName }}"
font_name="{{ .i3.fontFamily }} {{ .i3.fontSize }}"
monospace_font_name="{{ .i3.fontFamily }} Mono {{ .i3.fontSize }}"
icon_theme_name="{{ .i3.iconThemeName }}" # Arc-Dark
dark_mode="{{ .i3.darkMode }}"
pm_tray="{{ .i3.pmTray }}"

{{- if lookPath "xfce4-settings-manager" | isExecutable }}

# include (joinPath .chezmoi.homeDir ".config/xfce4/xfconf/xfce-perchannel-xml/xfce4-panel.xml") | sha256Sum
current_theme_name="$(cmd xfconf-query --channel xsettings --property /Net/ThemeName || echo "")"
if [ "$current_theme_name" != "$theme_name" ]; then
  cmd xfconf-query --channel xsettings --property /Net/ThemeName --set "$theme_name" --type string || true # --create
fi

current_font_name="$(cmd xfconf-query --channel xsettings --property /Gtk/FontName || echo "")"
if [ "$current_font_name" != "$font_name" ]; then
  cmd xfconf-query --channel xsettings --property /Gtk/FontName --set "$font_name" --type string || true # --create
fi

current_monospace_font_name="$(cmd xfconf-query --channel xsettings --property /Gtk/MonospaceFontName || echo "")"
if [ "$current_monospace_font_name" != "$monospace_font_name" ]; then
  cmd xfconf-query --channel xsettings --property /Gtk/MonospaceFontName --set "$monospace_font_name" --type string || true # --create
fi

# current_icon_sizes="$(cmd xfconf-query --channel xsettings --property /Gtk/IconSizes || echo "")"
# if [ "$current_icon_sizes" != "$icon_sizes" ]; then
#   cmd xfconf-query --channel xsettings --property /Gtk/IconSizes --set "$icon_sizes" --type string || true # --create
# fi

current_theme_name="$(cmd xfconf-query --channel xsettings --property /Net/IconThemeName || echo "")"
if [ "$current_theme_name" != "$icon_theme_name" ]; then
  cmd xfconf-query --channel xsettings --property /Net/IconThemeName --set "$icon_theme_name" --type string || true # --create
fi

# dpi=96
dpi=-1
current_dpi="$(cmd xfconf-query --channel xsettings --property /Xft/DPI || echo "")"
if [ "$current_dpi" != "$dpi" ]; then
  cmd xfconf-query --channel xsettings --property /Xft/DPI --set "$dpi" --type int || true # --create
fi
{{- end }}

{{- if lookPath "xfwm4" | isExecutable }}

current_xfwm4_theme="$(cmd xfconf-query --channel xfwm4 --property /general/theme || echo "")"
if [ "$current_xfwm4_theme" != "$theme_name" ]; then
  cmd xfconf-query --channel xfwm4 --property /general/theme --set "$theme_name" --type string || true # --create
fi
{{- end }}

{{- if lookPath "xfce4-notifyd-config" | isExecutable }}

notify_opacity={{ .i3.opacity }}
current_notify_opacity="$(cmd xfconf-query --channel xfce4-notifyd --property /initial-opacity || echo "")"
if [ "$current_notify_opacity" != "$notify_opacity" ]; then
  cmd xfconf-query --channel xfce4-notifyd --property /initial-opacity --set "$notify_opacity" --type double || true # --create
fi

notify_location=top-right
current_notify_location="$(cmd xfconf-query --channel xfce4-notifyd --property /notify-location || echo "")"
if [ "$current_notify_location" != "$notify_location" ]; then
  cmd xfconf-query --channel xfce4-notifyd --property /notify-location --set "$notify_location" --type string || true # --create
fi
{{- end }}

{{- if lookPath "xfce4-panel" | isExecutable }}

# xfconf-query --channel xfce4-panel --property /panels/dark-mode --type bool
# include (joinPath .chezmoi.homeDir ".config/xfce4/xfconf/xfce-perchannel-xml/xsettings.xml") | sha256Sum
current_dark_mode="$(cmd xfconf-query --channel xfce4-panel --property /panels/dark-mode || echo "")"
if [ "$current_dark_mode" != "$dark_mode" ]; then
  cmd xfconf-query --channel xfce4-panel --property /panels/dark-mode --set "$dark_mode" --type bool || true # --create
fi
{{- end }}

{{- if lookPath "xfce4-power-manager" | isExecutable }}

# include (joinPath .chezmoi.homeDir ".config/xfce4/xfconf/xfce-perchannel-xml/xfce4-power-manager.xml") | sha256Sum
current_pm_tray="$(cmd xfconf-query --channel xfce4-power-manager --property /xfce4-power-manager/show-tray-icon || echo "")"
if [ "$current_pm_tray" != "$pm_tray" ]; then
  cmd xfconf-query --channel xfce4-power-manager --property /xfce4-power-manager/show-tray-icon --set "$pm_tray" --type bool || true # --create
fi
{{- end }}
