#!/bin/sh

set -eu

lib_dir="$CHEZMOI_WORKING_TREE/home/dot_local/lib"
# shellcheck source=home/dot_local/lib/sh/log.sh
. "$lib_dir/sh/log.sh"
# shellcheck source=home/dot_local/lib/sh/run.sh
. "$lib_dir/sh/run.sh"

# Check the configuration file for validity
{{- $configPath := joinPath .chezmoi.homeDir ".config/i3/config" -}}
{{- if stat $configPath -}}
# config hash: {{ include $configPath | sha256sum }}
{{- end }}
run i3 -C -c ~/.config/i3/config

{{- range $key, $value := dig "i3" "environment" dict . }}

# if ! grep -q '^{{ $key }}=' /etc/environment; then
#   echo '{{ $key }}={{ $value | quote }}' | sudo tee --append /etc/environment
# fi
{{- end }}

if [ -f ~/.config/qt5ct/qt5ct.conf ]; then
  sed \
    -e 's/\(fixed="\)\([^,]\+\),\([0-9]\+\),/\1{{ dig "i3" "fontFamily" "" . }} Mono,{{ dig "i3" "fontSize" 0 . }},/' \
    -e 's/\(general="\)\([^,]\+\),\([0-9]\+\),/\1{{ dig "i3" "fontFamily" "" . }},{{ dig "i3" "fontSize" 0 . }},/' \
    -i ~/.config/qt5ct/qt5ct.conf
  sed \
    -e 's/\(fixed="\)\([^,]\+\),\([0-9]\+\),/\1{{ dig "i3" "fontFamily" "" . }} Mono,{{ dig "i3" "fontSize" 0 . }},/' \
    -e 's/\(general="\)\([^,]\+\),\([0-9]\+\),/\1{{ dig "i3" "fontFamily" "" . }},{{ dig "i3" "fontSize" 0 . }},/' \
    -i ~/.config/qt6ct/qt6ct.conf
fi
