#!/bin/sh

set -eu

lib_dir="$CHEZMOI_WORKING_TREE/home/dot_local/lib"
# shellcheck source=home/dot_local/lib/sh/log.sh
. "$lib_dir/sh/log.sh"
# shellcheck source=home/dot_local/lib/sh/run.sh
. "$lib_dir/sh/run.sh"

color_scheme="{{ .i3.darkMode | ternary "prefer-dark" "default" }}"
gtk_theme={{ .i3.themeName | quote }}
icon_theme={{ .i3.iconThemeName | quote }}

current_color_scheme="$(run gsettings get org.gnome.desktop.interface color-scheme || echo "")"
if [ "$current_color_scheme" != "'$color_scheme'" ]; then
  run gsettings set org.gnome.desktop.interface color-scheme "$color_scheme"
fi

current_gtk_theme="$(run gsettings get org.gnome.desktop.interface gtk-theme || echo "")"
if [ "$current_gtk_theme" != "'$gtk_theme'" ]; then
  run gsettings set org.gnome.desktop.interface gtk-theme "$gtk_theme"
fi

current_icon_theme="$(run gsettings get org.gnome.desktop.interface icon-theme || echo "")"
if [ "$current_icon_theme" != "'$icon_theme'" ]; then
  run gsettings set org.gnome.desktop.interface icon-theme "$icon_theme"
fi
