---
services:
  pi:
    build:
      context: .
      dockerfile: Containerfile
      args:
        - PI_VERSION={{ .piVersion }}
        - SHPOOL_VERSION=0.9.3
        - USER=coder
        # - UID={{ output "id" "-u" }}
        # - GID={{ output "id" "-g" }}
        - WORKSPACE=${WORKSPACE:?}
    stdin_open: true
    tty: true
    # working_dir: ${WORKSPACE:?}
    volumes:
      # - "${PI_CONFIG_DIR:-$HOME/.config/pi}:/home/coder/.pi:ro"
      - "${PI_CODING_AGENT_DIR:-$HOME/.config/pi/agent}:/home/coder/.pi/agent"
      - "${PWD:-.}:${WORKSPACE:?}"
    environment:
      # - PI_CONFIG_DIR=${PI_CONFIG_DIR:-/home/coder/.config/pi}
      # - PI_CODING_AGENT_DIR=${PI_CODING_AGENT_DIR:-/home/coder/.config/pi/agent}
      # - ANTHROPIC_API_KEY
      - BRAVE_API_KEY
      # - GEMINI_API_KEY
      - GITHUB_TOKEN
      - GITLAB_HOST
      - GITLAB_TOKEN
      # - GOOGLE_API_KEY
      # - OPENAI_API_KEY

      # https://www.npmjs.com/package/pi-telemetry-otel
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://host.docker.internal:4317
      # - OTEL_EXPORTER_OTLP_HEADERS
      - OTEL_SERVICE_NAME=${PI_AGENT_CHAIN:-pi-agent}
      - OTEL_RESOURCE_ATTRIBUTES=user=coder,workspace=${WORKSPACE:?}
      # - PI_AGENT_TRACE_ID
      # - PI_AGENT_SPAN_ID

  # https://github.com/pai4451/opencode-telemetry-plugin
  # https://opentelemetry.io/docs/demo/docker-deployment
  # https://github.com/open-telemetry/opentelemetry-demo/blob/main/docker-compose.yml
  # jaeger:
  #   image: jaegertracing/all-in-one:latest
  #   command:
  #     - --config-file=/etc/jaeger/config.yaml
  #   environment:
  #     - COLLECTOR_OTLP_ENABLED=true
  #   # ports:
  #   #   - "4318:4318"   # OTLP HTTP
  #   #   - "16686:16686" # Jaeger UI
  #   volumes:
  #     - ./jaeger.yaml:/etc/jaeger/config.yaml
  #     - ./jaeger-ui.json:/etc/jaeger/ui-config.json
