{
  "name": "pi",
  "build": {
    "dockerfile": "Containerfile",
    "args": {
      "PI_VERSION": "{{ .pi.version }}",
      "SHPOOL_VERSION": "0.9.3",
      "WORKSPACE": "/workspace"
    }
  },
  "workspaceMount": "source=${localWorkspaceFolder},target=/workspace,type=bind",
  "workspaceFolder": "/workspace",
  "mounts": [
    "source=${localEnv:HOME}/.config/pi/agent,target=/home/coder/.pi/agent,type=bind,relabel=shared"
  ],
  "remoteUser": "root",
  "containerEnv": {
{{- $otel := includeTemplate "otel.yaml.tmpl" (dict "endpoint" "otel-collector") | fromYaml -}}
{{- $keys := keys $otel | sortAlpha -}}
{{- range $i, $key := $keys -}}
{{- if $i }},{{ end }}
    "{{ $key }}": "{{ index $otel $key }}"
{{- end }},
    "OTEL_SERVICE_NAME": "pi-agent"
  }
}
