{{- $ollama := dig "ollama" dict . -}}
{{- $container := get $ollama "container" -}}
{{- $runtime := get $ollama "runtime" -}}

{{- if and $container (ne .os "darwin") -}}
ollama() {
  set -- {{ $container }} ollama "$@"
  [ -t 0 ] && set -- --interactive "$@"
  [ -t 1 ] && set -- --tty "$@"
  {{ $runtime }} exec "$@"
}

{{ end -}}

ollama_logs() {
{{- if eq .os "darwin" }}
  tail -f "${HOMEBREW_PREFIX:?}/var/log/ollama.log" "$@"
{{- else if and $container (eq $runtime "podman") }}
  journalctl --user --unit=ollama.service --follow "$@"
{{- else if $container }}
  {{ $runtime }} logs --follow {{ $container }} "$@"
{{- end }}
}

ollama_list() {
  ollama list
}

ollama_rm_all() {
  # shellcheck disable=SC2046
  ollama rm $(ollama list | tail -n+2 | cut -d' ' -f1)
}
