{{- $ollama := get . "ollama" | default dict -}}
{{- $service := get $ollama "service" | default "brew" -}}
{{- $container := get $ollama "container" -}}
{{- $provider := eq $service "quadlet" | ternary "podman" (get . "containerProvider") -}}

{{- if $container -}}
if ! command -v ollama >/dev/null; then
  ollama() {
    set -- {{ $container }} ollama "$@"
    [ -t 0 ] && set -- --interactive "$@"
    [ -t 1 ] && set -- --tty "$@"
    {{ $provider }} exec "$@"
  }
fi

{{ end -}}

ollama_logs() {
{{- if eq $service "brew" }}
  tail -f "${HOMEBREW_PREFIX:?}/var/log/ollama.log" "$@"
{{- else if $container }}
  {{ $provider }} logs --follow {{ $container }} "$@"
{{- else }}
  journalctl --user --unit=ollama --follow "$@"
{{- end }}
}

ollama_list() {
  ollama list
}

ollama_rm_all() {
  # shellcheck disable=SC2046
  ollama rm $(ollama list | tail -n+2 | cut -d' ' -f1)
}
