{{- if and (eq .os "linux") .features.podman -}}
#!/bin/sh

# container: {{ include "dot_config/containers/systemd/ollama.container" | sha256sum }}

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

if ! has systemctl; then
  die "systemctl not found; cannot activate ollama service"
fi

run systemctl --user daemon-reload
run /usr/lib/systemd/user-generators/podman-user-generator -dryrun
run systemctl --user restart ollama
{{ end -}}
