{{- $hardware := get . "hardware" | default dict -}}
{{- if .features.ollama -}}
{{- $ollamaModels := list -}}
{{- range $name, $meta := .ai.models -}}
{{-   $id := get $meta "ollama" -}}
{{-   if and $id (or (get $hardware "gpuAccelerated") (get $meta "cpu")) -}}
{{-     $ollamaModels = append $ollamaModels $id -}}
{{-   end -}}
{{- end -}}
{{- if $ollamaModels -}}
#!/bin/sh

# models: {{ $ollamaModels | toJson | sha256sum }}

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

{{- $ollama := get . "ollama" | default dict }}
{{- $container := get $ollama "container" }}
{{- if $container }}

ollama() { {{ get . "containerProvider" }} exec {{ $container }} ollama "$@"; }
{{- end }}

if ! run ollama list; then
  die "ollama list: exit code $?"
fi

{{- range $ollamaModels }}
run ollama pull {{ . }}
{{- end }}
{{ end -}}
{{ end -}}
