{{- $config := includeTemplate "dot_config/starship/.starship.yaml" . | fromYaml -}}
{{- if lookPath "starship" | isExecutable -}}
{{- $preset := .symbols | ternary "no-nerd-font" "plain-text-symbols" -}}
{{ output "starship" "preset" $preset | fromToml | merge $config | toToml }}
{{- else -}}
{{ $config | toToml }}
{{- end -}}
