{{- if .features.bash -}}
---

{{- if ne .osID "alpine" }}
# https://github.com/rcaloras/bash-preexec/commit/a220343bf206372d4b90275eb30866c409f22f79
bash-preexec.sh:
  type: file
  url: https://raw.githubusercontent.com/rcaloras/bash-preexec/a220343bf206372d4b90275eb30866c409f22f79/bash-preexec.sh
  checksum:
    sha256: "48cec2856dc0342f7518ed1583158ec11c2c9d9ede64c6fce59c2c7ab983feee"
  refreshPeriod: 168h

{{- end }}

{{- if eq .os "linux" }}
# v1.10.1
timep.bash:
  type: file
  url: {{ gitHubLatestReleaseAssetURL "jkool702/timep" "timep.bash" | quote }}
  checksum:
    sha256: "1ddfa4d223a836f0bd29c1e9bcb2d6e402ffb301b5724f1f12956c831d05a6d6"
  refreshPeriod: 168h

{{- end }}
{{ end -}}
