---
# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json
services:
  opencode:
    image: ghcr.io/anomalyco/opencode:1.2.10
    restart: unless-stopped
    entrypoint: []
    command: ["opencode", "serve", "--hostname", "0.0.0.0"]
    ports:
      - "127.0.0.1:4096:4096"
    volumes:
      - opencode-config:/data
      - opencode-share:/root/.local/share/opencode
      - ./opencode/auth.json:/data/auth.json:z

  sandboxed-sh:
    build: https://github.com/Th0rgal/sandboxed.sh.git#v0.9.1
    restart: unless-stopped
    ports:
      - "127.0.0.1:${SANDBOXED_PORT:-3030}:80"
    volumes:
      - claude-auth:/root/.claude
      - opencode-config:/root/.config/opencode
      - opencode-share:/root/.local/share/opencode
      - sandboxed-data:/root/.sandboxed-sh
      - ./opencode/auth.json:/root/.local/share/opencode/auth.json:z
      # - ./sandboxed/backend_config.json:/root/.sandboxed-sh/backend_config.json:z
      # - ./sandboxed/model_chains.json:/root/.sandboxed-sh/model_chains.json:z
      # WARN: library is cloned on first start
      # - ./opencode/auth.json:/root/.sandboxed-sh/library/configs/default/.opencode/auth.json:z
    environment:
      DEV_MODE: "true"
      HOST: "0.0.0.0"
      # DEFAULT_BACKEND: opencode
      # OPENCODE_AGENT: oracle
      # DEFAULT_MODEL: opencode/big-pickle
      # OPENCODE_BASE_URL: "http://opencode:4096"
      WORKING_DIR: /root
      NEXT_LOG_LEVEL: "info"
    privileged: true
    cgroup: host
    deploy:
      resources:
        limits:
          memory: 1G

volumes:
  sandboxed-data:
  claude-auth:
  opencode-config:
  opencode-share:
