{{- if or .features.docker .features.podman -}}
{{- $script := joinPath .chezmoi.sourceDir ".." "script" "vm" -}}
{{- $vmImages := list -}}
{{- if stat $script -}}
{{-   $vmImages = output $script "--list-images" | trim | splitList "\n" -}}
{{- end -}}

{{- range $vmImages -}}
["virtual-machine:{{ . }}"]
alias = "vm:{{ . }}"
description = {{ printf "Run %s VM" . | quote }}
dir = {{ joinPath $.chezmoi.sourceDir ".." | quote }}
hide = true
interactive = true
run = "script/vm {{ . }}"

{{ end -}}

["virtual-machine:all"]
alias = "vm:all"
description = "Build and test chezmoi in all VMs"
interactive = true
run = [
{{- range $vmImages }}
  { task = {{ printf "vm:%s" . | quote }} },
{{- end }}
]
{{ end -}}
