{{- if env "CONTAINER_PROVIDER" -}}
CONTAINER_PROVIDER={{ env "CONTAINER_PROVIDER" }}
{{ else if .features.podman -}}
CONTAINER_PROVIDER=podman
{{ else if .features.docker -}}
CONTAINER_PROVIDER=docker
{{ end -}}
