{{- if eq .profile "personal" -}}
# ~/.config/environment.d/personal.conf

# export CLAUDE_PROVIDER=zai-coding-plan
# export CLAUDE_TIER=pro

# export OPENCODE_PROFILE=zai-coding-plan-lite
{{ end -}}
