# https://consented.io/do-not-track
DO_NOT_TRACK=1

{{- if and (eq .osIDLike "arch" "fedora") }}

# Point curl (and brew openssl) at the system CA bundle so caddy .test certs are trusted
{{- $caBundle := "/etc/pki/tls/certs/ca-bundle.crt" }}
{{- if stat $caBundle }}
CURL_CA_BUNDLE={{ $caBundle }}
{{- end }}
{{- end }}
