{{- $editor := "" -}}
{{- if lookPath "editor" | isExecutable -}}
{{- $editor = lookPath "editor" -}}
{{- else if lookPath "nvim" | isExecutable -}}
{{- $editor = lookPath "nvim" -}}
{{- else if lookPath "vim" | isExecutable -}}
{{- $editor = lookPath "vim" -}}
{{- else if lookPath "code" | isExecutable -}}
{{- $editor = lookPath "code" -}}
{{- else -}}
{{- $editor = env "EDITOR" | default (lookPath "vi") -}}
{{- end -}}
EDITOR={{ $editor }}
VISUAL={{ $editor }}
{{- if or (lookPath "ghostty" | isExecutable) ("/Applications/Ghostty.app/Contents/MacOS/ghostty" | isExecutable) }}
TERMINAL=ghostty
{{- end }}
