{{ if .gui -}}
if not vim.g.neovide then
  return
end

-- vim.g.neovide_scale_factor = 1.5
-- vim.g.neovide_opacity = 0.8
-- vim.g.neovide_normal_opacity = 0.8
--
-- vim.g.neovide_scroll_animation_far_lines = 0
--
-- vim.g.neovide_fullscreen = true
-- vim.g.neovide_macos_simple_fullscreen = true
vim.g.neovide_remember_window_size = true

vim.g.neovide_cursor_animation_length = 0 -- 0.150
vim.g.neovide_cursor_short_animation_length = 0 -- 0.04
vim.g.neovide_position_animation_length = 0 -- 0.15
vim.g.neovide_scroll_animation_length = 0 -- 0.3
{{ end -}}
