# Configuration modules

{{ $dir := printf "%s/%s" .chezmoi.sourceDir .chezmoi.sourceFile | pathDir -}}
{{- /* $out := output "find" $dir "-name" "*.nu" "-print" | trim | splitList "\n" */ -}}
{{ $files := glob (printf "%s/%s" $dir "*.nu") -}}
{{ $templates := glob (printf "%s/%s" $dir "*.nu.tmpl") -}}
{{ $modules := concat $files $templates | sortAlpha -}}
{{ range $modules -}}
{{ $name := . | pathBase | replaceAllRegex "\\.tmpl$" "" -}}
{{ if ne $name "mod.nu" -}}
export use ./{{ $name }} *
{{ end -}}
{{ end -}}
