# Configuration modules
{{ $dir := joinPath .chezmoi.sourceDir .chezmoi.sourceFile | dir -}}
{{- /* $out := output "find" $dir "-name" "*.nu" "-print" | trim | splitList "\n" */ -}}
{{ $files := glob (joinPath $dir "*.nu") -}}
{{ $templates := glob (joinPath $dir "*.nu.tmpl") -}}
{{ $modules := concat $files $templates | sortAlpha -}}
{{ range $modules -}}
{{ $name := . | base | replaceAllRegex "\\.tmpl$" "" -}}
{{ if and (ne $name "mod.nu") (or (ne $name "git.nu") $.features.git) -}}
export use ./{{ $name }} *
{{ end -}}
{{ end -}}
