# Configuration modules

{{ $dir := printf "%s/%s" .chezmoi.sourceDir .chezmoi.sourceFile | dir -}}
{{- /* $out := output "find" $dir "-name" "*.nu" "-print" | trim | splitList "\n" */ -}}
{{ $out := glob (printf "%s/%s" $dir "*.nu") | sortAlpha -}}
{{ $modules := $out -}}
{{ range $modules -}}
export use ./{{ . | base }} *
{{ end -}}
