#!/bin/sh

# environment.d: {{ glob (joinPath .chezmoi.sourceDir "dot_config/environment.d/*.tmpl") | join "\n" | sha256sum }}

set -eu

lib_dir="$CHEZMOI_WORKING_TREE/home/dot_local/lib"
# shellcheck source=home/dot_local/lib/sh/log.sh
. "$lib_dir/sh/log.sh"
# shellcheck source=home/dot_local/lib/sh/run.sh
. "$lib_dir/sh/run.sh"

if ! has systemctl || [ -z "${DBUS_SESSION_BUS_ADDRESS:-}" ]; then
  warn "Skipping systemctl reload (no user session bus)"
  exit 0
fi

run systemctl --user daemon-reexec
{{- if .features.processCompose }}

if systemctl --user is-active --quiet process-compose; then
  run systemctl --user restart process-compose
fi
{{- end }}
