#!/bin/sh
# service: {{ include (joinPath .chezmoi.sourceDir "dot_config/systemd/user/process-compose.service.tmpl") | sha256sum }}
set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

if ! has process-compose; then
  err "process-compose not found"
fi

if has systemctl; then
  run systemctl --user daemon-reload
  if ! systemctl --user is-active --quiet process-compose; then
    run systemctl --user enable --now process-compose
  else
    run systemctl --user restart process-compose
  fi
fi
