#!/bin/sh
# environment.d: {{ glob (joinPath .chezmoi.sourceDir "dot_config/environment.d/*.tmpl") | join "\n" | sha256sum }}
set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

if has systemctl; then
  run systemctl --user daemon-reexec
{{- if .features.pc }}
  if systemctl --user is-active --quiet process-compose; then
    run systemctl --user restart process-compose
  fi
{{- end }}
fi
