#!/bin/sh

# Allow aliases with sudo
# alias sudo="sudo "

# Confirm before overwriting
alias cp="cp --interactive"

# Print sizes in powers of 1024
alias df="df -h" # --human-readable

# Show with human-readable units
alias free="free --human"

# Color matches
alias grep="grep --color=auto"

# {{- if .features.nushell }}
# if ! hash l 2>/dev/null; then
#   if type l >/dev/null; then
#     unalias l
#   fi
#   l() { nu --commands "l $*" --login; }
# fi
# {{- end }}

# List all files with colors, human-readable sizes and long format
alias la="ls -ahl --color=auto"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Reload the shell (i.e. invoke as a login shell)
alias reload='exec ${SHELL} -l'

if command -v bat >/dev/null; then
  alias cat=bat
fi
# alias e=editor
{{- if .features.vim }}
alias v=vim
{{- end }}
{{- if .features.neovim }}
alias nv=nvim
{{- end }}

# TODO: termux-open
alias o=open
if ! hash open 2>/dev/null; then
  {{- if .wsl }}
  if [ -f /proc/version ] && grep -iq microsoft /proc/version; then
    if [ -f /mnt/c/Windows/explorer.exe ]; then
      # TODO: add /mnt/c/Windows to PATH
      alias open=/mnt/c/Windows/explorer.exe
    else
      alias open=explorer.exe
    fi
  el{{- end }}if hash xdg-open 2>/dev/null; then
    alias open=xdg-open
  elif hash code 2>/dev/null; then
    alias open=code
  fi
fi
