export DO_NOT_TRACK=1

# https://github.com/grawity/dotfiles/blob/main/.environ.notes
{{- if .name }}
export NAME={{ .name | quote }}
{{- end }}
{{- if .email }}
export EMAIL={{ .email | quote }}
{{- end }}

# export LANG=en_US.UTF-8
# export LC_ALL=en_US.UTF-8

export MANPAGER="${MANPAGER:-less -X}"

# export PAGER="less -SFX"
# export PAGER="${PAGER:-less --chop-long-lines --no-init --quit-if-one-screen}"

# https://github.com/xo/usql/issues/308
# export LESS="-S -I -R"
# export LESS="--chop-long-lines --IGNORE-CASE --RAW-CONTROL-CHARS"
# export LESS="-S -X -F -I -R"
export LESS="${LESS:---chop-long-lines --no-init --quit-if-one-screen --IGNORE-CASE --RAW-CONTROL-CHARS}"

{{- $editor := "" }}
{{- if lookPath "editor" | isExecutable }}
{{- $editor = lookPath "editor" }}
{{- else if lookPath "nvim" | isExecutable }}
{{- $editor = lookPath "nvim" }}
{{- else if lookPath "vim" | isExecutable }}
{{- $editor = lookPath "vim" }}
{{- else if lookPath "code" | isExecutable }}
{{- $editor = lookPath "code" }}
{{- else -}}
{{- $editor = env "EDITOR" | default (lookPath "vi") }}
{{- end }}
# export EDITOR="${EDITOR:-{{ $editor }}}"
export EDITOR="{{ $editor }}"
export VISUAL="${VISUAL:-$EDITOR}"

{{- if lookPath "ghostty" | isExecutable }}

# xdg-terminal-exec
export TERMINAL="${TERMINAL:-ghostty}"
{{- end }}

{{- if .features.otel }}

export OTEL_METRICS_EXPORTER=otlp
export OTEL_LOGS_EXPORTER=otlp
export OTEL_EXPORTER_OTLP_PROTOCOL=grpc
export OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
export OTEL_LOG_USER_PROMPTS=1
export OTEL_LOG_TOOL_DETAILS=1
{{- end }}

{{- if .features.oage }}

export OPEN_NOTEBOOK_URL="http://localhost:5055"
{{- end }}

{{ includeTemplate "xdg.sh.tmpl" . | trim }}
