#!/bin/sh

# https://docs.atuin.sh/guide/installation/

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

if [ -x /home/linuxbrew/.linuxbrew/bin/brew ] && ! command -v brew >/dev/null; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
fi

# ble.sh or bash-preexec is required for atuin in bash
# https://docs.atuin.sh/guide/installation/

{{- if eq .osID "alpine" }}

# if [ ! -f ~/.local/share/bash-preexec.sh ]; then
#   curl -LSsfo ~/.local/share/bash-preexec.sh \
#     https://raw.githubusercontent.com/rcaloras/bash-preexec/master/bash-preexec.sh
# fi
{{- end }}

# if command -v atuin; then
#   echo "Already installed" >&2
run atuin --version
#   exit
# fi

{{- if not (empty (get (get .packages .packageManager) "atuin")) }}

# echo "Installing atuin" >&2
# # https://github.com/atuinsh/atuin/releases
# ARCH='{{ if eq .chezmoi.arch "amd64" }}x86_64{{ else }}aarch64{{ end }}'
# OS=unknown-linux
# NAME="atuin-$ARCH-$OS-{{ .libc }}"
# VERSION="$(get_release atuinsh/atuin)"
# URL="https://github.com/atuinsh/atuin/releases/download/$VERSION/$NAME.tar.gz"
# BIN="$NAME/atuin"
# install_tar_gz "$URL" "$BIN"
# echo "Installed atuin" >&2
{{- end }}

# atuin import auto
