#!/bin/sh

# https://docs.atuin.sh/guide/installation/

set -eu

lib_dir="$CHEZMOI_WORKING_TREE/home/dot_local/lib"
# shellcheck source=home/dot_local/lib/sh/log.sh
. "$lib_dir/sh/log.sh"
# shellcheck source=home/dot_local/lib/sh/run.sh
. "$lib_dir/sh/run.sh"

{{- if .features.brew }}

# if [ -x /home/linuxbrew/.linuxbrew/bin/brew ] && ! command -v brew >/dev/null; then
#   eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
# fi
{{- end }}

run atuin --version

{{- if not (empty (get (get .packages .packageManager) "atuin")) }}

# echo "Installing atuin" >&2
# # https://github.com/atuinsh/atuin/releases
# ARCH='{{ if eq .chezmoi.arch "amd64" }}x86_64{{ else }}aarch64{{ end }}'
# OS=unknown-linux
# NAME="atuin-$ARCH-$OS-{{ .libc }}"
# VERSION="$(get_release atuinsh/atuin)"
# URL="https://github.com/atuinsh/atuin/releases/download/$VERSION/$NAME.tar.gz"
# BIN="$NAME/atuin"
# install_tar_gz "$URL" "$BIN"
# echo "Installed atuin" >&2
{{- end }}

# atuin import auto
