{{- /* chezmoi:modify-template */ -}}
{{- $contents := includeTemplate "dot_config/topgrade/.topgrade.toml" . -}}
{{- includeTemplate "block-in-file.tmpl" (dict "chezmoi" .chezmoi "contents" $contents) -}}
