#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

{{- if eq .osIDLike "debian" }}
if command -v topgrade; then
  echo 'Already installed' >&2
  run topgrade --version
else
  echo "Installing topgrade" >&2
  export DEBIAN_FRONTEND=noninteractive
  VERSION="$(get_release topgrade-rs/topgrade)"
  # TODO: ARCH="$(uname -m)" # aarch64, x86_64
  NAME="topgrade_${VERSION#v}-1_amd64"
  URL="https://github.com/topgrade-rs/topgrade/releases/download/$VERSION/$NAME.deb"
  run curl -LSfs "$URL" -o "$TMPDIR/$NAME.deb"
  run sudo -E apt-get install --quiet --yes "$TMPDIR/$NAME.deb"
  echo "Installed topgrade" >&2
fi
{{- end }}

{{- if eq .os "windows" }}

if [ -d "$HOME/AppData/Roaming/topgrade.d" ] &&
  ! [ -L "$HOME/AppData/Roaming/topgrade.d/topgrade.toml" ] &&
  ! [ -L "$HOME/AppData/Roaming/topgrade.toml" ]; then
  # run rmdir "$HOME/AppData/Roaming/topgrade.d"
  # run ln -s "$HOME/.config/topgrade" "$HOME/AppData/Roaming/topgrade.d"
  run ln -s "$HOME/.config/topgrade/topgrade.toml" "$HOME/AppData/Roaming/topgrade.toml"
fi
{{- end }}
