{{- if lookPath "dex" }}
# Start XDG autostart .desktop files using dex. See also
# https://wiki.archlinux.org/index.php/XDG_Autostart
exec --no-startup-id dex --autostart --environment i3
# FIXME: backintime
# blueman-applet
# caffeine
# finderprint-polkit-agent
# geoclue
# gnome-keyring-daemon
# ...
# nm-applet
# ...
# pamac-tray
# picom
# ...
# xfce4-notifyd
# xfce4-power-manager
# xfsettingsd
# xiccd
# seahorse
# redshift-gtk
# ulauncher
# xcape
{{- end }}

# The combination of xss-lock, nm-applet and pactl is a popular choice, so
# they are included here as an example. Modify as you see fit.

{{- if and (lookPath "xss-lock") (lookPath "i3lock") }}
# xss-lock grabs a logind suspend inhibit lock and will use i3lock to lock the
# screen before suspend. Use loginctl lock-session to lock your screen.
exec --no-startup-id xss-lock --transfer-sleep-lock -- i3lock --nofork
{{- end }}

{{- if lookPath "i3wsr" }}
exec_always --no-startup-id i3wsr
{{- end }}

{{- if lookPath "nm-applet" }}
# NetworkManager is the most popular way to manage wireless networks on Linux,
# and nm-applet is a desktop environment-independent system tray GUI for it.
# exec --no-startup-id nm-applet
{{- end }}

# # Use `xrandr` to list available modes (TODO: auto detection)
# exec_always --no-startup-id xrandr --output VGA-1 --mode 1600x900
# exec --no-startup-id xautolock -time 10 -locker $config/bin/lock

# # exec_always --no-startup-id feh --scale ~/Pictures/wallpaper.jpg
# exec_always --no-startup-id feh --bg-fill --randomize ~/.wallpaper/*

{{- if lookPath "autotiling-rs" }}
exec --no-startup-id autotiling-rs
{{- else if lookPath "autotiling" }}
exec --no-startup-id autotiling
{{- end }}

{{- if lookPath "xfce4-panel" }}
# exec --no-startup-id xfce4-panel --disable-wm-check
{{- end }}

{{- if lookPath "xfce4-power-manager" }}
# NOTE: enable status tray icon with xfce4-power-manager-settings
# exec --no-startup-id xfce4-power-manager --daemon
{{- end }}

{{- if lookPath "gnome-keyring-daemon" }}
# exec --no-startup-id gnome-keyring-daemon --components=pkcs11,secrets --daemonize --start
{{- end }}

{{- if lookPath "tmux" }}
# exec --no-startup-id i3-sensible-terminal -e 'tmux'
{{- end }}
exec --no-startup-id i3-sensible-terminal

{{- if lookPath "firefox" }}
# exec --no-startup-id firefox
{{- end }}

{{- if lookPath "thunar" }}
# exec --no-startup-id thunar
{{- end }}

{{- if lookPath "seahorse" }}
# exec --no-startup-id i3-msg "scratchpad; exec seahorse"
exec --no-startup-id seahorse
{{- end }}
