# {{ ansible_managed }}

# Load configuration
{% for file in lookup('fileglob', tmux_role_path + '/files/settings/*.conf', wantlist=true) %}
source-file {{ file }}
{% endfor %}

# Tmux version, expecting only 2 digits in $(tmux -V | cut -d " " -f2)
run-shell 'tmux set-environment -g "TMUX_VERSION_INT" "$(tmux -V | tr -dC [:digit:])"'

# Load options targeting specific versions
# https://raw.githubusercontent.com/tmux/tmux/master/CHANGES
{% for file in lookup('fileglob', tmux_role_path + '/files/versions/*.conf', wantlist=true) %}
{% set compare = file | basename | regex_replace('^(\w+)-(\d+)\.conf$', '\\1') %}
{% set version = file | basename | regex_replace('^(\w+)-(\d+)\.conf$', '\\2') %}
if-shell 'test "$TMUX_VERSION_INT" -{{ compare }} "{{ version }}"' 'source {{ tmux_path }}/versions/{{ file | basename }}'
{% endfor %}

# Tmux Plugin Manager
set-environment -g TMUX_PLUGIN_MANAGER_PATH '{{ tmux_plugin_manager_path }}'

{% for plugin in tmux_plugins %}
set -g @plugin '{{ plugin }}'
{% endfor %}

# Keep this line at the very bottom of tmux.conf
run '~/.tmux/plugins/tpm/tpm'
