# Mouse scroll

# https://wiki.archlinux.org/index.php/Tmux#Mouse_scrolling
# bind -T root WheelUpPane   if-shell -F -t = "#{alternate_on}" "send-keys -M" "select-pane -t =; copy-mode -e; send-keys -M"
# bind -T root WheelDownPane if-shell -F -t = "#{alternate_on}" "send-keys -M" "select-pane -t =; send-keys -M"

{{ lookup('template', tmux_templates_dir + '/' + tmux_template) }}
