# {{ ansible_managed }}

# Load color scheme
source-file {{ tmux_path }}/colors/{{ tmux_colors }}.conf

# Load general settings and bindings
{% for file in lookup('fileglob', tmux_role_path + '/files/settings/tmux-*.conf', wantlist=true) %}
source-file {{ tmux_path }}/settings/{{ file | basename }}
{% endfor %}

# Expecting 2 digits in Tmux version output $(tmux -V | cut -d " " -f2)
run-shell 'tmux set-environment -g "TMUX_VERSION_INT" "$(tmux -V | tr -dC [:digit:])"'

# Load options targeting specific versions
# https://raw.githubusercontent.com/tmux/tmux/master/CHANGES
{% for file in lookup('fileglob', tmux_role_path + '/files/versions/tmux-*.conf', wantlist=true) %}
{% set compare = file | basename | regex_replace('^tmux-(\w+)-(\d+)\.conf$', '\\1') %}
{% set version = file | basename | regex_replace('^tmux-(\w+)-(\d+)\.conf$', '\\2') %}
if-shell 'test "$TMUX_VERSION_INT" -{{ compare }} "{{ version }}"' 'source-file {{ tmux_path }}/versions/{{ file | basename }}'
{% endfor %}

# Tmux Plugin Manager
set-environment -g TMUX_PLUGIN_MANAGER_PATH '{{ tmux_plugin_manager_path }}'

{% for plugin in tmux_plugins %}
set -g @plugin '{{ plugin }}'
{% endfor %}

# Keep this line at the very bottom of tmux.conf
run '{{ tmux_plugin_manager_path }}/tpm/tpm'
