#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

if command -v procs >/dev/null; then
  echo >&2 "Already installed: {{ output .sh "-c" "command -v procs || echo procs" }}"
  cmd procs --version
  exit
fi

# {{- if eq .osID "debian" }} Debian/Ubuntu
echo >&2 "Installing procs"
export DEBIAN_FRONTEND=noninteractive
VERSION="$(get_release dalance/procs)"
ARCH="$(uname -m)" # aarch64, x86_64
OS="$(uname -s | tr '[:upper:]' '[:lower:]')" # linux, mac, windows
NAME="procs-$VERSION-$ARCH-$OS.zip"
URL="https://github.com/dalance/procs/releases/download/$VERSION/$NAME"
install_zip "$URL" procs
echo >&2 "Installed procs"
# {{- end }}
