#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

{{- if eq .osIDLike "debian" }}
if command -v hx; then
  echo >&2 "Already installed"
  run hx --version
else
  {{- if eq .osID "debian" }}
  echo >&2 "Installing helix"
  export DEBIAN_FRONTEND=noninteractive
  # https://docs.helix-editor.com/install.html#pre-built-binaries
  VERSION="$(get_release helix-editor/helix)"
  NAME="helix-$VERSION-x86_64-linux"
  URL="https://github.com/helix-editor/helix/releases/download/$VERSION/$NAME.tar.xz"
  BIN="$TMPDIR/$NAME/hx"
  run curl -LSsf "$URL" | tar xJf - -C "$TMPDIR"
  if [ ! -d "$HOME/.local/bin" ]; then
    mkdir -p "$HOME/.local/bin"
  fi
  mv "$BIN" "$HOME/.local/bin"
  if [ ! -d "$HOME/.config/helix" ]; then
    mkdir -p "$HOME/.config/helix"
  fi
  # TODO: overwrite if needed
  if [ ! -d "$HOME/.config/helix/runtime" ]; then
    run mv "$TMPDIR/$NAME/runtime" "$HOME/.config/helix/runtime"
  fi
  {{- else if eq .osID "ubuntu" }}
  # https://docs.helix-editor.com/package-managers.html#ubuntu-ppa
  export DEBIAN_FRONTEND=noninteractive
  run sudo -E apt-get install --quiet --yes software-properties-common >/dev/null
  run sudo -E add-apt-repository --yes ppa:maveonair/helix-editor
  run sudo apt-get update --quiet >/dev/null
  run sudo -E apt-get install --quiet --yes helix >/dev/null
  run sudo update-alternatives --set editor /usr/bin/hx
  echo >&2 "Installed helix"
  {{- end }}
fi
{{- end }}

# run hx --grammar fetch
# run timeout 5m hx --grammar build

{{- if lookPath "xdg-mime" | isExecutable }}

if [ "$(xdg-mime query default text/plain)" != "Helix.desktop" ]; then
  run xdg-mime default Helix.desktop text/plain
fi
{{- end }}
