{{- if .features.processCompose -}}
#!/bin/sh
# service: {{ include "dot_config/systemd/user/process-compose.service" | sha256sum }}
{{- if eq .chezmoi.os "darwin" }}
# plist: {{ includeTemplate "Library/private_LaunchAgents/com.process-compose.plist.tmpl" . | sha256sum }}
{{- end }}
set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

if ! has process-compose; then
  err "process-compose not found"
fi

{{ includeTemplate "service-apply.sh.tmpl" (dict
  "unit" "process-compose"
  "label" "com.process-compose"
  "os" .chezmoi.os
) }}
{{- end -}}
