{{- if .features.processCompose -}}
{{- $name := "process-compose" -}}
{{- $svc := get .services $name -}}
{{- $site := get (get .caddy.sites "processCompose") $name -}}
#!/bin/sh

set -eu

. "$CHEZMOI_WORKING_TREE/home/.chezmoitemplates/helpers.sh"

if ! has process-compose; then
  die "process-compose not found"
fi

{{- if eq .chezmoi.os "darwin" }}
{{ includeTemplate "launchd-apply.sh.tmpl" (merge (dict "chezmoi" .chezmoi) $svc $site) }}
{{- else }}
{{ includeTemplate "systemd-apply.sh.tmpl" (merge (dict "chezmoi" .chezmoi) $svc $site) }}
{{- end }}
{{- end -}}
