{{- range $feat, $sites := .caddy.sites -}}
{{- if not (get $.features $feat) }}{{ continue }}{{ end -}}
{{- range $name, $s := $sites -}}
{{- $caddy := get $s "caddy" -}}
{{ $name }}.test {
	tracing {
		span {{ $name }}
	}
	reverse_proxy localhost:{{ $s.port }}{{ if $caddy }} {
		transport http {
			{{- range $key, $value := $caddy }}
			{{ $key | snakecase }} {{ $value }}
			{{- end }}
		}
	}{{ end }}
	import cert_lifetime
	import logging
}
{{ end -}}
{{ end -}}
