{{- if and .features.tailscale .tailscale.tailnet -}}
# https://github.com/tailscale/caddy-tailscale

# TODO: exclude opencode and sites that can't configure base path
http://{{ .tailscale.tailnet }} {
	import cert_lifetime
	import logging
	{{- range $feat, $sites := .caddy.sites }}
	{{- if not (get $.features $feat) }}{{ continue }}{{ end }}
	{{- range $name, $s := $sites }}

	handle_path /{{ $name }}* {
		reverse_proxy localhost:{{ $s.port }}
	}
	{{- end }}
	{{- end }}
}
{{ end -}}
