{{- if and .features.tailscale .tailscale.tailnet -}}
# https://github.com/tailscale/caddy-tailscale

# TODO: exclude opencode and sites that can't configure base path
http://{{ .tailscale.tailnet }} {
	import common
	{{- range $name, $s := .caddy.sites }}
	{{- if not (get $.features (get $s "feature")) }}{{ continue }}{{ end }}

	handle_path /{{ $name }}* {
		reverse_proxy localhost:{{ $s.port }}
	}
	{{- end }}
}
{{ end -}}
