{:logseq-agenda {:version "v3.13.1", :repo "haydenull/logseq-plugin-agenda", :effect true, :theme false}
 :logseq-bonofix-theme {:version "v3.10.5", :repo "sansui233/logseq-bonofix-theme", :effect false, :theme true}
 :logseq-git {:version "v1.7.0", :repo "haydenull/logseq-plugin-git", :effect true, :theme false}
:logseq-markdown-table {:version "v1.9.0", :repo "haydenull/logseq-plugin-markdown-table", :effect true, :theme false}
 :logseq-mark-map {:version "v0.4.6", :repo "vipzhicheng/logseq-plugin-mark-map", :effect true, :theme false}
 :logseq-mermaid-plugin {:version "v2.2.3", :repo "benjypng/logseq-mermaid-plugin", :effect true, :theme false}
 :logseq-smartblocks {:version "3.51", :repo "sawhney17/logseq-smartblocks", :effect true, :theme false}
 :logseq-tabs {:version "v1.19.4", :repo "pengx17/logseq-plugin-tabs", :effect true, :theme false}
 :logseq-vim-shortcuts {:version "v0.2.0", :repo "vipzhicheng/logseq-plugin-vim-shortcuts", :effect true, :theme false}
 :ollama-logseq {:version "v1.1.6", :repo "omagdy7/ollama-logseq", :effect true, :theme false}}
