[Unit]
Description=Process Compose global services
After=network.target

[Service]
Type=simple
Environment=HOME=%h
Environment=PC_CONFIG_FILES=%h/.config/process-compose/global.yaml
Environment=PC_LOG_FILE=%h/.local/state/process-compose/process-compose.log
Environment=PC_SOCKET_PATH=%h/.local/state/process-compose/global.sock
{{ $pc := index .allPackages "process-compose" -}}
{{ if eq $pc.type "mise" -}}
ExecStart={{ .chezmoi.homeDir }}/.local/bin/mise exec process-compose -- process-compose up --use-uds --tui=false --ordered-shutdown --logs-truncate --hide-disabled
{{ else -}}
ExecStart=process-compose up --use-uds --tui=false --ordered-shutdown --logs-truncate --hide-disabled
{{ end -}}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
