[Unit]
Description=Process Compose global services
After=network.target

[Service]
Type=simple
Environment=PC_CONFIG_FILES=%h/.config/process-compose/global.yaml
Environment=PC_LOG_FILE=%h/.local/state/process-compose/process-compose.log
Environment=PC_SOCKET_PATH=%h/.local/state/process-compose/pc.sock
ExecStart=process-compose up --use-uds --tui=false
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
