[Unit]
Description=Process Compose global services
After=network.target

[Service]
Type=simple
ExecStart=process-compose up --config %h/.config/process-compose/global.yaml --tui=false
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
