[Unit]
Description=Process Compose global services
After=network.target

[Service]
Type=simple
Environment=HOME=%h
Environment=PC_CONFIG_FILES=%h/.config/process-compose/global.yaml
Environment=PC_LOG_FILE=%h/.local/state/process-compose/process-compose.log
Environment=PC_SOCKET_PATH=%h/.local/state/process-compose/global.sock
Environment=PATH={{ .brewPrefix }}/bin:/usr/local/bin:/usr/bin:/bin
ExecStart=process-compose up --use-uds --tui=false --ordered-shutdown --logs-truncate --hide-disabled
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
