[settings]
{{- if eq .osID "alpine" }}
# FIXME(alpine): platform error (failed to install with ubi)
disable_backends = ["ubi"]
{{- end }}
idiomatic_version_file_enable_tools = [
  # "bun",
  # "deno",
  "go",
  # "java",
  "node",
  "python",
  "ruby",
  # "terraform",
  # "tiny",
]

{{- if .features.goss }}
[tasks.goss-validate]
dir = "~/.config/goss"
run = "goss --vars=vars.yaml validate"
{{- end }}

[tools]
{{- range $name, $pkg := .misePackages }}
{{ $name }} = {{ get $pkg "version" | default "latest" | quote }}
{{- end }}
