pip
# pipenv
# pipx
{{- if .features.neovim }}
pynvim
{{- end }}
{{- if not (eq .osIDLike "darwin" "debian") }}
uv
{{- end }}
{{- if eq .osIDLike "alpine" "arch" "fedora" }}
virtualenv
{{- else }}
venv
{{- end }}
