{{- if ne .osID "windows" -}}

{{- if ne .osID "darwin" -}}
# pip
{{ end -}}

# pipenv
# pipx

{{- if not (eq .osIDLike "android" "arch" "darwin" "debian" "opensuse" "rhel") }}
uv
{{- end }}

{{- if eq .osIDLike "alpine" "arch" "darwin" "fedora" }}
virtualenv
{{- else if and (ne .os "android") (not (eq .osIDLike "opensuse" "rhel")) }}
venv
{{- end }}

{{- end }}
