{{- if ne .osID "windows" }}
{{- if ne .osID "darwin" }}
# pip
{{- end }}
# pipenv
# pipx
{{- if .features.neovim }}
{{- if eq .osIDLike "fedora" }}
neovim
{{- else if ne .osID "darwin" }}
pynvim
{{- end }}
{{- end }}
{{- if not (eq .osIDLike "android" "arch" "darwin" "debian") }}
uv
{{- end }}
{{- if eq .osIDLike "alpine" "arch" "darwin" "fedora" }}
virtualenv
{{- else if ne .os "android" }}
venv
{{- end }}
{{- end }}
