#!/usr/bin/env bash
# {{ ansible_managed }}

# These match the functions below
networks="freenode"

# Server info functions
freenode() {
  nick="LEI"
  server="irc.freenode.net"
  channels=  #freenode
  port=7000
}

oftc() {
  server="irc.oftc.net"
  channels=
}
