#!/usr/bin/env bash

# These match the functions below
networks="freenode"

# Server info functions
freenode() {
  server="irc.freenode.net"
  channels="#freenode"
}

oftc() {
  server="irc.oftc.net"
  channels=
}
