{{- $ollamaHost := ternary "ollama" "host.docker.internal" (and .features.ollama (eq .os "linux") (not .features.quadlet)) -}}
{
  "$schema": "https://www.getbifrost.ai/schema",
  "providers": {
    "openrouter": {
      "keys": [
        {
          "name": "OpenRouter API Key",
          "value": "env.OPENROUTER_API_KEY",
          "weight": 1
        }
      ],
      "network_config": {
        "default_request_timeout_in_seconds": 300
      }
    },
    "ollama": {
      "keys": [
        {
          "name": "ollama-local",
          "value": "",
          "weight": 1
        }
      ],
      "network_config": {
        "base_url": "http://{{ $ollamaHost }}:11434",
        "default_request_timeout_in_seconds": 120
      }
    }
  }
}
