---
# https://github.com/benchmark-action/github-action-benchmark
name: benchmark

# Do not run this workflow on pull request since this workflow has permission to modify contents.
on: # yamllint disable-line rule:truthy
  # push:
  #   branches:
  #     - main
  workflow_dispatch:

permissions:
  # deployments permission to deploy GitHub pages website
  deployments: write
  # contents permission to update benchmark contents in gh-pages branch
  contents: write

jobs:
  benchmark:
    name: Performance regression check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Run bootstrap
        run: ./script/bootstrap
        env:
          CHEZMOI_PROFILE: minimal

      # Run benchmark and store the output to a file
      - name: Run benchmark
        # run: go test -bench 'BenchmarkFib' | tee output.txt
        run: ./script/bench | tee output.json

      # gh-pages branch is updated and pushed automatically with extracted benchmark data
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@4bdcce38c94cec68da58d012ac24b7b1155efe8b # v1.20.7
        with:
          name: Bash benchmark
          tool: customSmallerIsBetter
          output-file-path: output.json
          # Access token to deploy GitHub Pages branch or make a commit comment
          github-token: ${{ secrets.GITHUB_TOKEN }}
          # Push and deploy GitHub pages branch automatically
          auto-push: true
          # Workflow will fail when an alert happens
          fail-on-alert: true
          # Default: 200%
          alert-threshold: 150%
          # Enable alert commit comment
          comment-on-alert: true
          # Enable Job Summary for PRs
          summary-always: true
          # Mention @rhysd in the commit comment
          alert-comment-cc-users: "@LEI"
